.category-section {
  position: absolute;
  top: 64px;
  right: 0;
  left: 0;
  z-index: 999;

  display: block;
  flex-direction: column;

  transform: translate3d(0, -100%, 0);

  transition: transform 0.5s;

  &.show {
    transform: translate3d(0, 0, 0);
  }
}

.category-section-mobile {
  display: none;

  &.show {
    display: block;
  }
}

.category-section__content {
  display: flex;
  flex-grow: 1;

  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(83, 95, 148, 0.1);

  @include _media('<=desktop') {
    height: 100%;
  }
}

.category-section__menu {
  height: 100%;
  max-height: 100%;
  padding: 32px $_;

  box-shadow: 14px 0 30px -10px rgba(83, 95, 148, 0.1);
}

.category-section__submenu {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  padding: 32px $_;
  padding-left: 80px;

  .list-wrapper{
    margin-bottom: 30px;
  }

  .list__link {
    line-height: 24px;
  }

  .list__item + .list__item {
    margin-top: 4px;
  }
}

.category-section__caption {
  margin-bottom: 16px;

  font-size: 24px / 40px;
  line-height: 40px;
  color: #091032;
}