.category-section-mobile {
  position: fixed;
  top: 64px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;

  display: block;
  height: calc(100vh - 64px);
  flex-direction: column;
  padding: $_ 16px;

  overflow: hidden;

  background-color: #ffffff;

  transform: translateY(-100%);

  transition: transform 0.5s;

  &.show {
    transform: translateY(0%);
  }

  .menu, .category-section-mobile__footer {
    padding: $_ 16px;
  }
}

.category-section-mobile__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
}

.category-section-mobile .menu {
  position: fixed;
  left: 0;
  right: 0;
  top: 64px;
  bottom: 84px;
  padding: 16px $_;
  flex: 1 1 0;
  overflow-y: auto;
}

.category-section-mobile .menu__link--active {
  &:after {
    content: none;
  }
}

.category-section-mobile__caption {
  position: relative;

  display: block;
  height: 64px;
  padding: 16px $_;
  font-weight: bold;
  font-size: 20px;
  color: #091032;

  &:after {
    content: '';
    position: absolute;
    top: 100%;
    left: -16px;
    right: -16px;

    display: block;
    height: 2px;
    background-color: #E9EBF7;
  }
}

.category-section-mobile__footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: space-between;
  padding: 30px $_;

  &:before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: -16px;
    right: -16px;
    display: block;
    height: 2px;
    background-color: #E9EBF7;
  }
}

.category-section-mobile .menu {
  flex: 1 0 0;
}