-
    let categories = [
        {name: 'Электроника'},
        {name: 'Бытовая техника'},
        {name: 'Компьютерная техника'},
        {name: 'Строительство ремонт'},
        {name: 'Детям'},
        {name: 'Авто'},
        {name: 'Дом'},
        {name: 'Спорт и отдых'},
        {name: 'Красота'},
        {name: 'Здоровье'},
        {name: 'Зоотовары'},
    ]
-
    let categoryContents = [
        {
            title : 'Смартфоны и умные часы',
            items : ['Мобильные телефоны', 'Смартфоны', 'Кнопочные телефоны', 'Умные часы и браслеты', 'Акксесуары для телефонов']
        },
        {
            title: 'Портативная техника',
            items: ['Наушники', 'Портативная акустика', 'Очки виртуальной реальности', 'Планшеты', 'Умные колонки']
        },
        {
            title: 'Аудио и видеотехника',
            items: ['Телевизоры', 'Аудиотехника', 'Тюнеры', 'Медиаплееры', 'Мультимедия ']
        },
        {
            title: 'Фото и видео камеры',
            items: ['Фотоаппараты', 'Объективы', 'Экшен-камеры', 'Видекамеры', 'Квадракоптеры с камерой']
        },
        {
            title: 'Умный дом',
            items: ['Бытовая техника', 'Освещение и электрика', 'Электроника', 'Безопасность', 'Климат ']
        },
        {
            title: 'Игры и приставки',
            items: ['Игровые приставки', 'Рули, джостики', 'Аксессуары', 'Игры для приставко']
        },
    ]
.overflow
.category-section-mobile.u-only-phone

        .category-section-mobile__content
            h3.category-section-mobile__caption Рейтинг товаров
            ul.menu
                each category, index in categories
                    - let classes = ["menu__link"]
                    if index == 0
                        - classes.push("menu__link--active")

                    li.menu__item
                        +link(class=classes)
                            +svg-camera(16, 16)
                            | #{category.name}
            .category-section-mobile__footer
                +link()(class='dropdown__link link--primary-theme')
                    +svg-comment-plus(14, 14)
                    | Добавить товар
                +link()(class='dropdown__link link--primary-theme')
                    +svg-comment-text(14, 14)
                    | Написать отзыв


.category-section.u-not-phone
    .category-section__content
        .container
            .row
                div.columns.three-columns
                    div.category-section__menu
                        ul.menu
                            each category, index in categories
                                - let classes = ["menu__link"]
                                if index == 0
                                    - classes.push("menu__link--active")

                                li.menu__item
                                    +link(class=classes)
                                        +svg-camera(16, 16)
                                        | #{category.name}
                div.columns.nine-columns
                    .category-section__submenu
                        h3.category-section__caption Электроника
                        .row
                            each content in categoryContents
                                .columns.six-columns
                                    +list(content)



