.popover {
  background: #FFFFFF;
  box-shadow: 0px 4px 30px rgba(83, 95, 148, 0.1);
  border-radius: 10px;

  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  white-space: normal;
  line-break: auto;
  word-wrap: break-word;
  background-clip: padding-box;
}

.popover .arrow {
  position: absolute;
  right: 100%;

  display: block;
  size: 8px 16px;
}

.popover .arrow:after {
  content: "";

  position: absolute;
  display: block;
  size: 8px 16px;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 7.2 19.5'%3E%3Cpath d='M7.2 0v19.5c0-3.1-1.5-6-4-7.8 -0.3-0.2-0.7-0.4-1.1-0.5L1.2 11c-1.6-0.4-1.5-2.6 0.1-2.9 1-0.2 1.9-0.6 2.6-1.2C6 5.2 7.2 2.7 7.2 0z' fill='%23ffffff'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right center;
}

.popover-body {
  padding-top: 16px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 42px;
}