.dropdown__inner {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1000;

  min-width: 180px;

  visibility: hidden;
  opacity: 0;

  background: #FFFFFF;
  box-shadow: 0px 4px 80px rgba(95, 122, 169, 0.07), 0px 1.20588px 24.1177px rgba(95, 122, 169, 0.0456112), 0px 0.500862px 10.0172px rgba(95, 122, 169, 0.035), 0px 0.181152px 3.62304px rgba(95, 122, 169, 0.0243888);
  border-radius: 10px;

  transition: $transition-duration;
}

[data-toggle='dropdown'].active ~ .dropdown__inner,
[data-behavior="hover"]:hover  .dropdown__inner
{
  visibility: visible;
  top: calc(100% + 8px);
  opacity: 1;
}

.dropdown__inner.show {
  visibility: visible;
  top: calc(100% + 8px) !important;
  left: auto !important;
  opacity: 1;
}
