.dropdown__menu {
  padding: 16px $_;

  line-height: 2;

  transition: margin-top $transition-duration;

  &:before {
    content: '';
    position: absolute;
    bottom: calc(100% - 0.2px);
    right: 15%;

    size: 14px 3px;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='3' viewBox='0 0 13.9 2.9' fill='%23ffffff'%3E%3Cpath d='M13.9 2.9c-1.3 0-2.6-0.5-3.5-1.4l0 0c-1.9-1.9-5-1.9-7 0l0 0C2.6 2.3 1.3 2.9 0 2.9H13.9z' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: cover;

  }
}