.dropdown__button {
  position: relative;

  color: #ffffff #7381FB;

  border-radius: 5px;

  transition: $transition-duration;

  &:hover,
  &:focus {
    background-color: #5362EC;
  }
}


.dropdown__button[aria-expanded="true"]  {
  background-color: #EE9166;

  &:hover,
  &:focus {
    background-color: #E57738;
  }

  .dropdown__arrow {
    transform: rotate(180deg);
    transform-origin: 50% 50%;
  }
}
