.stepper-wrapper {
  counter-reset: counter-stepper;

  margin-bottom: 72px;
}

.stepper {
   & + & {

     margin-top: 32px;

     @include _media('>=desktop') {
       margin-top: 0;
     }

     .stepper__count:after {
       content: '';
       position: absolute;
       right: calc(100% + 16px);

       size: 0 0;
       border-bottom: 2px solid rgba(115, 129, 251, 0.14);

       @include _media('>=desktop') {
         width: 260%;
       }

       @include _media('>=hd-desktop') {
         width: 333%;
       }
     }
   }
}

.stepper__count {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  size: 100% 80px;
  margin: $_ auto;
  margin-bottom: 16px;

  font-weight: bold;
  font-size: 32px / 0;
  color: #9FA4B9 #FFFFFF;

  box-shadow: 0px 4px 80px rgba(95, 122, 169, 0.07), 0px 1.20588px 24.1177px rgba(95, 122, 169, 0.045), 0px 0.500862px 10.0172px rgba(95, 122, 169, 0.035), 0px 0.181152px 3.62304px rgba(95, 122, 169, 0.0243888);
  border-radius: 10px;

  &:before {
    counter-increment: counter-stepper;
    content: counter(counter-stepper);
  }

  @include _media('>=desktop') {
    size: 80px;
  }

}

.stepper__content {
  text-align: center;
}


.stepper__title {
  font-weight: bold;
  font-size: 20px / 1.5;
}
.stepper__text {
  font-size: 16px / 1.5;
}