.huge-text {
  margin-bottom: 16px;

  font-weight: bold;
  font-size: 32px;
  color: #091032;

  @include _media('>=tablet') {
    font-size: 56px;
  }
}

.huge-text--smaller {
  font-size: 24px;

  @include _media('>=tablet') {
    font-size: 32px;
  }
}