.useful {
  display: flex;
  align-items: center;

  color: #091032;
}

.useful--bad .useful__value {
  color: #FF6F5D;
}

.useful__prepend {
  margin-right: 12px;
}

.useful__value {
  margin: $_ 8px;

  font-weight: bold;
  color: #52B65C;
}

.useful__minus,
.useful__plus {
  display: flex;
  align-items: center;
  justify-content: center;
  size: 8px;

  line-height: 0;

  transition: $transition-duration;
  cursor: pointer;

  &:hover,
  &:focus {
    color: #7381FB;
  }
}