.pagination__item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  size: 32px;

  font-size: 14px / 0;
  color: #7381FB #ffffff;

  border: 1px solid #C6CBE1;
  border-radius: 50%;
  cursor: pointer;

  transition: 0.5s;

  & + & {
    margin-left: 8px;
  }

  &:hover,
  &:focus {
    background-color: #F4F5F9;
    border-color: #F4F5F9;
  }
}

// Modifiers

.pagination__item {

  &--hided {
    font-size: 15px;
    color: #525252;

    pointer-events: none;
    border: none;
    background: none;

    &:before {
      content: '...';
    }
  }

  &.active {
    color: #ffffff #7381FB;
    border-color: #7381FB;
    pointer-events: none;
  }
}