mixin pagination()
    ul.pagination.u-not-phone
        li.pagination__item
            +icon-double-arrow-left(12,10)
        li.pagination__item
            +icon-single-arrow-left(7,10)
        li.pagination__item 1
        li.pagination__item.pagination__item--hided
        li.pagination__item 56
        li.pagination__item.active 57
        li.pagination__item 58
        li.pagination__item.pagination__item--hided
        li.pagination__item 155
        li.pagination__item
            +icon-single-arrow-right(7,10)
        li.pagination__item
            +icon-double-arrow-right(12,10)

    ul.pagination.u-only-phone
        li.pagination__item.active 1
        li.pagination__item 2
        li.pagination__item 3
        li.pagination__item.pagination__item--hided
        li.pagination__item 155
        li.pagination__item
            +icon-single-arrow-right(7,10)

mixin pagination-desktop()
    ul.pagination.u-not-phone
        li.pagination__item
            +icon-double-arrow-left(12,10)
        li.pagination__item
            +icon-single-arrow-left(7,10)
        li.pagination__item 1
        li.pagination__item.pagination__item--hided
        li.pagination__item 56
        li.pagination__item.active 57
        li.pagination__item 58
        li.pagination__item.pagination__item--hided
        li.pagination__item 155
        li.pagination__item
            +icon-single-arrow-right(7,10)
        li.pagination__item
            +icon-double-arrow-right(12,10)
