.radio__input {
  @extend .visually-hidden;


  &:checked + .radio__box {
    border-color: #7381FB;

    &::after {
      background-color: #7381FB;
    }
  }

  &:focus + .radio__box,
  &:hover + .radio__box {
    border-color: #A8B1FD;

    &::after {
      background-color: #DDE1FE;
    }
  }

  &:checked:focus + .radio__box,
  &:checked:hover + .radio__box {
    border-color: #7381FB;

    &::after {
      background-color: #A8B1FD;
    }
  }

}
