.radio__box {
  position: relative;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  size: 16px;
  //margin-left: -24px;
  margin-right: 8px;

  border: 1px solid #E4E2E2;
  border-radius: 50%;

  &::after {
    content: '';
    border-radius: 50%;
    background-color: transparent;
    size: 10px;
  }
}
