.input__append {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: $_ 16px;

  font-size: 16px / 1;
  color: #7381FB;

  &:before {
    content: '';
    position: absolute;
    top: 8px;
    bottom: 8px;
    left: 0;

    border-left: 1px solid #DFE2E9;
  }

  &:hover {
    color: #FA8D50;
  }

  &:active,
  &:focus {
    color: #E67738;
  }
}

// MODIFIERS

.input__append {
  &--not-border {
    &:before {
      content: none;
    }
  }
}