.input__field {

  &:not(:last-child) {
    padding-right: 64px;
  }

  &:hover {
    & ~ .input__append {
      color: #fa8d50;
    }
  }

  &:focus {
    & ~ .input__append {
      color: #e67738;
    }
  }
}