.rating {
  display: flex;
  align-items: center;
  justify-content: flex-start;


  &--inverse {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
}

.rating--22 {
  margin-bottom: 22px !important;
}


.rating .rating-value {
  margin-left: 8px;
  margin-right: 0;
}

.rating--inverse .rating-value {
  margin-left: 0;
  margin-right: 8px;
}