.review {
}

.review__header {
  position: relative;
}

.review__actions {
  position: absolute;
  top: -48px;
  right: 0;

  @include _media('>=desktop') {
    top: 0;
  }
}

.review__extra {
  display: flex;
  flex-direction: column;


  @include _media(">=desktop") {
    flex-direction: row;
    align-items: center;
  }
}

.review__author-image-wrapper {
  position: relative;

  width: 32px;
  padding-bottom: 32px;
  margin-bottom: 16px;

  @include _media(">desktop") {
    width: 100%;
    padding-bottom: 100%;
    margin-bottom: 0;
  }

}

.review__author-image {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  size: 32px;
  object-fit: cover;

  border-radius: 50%;

  @include _media(">=desktop") {
    size: 100%;
  }
}

.review__author-statistics {
  display: flex;
  align-items: center;
  font-size: 16px / 40px;
  color: #9FA4B9;

  em {
    position: relative;
    font-style: normal;
  }

  & > em + em {
    margin-left: 20px;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      right: calc(100% + 8px);

      display: block;
      size: 4px;

      background-color: #9FA4B9;
      border-radius: 8px;

      transform: translateY(-50%);
    }
  }
}

.review__photos,
.review__videos, {
  display: flex;
  margin-bottom: 32px;
}

.review__photos {
  @include _media("<desktop") {
    & > .columns:nth-child(n + 4) {
      display: none;
    }

    & > .columns:nth-last-child(1) {
      display: block;
    }
  }
}

.review__videos {
  @include _media("<desktop") {
    & > .columns:nth-child(n + 2) {
      display: none;
    }

    & > .columns:nth-last-child(1) {
      display: block;
    }
  }
}

.review__photo-wrapper,
.review__video-wrapper {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 100%;

  overflow: hidden;
  border-radius: 5px;

  &--more {
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;

      display: block !important;
      size: 100%;
      background-color: rgba(0, 0, 0, 0.6);
    }
  }
}

.review__video-wrapper {
  padding-bottom: 66.6666%;
}

.review__photo,
.review__video {
  position: absolute 0 $_ $_ 0;
  size: 100%;

  display: block;
  object-fit: cover;
  object-position: center;
}

.review__photo-amount,
.review__video-amount, {
  position: absolute 50% $_ $_ 50%;
  z-index: 2;

  font-size: 16px / 1;
  color: #ffffff;

  transform: translate(-50%, -50%);
}

.review__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 32px;
}

.review__characteristics {
  position: relative;
  margin-top: -32px;
  margin-bottom: 48px;
}

.review__characteristic {
  margin-top: 32px;
}

.review__comments {
  padding: 32px $_;
}

.review__comment {
  margin-bottom: 32px;
}

.review__comment-time {
  font-size: 16px / 40px;
  color: #9FA4B9;
}

.review__comment-author-image-wrapper {
  position: relative;

  width: 32px;
  padding-right: 16px;
  padding-bottom: 32px;
  margin-bottom: 16px;

  border-radius: 50%;
  overflow: hidden;

  @include _media(">=desktop") {
    width: 100%;
    padding-bottom: 100%;
  }
}

.review__comment-author-image {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  size: 48px;
  object-fit: cover;
  object-position: center;


  @include _media(">=desktop") {
    size: 100%;
  }
}

.review__comment-actions {
  display: flex;
  margin-left: 16px;
}

.review__comment-text {
  margin-bottom: 16px;
}

.review__comment-info {
  display: flex;
  align-items: center;
}

.review__comment-header .useful {
  position: absolute;
  top: 0;
  right: 0;
}