.review-product {
  position: relative;

  display: flex;
  align-items: center;
  padding: $_ 16px;
  size: 100% auto;
  min-height: 80px;

  background-color: #ffffff;
  border-radius: 10px;

  @include _media('>=tablet') {
    padding: $_ 32px;
  }
}

.review-product--bigger {
  flex-direction: column;
  min-height: 144px;
  padding: 32px;

  font-size: 20px;

  box-shadow: 0px 4px 30px rgba(83, 95, 148, 0.1);

  @include _media(">=desktop") {
    flex-direction: row;
    padding: 0;
  }

  .review-product__remove {
    position: absolute;
    top: 16px;
    right: 16px;
  }

  .review-product__image {
    max-height: 80px;

    @include _media("<tablet") {
      margin-bottom: 16px;
    }
  }
}

.review-product__image {
  max-height: 44px;
}

.review-product__name {
  flex-grow: 1;
  margin-left: 16px;

  font-weight: bold;

  @include _media("<tablet") {
    text-align: center;
  }

  @include _media('>=tablet') {
    margin-left: 32px;
  }
}

.review-product__remove {
  color: $primary-color;

  cursor: pointer;
}