.informer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;

  background: #FFFFFF;
  border-radius: 10px;

  & > * {
    margin-bottom: 16px;
  }

  @include _media('>=desktop') {
    flex-direction: row;
    align-items: center;

    & > * {
      margin-bottom: 0;
    }
  }
}

.informer__divider {
  display: none;
  size: 0 30px;
  margin-left: 20px;

  border-left: 2px solid #E0E1E8;

  @include _media('>=desktop') {
   display: block;
  }
}

.informer__text {
  flex-grow: 1;

  font-weight: normal;
  font-size: 16px;
  color: #091032;

  @include _media('>=desktop') {
    margin-left: 32px;
  }
}

.informer__button {
  size: 100% 48px;
  padding: 0;

  @include _media(">=desktop") {
    size: 171px 48px;
  }
}