.landing-register {
  width: 100%;

  @include _media('>=desktop') {
    width: 400px;
  }
}

.landing-images {
  @extend .swiper-container;
  overflow: visible;
}

.landing-images-wrapper {
  @extend .swiper-wrapper;
}

.landing-image {
  position: relative;

  flex-shrink: 0;
  overflow: hidden;

  background: #FAF0F0;
  box-shadow: 0 4px 40px rgba(95, 122, 169, 0.07);
  border-radius: 8px;

  cursor: pointer;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    display: block;
    size: 100%;

    background-color: rgba(9, 16, 50, 0.57);
    backdrop-filter: blur(10px);
    opacity: 0;

    transition: opacity $transition-duration;
  }

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;

    display: block;
    size: 54px;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='53' height='54' viewBox='0 0 53 54' fill='none'%3E%3Cpath d='M52 50.1L39.3 37.1C42.5 33.2 44.4 28.2 44.4 22.7 44.4 10.2 34.4 0 22.2 0 9.9 0 0 10.2 0 22.7 0 35.3 9.9 45.5 22.2 45.5 27.5 45.5 32.4 43.5 36.2 40.3L48.9 53.3C49.7 54.1 51.1 54.1 52 53.3 52.8 52.4 52.8 51 52 50.1ZM22.2 40.9C12.4 40.9 4.4 32.8 4.4 22.7 4.4 12.7 12.4 4.5 22.2 4.5 32 4.5 40 12.7 40 22.7 40 32.8 32 40.9 22.2 40.9Z' fill='white'/%3E%3Cpath d='M23.7 21.4H30.9C31.7 21.4 32.4 22 32.4 22.8 32.4 23.6 31.7 24.3 30.9 24.3H23.7V31.7C23.7 32.5 23.1 33.2 22.2 33.2 21.4 33.2 20.8 32.5 20.8 31.7V24.3H13.6C12.8 24.3 12.1 23.6 12.1 22.8 12.1 22 12.8 21.4 13.6 21.4H20.8V13.9C20.8 13.1 21.4 12.4 22.2 12.4 23.1 12.4 23.7 13.1 23.7 13.9V21.4Z' fill='white'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0;

    transform: translate(-50%, -50%);
  }

  &:hover,
  &:focus {
    &:before,
    &:after {
      opacity: 1;
    }

  }
}

.landing-image__image {
  size: 100%;

  object-fit: cover;
  object-position: center;
}