.button {
  display: inline-block;
  min-width: 170px;

  padding: 14px 24px;

  font-weight: bold;
  font-size: 16px;
  color: #ffffff #7381FB;
  text-align: center;

  border-radius: 5px;

  transition: $transition-duration;

  &:hover,
  &:focus {
    background-color: #5362EC;
  }

  &:active {
    background-color: #4656E1;
  }

}

// MODIFIERS

.button {

  &--fullw-phone {
    @include _media('<tablet') {
      width: 100%;
      padding: 12px 0;
    }
  }

  &--fullw {
    width: 100%;
    padding: $_ 12px;
  }

  &--white {
    min-width: auto;
    width: 112px;
    color: #7381FB #ffffff;

    &:hover,
    &:focus {
      color: #ffffff #939EFF;
    }

    &.active,
    &:active {
      color: #ffffff #7381FB;
    }
  }

  &--light {
    color: #7381FB #F0F2FF;

    &:hover,
    &:focus,
    &:active  {
      color: #5664DF #E4E7FB;
    }
  }

  &--smaller {
    padding: 12px $_;
  }

  &--tiny {
    padding: 7px $_;
  }

  &--w-auto {
    width: auto;
    min-width: auto;
    padding: $_ 16px;
  }

  &--wide {
    padding: $_ 46px;
  }

  &--rounded {
    padding: 7px 16px;

    font-weight: normal;
    color: #091032 #ffffff;

    box-shadow: 0px 4px 15px rgba(83, 95, 148, 0.1);
    border-radius: 100px;

    &:hover,
    &:focus {
      color: #ffffff #939EFF;
    }

    &.active,
    &:active {
      color: #ffffff #7381FB;
    }
  }

  &--iconed {
    min-width: 48px;
    size: 48px;
    padding: 0;
    line-height: 0;

    border-radius: 5px;

    @include _media('>=tablet') {
      border-radius: 10px;
    }
  }

  &--gray {
    color: #EE9166 #F4F5F9;

    &:hover,
    &:focus {
      color: #F4F5F9 #EE9166;
    }
  }

  &--sm {
    @include _media('<desktop') {
      min-width: auto;
      size: 128px 48px !important;
      padding: 0 !important;
    }
  }
}