.text {
  font-weight: normal;
  font-size: 16px / 24px;
  //color: #091032;
  margin-bottom: 16px;

}

// MODIFIERS

.text {
  &--success {
    color: #52B65C;
  }

  &--bigger {
    font-weight: bold;
    font-size: 20px;
  }
}