.menu__link {
  position: relative;

  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 16px / 28px;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    border-left: 2px solid #E3E6FE;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;

    opacity: 0;

    transition: opacity $transition-duration;
  }
}

.menu__link {

  &:hover {
    &:after {
      content: '';

      opacity: 1;
    }
  }

  &.active {
    color: #7381FB;

    &:after {
      content: '';

      border-color: #7381FB;

      opacity: 1;
    }
  }
}

.menu__link {
  svg {
    flex-shrink: 0;
   // margin-top: 8px;
    margin-right: 12px;
  }
}