.profile {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.profile__button {
  line-height: 0;
}

.profile__thumb {
  display: inline-block;
  size: 24px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center center;

  @include _media('>=desktop') {
    size: 32px;
  }
}

.profile__button:hover,
.profile__button:focus,
.profile__button.active
{
  .profile__thumb {
    box-shadow: 0 0 0 2px #D6E0FF;
  }
}


.profile__dropdown {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  .dropdown__item + .dropdown__item{
    margin-top: 8px;
  }
}
