.drag-drop {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 16px;

  text-align: center;

  background: #FBFCFF;
  border: 1px dashed #C6CBE1;
  border-radius: 5px;
}

.drag-drop__image {
  display: block;
  margin-bottom: 20px;
}