.signup-link-row {
  display: flex;
  align-items: center;
}

.modal .signup-link-row {
  justify-content: space-between;
}


.signup-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  size: 48px;

  line-height: 1;

  border: 1px solid #d2dce8;
  border-radius: 5px;

  outline: none;

  transition: 0.5s;

  & + & {
    margin-left: 16px;
  }

}

// MODIFIERS

.signup-link {

  &--vk {
    color: #4f719b;

    &:hover,
    &:focus {
      color: #ffffff #4f719b;
      border-color: #4f719b;
    }
  }

  &--yandex {
    color: #d7143a;

    &:hover,
    &:focus {
      color: #ffffff #d7143a;
      border-color: #d7143a;
    }
  }

  &--facebook {
    color: #32589c;

    &:hover,
    &:focus {
      color: #ffffff #32589c;
      border-color: #32589c;
    }
  }

  &--google {

    &:hover,
    &:focus {
      background-color: #F4F5F9;
      border-color: #F4F5F9;
    }
  }
}