.text-link {
  display: inline-block;

  font: inherit;
  text-decoration: none;
  color: #ee9166;

  outline: none;

  transition: $transition-duration;

  &:hover,
  &:focus {
    color: #ffffff #ee9166;

    .link__inner:after {
      content: none;
    }
  }
}