.color__link {
  display: inline-block;
  size: 24px;

  background-color: var(--color);
  border-radius: 50%;
}

.color-wrapper {
  display: grid;

  grid-gap: 16px;
  grid-template-columns: repeat(auto-fill, 24px);

  list-style: none;
}

