.section-404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  flex-grow: 1;
  padding: 80px $_;

  border-bottom: 1px solid #E4E2E2;
}

.section-404 .row {
  @include _media("<desktop") {
    align-items: center;
  }
}

.section-404__404 {
  display: inline-block;

  @include _media(">=desktop") {
    margin-bottom: 16px;
  }
}

.section-404__text {
  @include _media('<desktop') {
    margin-top: 16px;
  }
}

.section-404__icon {

  @include _media('<desktop') {
    size: 42px 48px;
  }
}