.burger {
  position: relative;

  display: inline-block;
  size: 20.36px 13px;

  @include _media('>desktop') {
    size: 16px 12px;
  }
}

// MODIFIERS

.burger {

  &.active {

    .burger__inner {
      transform: translate3d(0, 5px, 0) rotate(45deg);

      &:before {
        opacity: 0;
      }

      &:after {
        transform: translate3d(0,0,0) rotate(-90deg);
      }
    }
  }
}
