.burger__inner {
  &,
  &:before,
  &:after {
    position: absolute 0 $_ $_ $_;

    display: block;
    size: 20.36px 2.2px;

    background-color: currentColor;

    transition-timing-function: ease;
    transition-duration: 0.15s;
    transition-property: transform,opacity;

    @include _media('>tablet') {
      size: 16px 2px;
    }
  }

  &:before {
    content: "";
    transform: translateY(5px);
  }

  &:after {
    content: '';
    transform: translateY(10px);
  }
}