.list {
  display: flex;
  flex-direction: column;

  list-style: none;
}

.list--thin {
  .list__item + .list__item {
    margin-top: 8px;
  }
}


// Modifiers

.list {
  &--padding {
    padding-left: 28px;
  }

}