mixin list(list)
    div.list-wrapper(class!=attributes.class)
        if list.title
            p.list-title
                a.link
                    if list.icon
                        | !{list.icon}
                    | #{list.title}
        - let classes = ['list']
        if list.icon
            - classes.push('list--padding')
        ul(class = classes)
            each item in list.items
               li.list__item
                - let link = '#'
                - let title = item

                if (item.link)
                    - link = item.link
                if (item.name)
                    - title = item.name

                a.link.list__link(href=link)= title
        if (block)
            block