.tabs__link {
  position: relative;

  display: inline-block;
  height: 100%;
  padding-bottom: 16px;

  font-weight: 500;
  font-size: 16px;
  color: #9FA4B9;
  white-space: nowrap;

  outline: none;

  transition: $transition-duration;

  &:after {
    position: absolute $_ 0 0 0;

    display: block;
    border: 1px solid rgba(115, 129, 251, 0.29);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    transform: translateY(50%);
  }

  &:hover,
  &:focus {
    color: #7381FB;

    &:after {
      content: '';
    }
  }
}

// MODIFIERS

.tabs__link {
  &--active {
    color: #7381FB;
  }
}