.tabs__line {
  position: absolute;
  bottom: 0;

  height: 2px;
  margin: 10px 0 0 0;

  background: #7381FB;;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  transform: translateY(50%);
}
