mixin tabs(items)
    ul.nav.tabs(class!=attributes.class, role="tablist")
        each item in items
            li.tabs__item
                if (item.active)
                    a.tabs__link.tabs__link--active(href=`#${item.link}`, data-toggle="tab", role="tab")= item.name
                else
                    a.tabs__link(href=`#${item.link}`, data-toggle="tab", role="tab")= item.name
        .tabs__line