.swiper-container {
  position: relative;
  z-index: 1;

  margin: $_ auto;
  padding: 0;

  list-style: none;
}

.swiper-wrapper {
  position: relative;
  z-index: 1;

  display: flex;
  size: 100%;
  box-sizing: inherit;

  transition-property: transform;

  transform: translate3d(0px,0,0);
}

.swiper-slide {
  flex-shrink: 0;
  height: auto;
}