.ordered-list {
  padding-left: 16px;

  list-style-position: inside;

  counter-reset: listcounter 0;
}

.ordered-list > li {
  list-style: none;

  &:before {
    counter-increment: listcounter;
    content: counter(listcounter) ") "
  }

  & + li {
    margin-top: 1rem;
  }
}

// MODIFIERS

.ordered-list {
  &--not-padding {
    padding-left: 0;
  }
}