.rating-value {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  size: 45px 22px;
  //padding: 4px 11px;

  font-weight: 500;
  font-size: 16px / 1;
  color: #ffffff #52B65C;

  border-radius: 3px;

  & + * {
    margin-right: 8px;
  }

  &--thin {
    size: 31px 16px;
  }
}

.rating-value--temporary {
  background-color: #C6CBE1;
}

$j : 0.0;
@while $j < 5.0 {
  $tmp : $j;

  @if (str_length(quote($j)) == 1) {
    $tmp : $tmp + '.0';
  }
  $selector : str-replace(quote($tmp), '\.', '\\.');

  .rating-value--#{$selector} {
    @if ($j < 3.0) {
      background: #FF6F5D;
    } @else if ($j < 4.0) {
      background: #FA8D50;
    } @else {
      background: #52B65C;
    }
  }

  $j: $j + 0.1;
}
