.help-container {
  position: relative;
}

.help-link {
  position: absolute;
  bottom: 0.5rem;
  left: calc(100% + 8px);

  size: 16px;

  background-color: $primary-color;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='9' viewBox='0 0 5 9' fill='none'%3E%3Cpath d='M4.3 2.6C4.3 2.9 4.3 3.2 4.2 3.4 4.1 3.6 4 3.9 3.8 4 3.7 4.2 3.5 4.3 3.3 4.5 3.1 4.6 2.8 4.6 2.6 4.7L2.5 5.7C2.5 5.8 2.5 5.8 2.4 5.9 2.3 5.9 2.1 5.9 1.9 5.9 1.8 5.9 1.7 5.9 1.6 5.9 1.6 5.9 1.5 5.9 1.4 5.9 1.4 5.9 1.4 5.8 1.3 5.8 1.3 5.8 1.3 5.8 1.3 5.7L1.2 4.4C1.2 4.3 1.2 4.2 1.3 4.1 1.3 4.1 1.3 4 1.3 4 1.4 3.9 1.4 3.9 1.5 3.9 1.5 3.9 1.6 3.9 1.7 3.9H1.8C2 3.9 2.1 3.8 2.3 3.8 2.4 3.7 2.5 3.6 2.6 3.5 2.7 3.4 2.8 3.3 2.8 3.2 2.9 3 2.9 2.9 2.9 2.7 2.9 2.5 2.9 2.4 2.8 2.2 2.8 2.1 2.7 2 2.6 1.9 2.5 1.7 2.4 1.7 2.2 1.6 2.1 1.6 1.9 1.5 1.7 1.5 1.5 1.5 1.3 1.5 1.2 1.6 1 1.6 0.9 1.7 0.8 1.7 0.7 1.7 0.6 1.8 0.6 1.8 0.5 1.9 0.4 1.9 0.4 1.9 0.4 1.9 0.4 1.9 0.3 1.9 0.3 1.8 0.3 1.8 0.3 1.8 0.3 1.7 0.3 1.7 0.2 1.6 0.2 1.5 0.2 1.4 0.2 1.3 0.2 1.1 0.2 1 0.2 1 0.3 0.9 0.3 0.9 0.3 0.8 0.4 0.8 0.4 0.8 0.5 0.7 0.6 0.7 0.8 0.6 0.9 0.6 1 0.5 1.2 0.5 1.4 0.5 1.5 0.4 1.7 0.4 1.9 0.4 2.3 0.4 2.7 0.5 3 0.6 3.3 0.7 3.6 0.9 3.8 1.1 4 1.3 4.1 1.5 4.2 1.8 4.3 2 4.3 2.3 4.3 2.6ZM2.7 7.3C2.7 7.4 2.7 7.6 2.7 7.7 2.7 7.8 2.6 7.8 2.6 7.9 2.5 8 2.4 8 2.3 8 2.2 8.1 2.1 8.1 1.9 8.1 1.8 8.1 1.7 8.1 1.6 8 1.5 8 1.4 8 1.3 7.9 1.3 7.8 1.2 7.8 1.2 7.7 1.2 7.6 1.2 7.4 1.2 7.3 1.2 7.1 1.2 7 1.2 6.9 1.2 6.8 1.3 6.7 1.3 6.6 1.4 6.6 1.5 6.5 1.6 6.5 1.7 6.5 1.8 6.5 1.9 6.5 2.1 6.5 2.2 6.5 2.3 6.5 2.4 6.5 2.5 6.6 2.6 6.6 2.6 6.7 2.7 6.8 2.7 6.9 2.7 7 2.7 7.1 2.7 7.3Z' fill='white'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center center;

  border-radius: 100%;
}

.help {

}