.overflow {
  position: fixed 0 0 0 0;
  z-index: 998;

  visibility: hidden;
  opacity: 0;

  backdrop-filter: blur(20px);

  transition: 0.5s;
}

.overflow.show {
  visibility: visible;
  opacity: 1;
}