*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  font: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  color: inherit;
  font: inherit;
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

hr {
  display: block;
  border: none;
  //border-bottom: 2px solid #C6CBE1;
  border-bottom: 1px solid #D2DCE8;

  &.full-screen {
    position: relative;
    width: 9999px;
    left: -100vw;
    border-color: rgba(115, 129, 251, 0.14);
  }

  &.darker {
    border-color: #C6CBE1;
  }

  &.lighter {
    border-color: #e6e6e6;
  }


  &.dashed{
    border-bottom-style: dashed;

    @include _media('<desktop') {
      margin: $_ 0px;
    }

    @include _media('<tablet') {
      margin: $_ -32px;
    }
  }

  &.full {
    @include adaptive {
      margin-left: -16px;
      margin-right: -16px;
    }
  }
}

.overflow-mirror {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 98;
  display: none;
  size: 100%;
  background: rgba(211, 229, 251, 0.11);
  backdrop-filter: blur(12px);

  &.active {
    display: block;
  }
}