@mixin fluid-type($property, $min-value, $max-value, $min-vw, $max-vw) {
  & {
    #{$property}: $min-value;

    @media screen and (min-width: $min-vw) {
      #{$property}: calc(#{$min-value} + #{strip-unit($max-value - $min-value)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
    }

    @media screen and (min-width: $max-vw) {
      #{$property}: $max-value;
    }
  }
}

@mixin asIcon($name) {
  @extend .icon;
  @extend .icon--#{$name}:before;
}


$cssCustomProperties : ();

@mixin property($cssProperty, $customProperty, $useFallback : true) {
  @if $useFallback {
    #{$cssProperty}: map-get($cssCustomProperties, $customProperty);
  }
  #{$cssProperty}: var(unquote('--#{$customProperty}'));
}

@mixin partAdaptive() {
  & {
    @content
  }

  &-phone {
    @include _media(">=phone") {
      @content
    }
  }

  &-tablet {
    @include _media(">=tablet") {
      @content
    }
  }

  &-desktop {
    @include _media(">=desktop") {
      @content
    }
  }
}

@mixin adaptive() {

  & {
    @content
  }

  &-phone {
    @include _media(">=phone") {
      @content
    }
  }

  &-not-phone,
  &-tablet,
  &-only-tablet {
    @include _media(">=tablet") {
      @content
    }
  }

  &-desktop,
  &-only-desktop,
  &-not-tablet {
    @include _media(">=desktop") {
      @content
    }
  }

  &-only-tablet,
  &-not-desktop {
    @include _media('<desktop') {
      @content
    }
  }

  &-only-phone,
  &-not-tablet {
    @include _media("<tablet") {
      @content
    }
  }

}