// ===============================
// SASS variables
// ===============================
$_ : unquote("*"); // для возможности игнорировать * для плагина postcss-short

$blue-color-100: #f0f2ff;
$blue-color-200: #e4e7fb;
$blue-color-300: #e3e6fe;
$blue-color-400: #939eff;
$blue-color-500: #7381fb;
$blue-color-600: #5362ec;
$blue-color-700: #5664df;
$blue-color-800: #4656e1;

$orange-color-100: #fee6d9;
$orange-color-200: #fa8d50;
$orange-color-300: #ee9166;
$orange-color-400: #e57738;

$gray-100: #f4f5f9;
$gray-200: #c6cbe1;
$gray-300: #9fa4b9;
$gray-400: #8094ae;

$green-color: #52b65c;
$white-color: #ffffff;
$red-color: #ff6f5d;
$dark-color: #091032;


$primary-color: $blue-color-500;
$primary-dark-color: $dark-color;
$secondary-color: $orange-color-300;

$hd-desktop : 1440px;
$desktop : 1264px;
$tablet  : 752px;
$phablet : 568px;
$phone   : 336px;

$transition-duration : 0.5s;

$cssCustomProperties: (
    background-color: $gray-100,

    social-fill: $blue-color-300,
    social-color: $primary-color,
    social-fill--adh: $orange-color-100,
    social-color--adh: $orange-color-200,

    success-color : $green-color,
    warning-color : $orange-color-200,
    error-color : $red-color
);



// :root custom properties generator
:root {
  @each $property, $value in $cssCustomProperties {
    --#{$property}: #{$value};
    --#{$property}--rgb: #{hexToRGB($value)};
  }
}

