.container {
  width: 100%;
  margin: $_ auto;
  padding: $_ 16px;

  /*@media screen and (min-width: $phablet) {
    width: 532px;
  }*/

  @media screen and (min-width: $tablet) {
    width: 656px;
  }

  @media screen and (min-width: $desktop) {
    width: 976px;
  }

  @media screen and (min-width: $hd-desktop) {
    width: 1152px;
  }
}

.container-only-desktop {
  width: 100%;
  margin: $_ auto;
  padding: $_ 16px;

  @media screen and (min-width: $desktop) {
    width: 976px;
  }

  @media screen and (min-width: $hd-desktop) {
    width: 1152px;
  }
}