.caption {
  margin-bottom: 16px;

  font-weight: bold;
  font-size: 32px;

  color: #091032;

  @include _media(">=desktop") {
    font-size: 48px;
  }
}

.caption-2 {
  @extend .caption;

  font-size: 24px;

  @include _media(">=desktop") {
    font-size: 32px;
  }
}

.caption-3 {
  @extend .caption;
  font-size: 20px;

  @include _media(">=desktop") {
    font-size: 24px;
  }
}

.caption-4 {
  @extend .caption;

  font-size: 20px;

  @include _media(">=desktop") {
    font-size: 20px;
  }
}

.caption-5 {
  @extend .caption;
  font-size: 16px !important;

  @include _media(">=desktop") {
    font-size: 16px !important;
  }
}