.rating-stars-wrapper {
  display: inline-block;
}

.rating-stars {
  display: inline-block;

  list-style: none;
  font-size: 0;
  white-space: nowrap;
}

.rating-stars--selectable {
  .rating-stars__item {
    cursor: pointer;
  }
}