mixin stars(amount = 0)
    - let n = 1;
    ul.rating-stars
        while n <= 5
            if n++ <= amount
                li.rating-stars__item.rating-stars__item--selected
                    +svg-star(17, 17)
            else
                li.rating-stars__item
                    +svg-star(17, 17)

mixin stars-big(amount = 0)
    - let n = 1;
    ul.rating-stars
        while n <= 5
            if n++ <= amount
                li.rating-stars__item.rating-stars__item--selected(class=attributes.class)
                    +svg-star(24, 24)
            else
                li.rating-stars__item(class=attributes.class)
                    +svg-star(24, 24)


mixin stars-selectable(amount = 0)
    - let n = 1;
    .rating-stars-wrapper
        input(type="hidden", name=attributes.name, class="visually-hidden")
        ul.rating-stars.rating-stars--selectable(data-value=`${amount}`)
            while n <= 5
                if n++ <= amount
                    li.rating-stars__item.rating-stars__item--selected(data-value=`${n - 1}`)
                        +svg-star(24, 24)
                else
                    li.rating-stars__item(data-value=`${n - 1}`)
                        +svg-star(24, 24)