.aside {
  position: absolute;
  top: -64px;
  left: 0;

  display: none;
  width: 100%;
  height: calc(100% + 64px);
  padding: 16px;
  padding-top: 19px;

  overflow: hidden;

  background: #FFFFFF;
  box-shadow: 0px 4px 30px rgba(83, 95, 148, 0.1);

  @include _media(">=desktop") {
    display: block;
    width: 224px;
  }

  &.active {
    top: 0;
    z-index: 999;

    display: block;
    height: auto;
    padding: 0 $_;
    box-shadow: 0px 15px 30px rgba(83, 95, 148, 0.1);
  }
}

.aside__menu {
  margin-right: -16px;
}

.aside-link {
  @include _media('>=desktop') {
    display: none;
  }
}