mixin characteristics(items, asNumber=true)
    .characteristics(class!=attributes.class)
        each item in items
            .characteristics__item
                .characteristics__item-name= item.name
                .characteristics__item-rating-wrapper
                    if asNumber
                        .characteristics__item-rating(class=`rating-value--${item.rating}`)= item.rating.replace(".", ",")
                    +stars(item.rating)