.characteristics {
  display: flex;

  font-weight: 500;
  font-size: 14px;

  list-style: none;

  @include _media('>=desktop') {
    font-size: 16px;
  }
}

// MODIFIERS

.characteristics {

  &--bolder {
    .characteristics__item-name {
      font-weight: bold;
    }
  }

  &--column {
    flex-direction: column;
  }

  &--column2row {
    flex-direction: column;

    @include _media('>=desktop') {
      flex-direction: row;
    }
  }

  &--row2column {
    flex-direction: row;

    @include _media('>=desktop') {
      flex-direction: column;
    }
  }
}

.characteristics__item-rating-wrapper {
  display: inline-flex;
  align-items: center;
}