.characteristics__item {
  display: flex;
  align-items: flex-start;
  flex: 0 1 0;

  & + & {
    margin-top: 16px;

    @include _media('>=desktop') {
      margin-top: 0;
    }
  }
}

// MODIFIERS

.characteristics {

  &--column {
    .characteristics__item {
      flex-direction: row;
    }
  }

  &--column2row {
    .characteristics__item {
      flex-direction: row;

      @include _media('>=desktop') {
        flex-direction: column;
      }
    }
  }

  &--row2column {
    .characteristics__item {
      flex-direction: column;

      @include _media('>=desktop') {
        flex-direction: row;
      }
    }
  }
}