.characteristics__item-rating {
  display: inline-block;
  flex-shrink: 0;
  size: 32px 16px;
  margin-right: 10px;

  font-size: 14px / 16px;
  font-weight: 400;
  color: #ffffff #52B65C;
  text-align: center;

  border-radius: 2px;
}