mixin blind(value)
    .blind
        .blind__visible
            .u-row-between.u-bold
                strong Уровень заполненности отзыва
                strong= `${value}%
            .progressbar.u-mb-0
                div(class="progressbar__bar", class=attr)
                ..progressbar__bar--gray(progressbar__bar--25
        .blind__hidden
            p.text.u-gray Какой-то текст обьясняющий в чем выгода фулл заполненного отзыва
            p.text.u-bold Общая оценка
            p.text.u-gray (Формируется автоматически)

            .rating.rating--inverse.u-mb-32px.u-mt-8px
                + stars-big(4.3)
                span.rating-value 4,3