.blind {
  position: fixed;
  top: 64px;
  left: 0;
  width: 100%;
  z-index: 998;

  display: block;
  padding: 8px 16px;
  padding-bottom: 12px;

  box-shadow: 0px 9px 15px rgba(83, 95, 148, 0.1);

  background-color: #ffffff;

  &.active {
    .blind__hidden {
      display: block;
    }

    .blind__button svg {
      transform: rotate(-180deg);
    }
  }

  &:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;

    size: 100px 50px;

    border-radius: 0 0 75px 75px;

    transform: translate(-50%, -45%) scale(0.5);
    background-color: #ffffff;

  }

  @include _media(">=desktop") {
    display: none;
  }

}

.blind__visible {

}

.blind__hidden {
  display: none;
  margin-top: 20px;
}

.blind__button {
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 1;

  display: flex;
  justify-content: center;
  size: 44px 14px;

  color: $primary-color;

  transform: translateX(-50%);

  svg {
    transform-origin: top;
    transition: 0.5s;
    transform: rotate(0deg);
  }
}