-
    var characteristics = [
        {name: 'Камера', rating: '4'},
        {name: 'Качество', rating: '3'},
        {name: 'Цена', rating: '5'},
        {name: 'Морозилка', rating: '2'}
    ]

-
    var cards = [
                {
                    title: 'Холодильник Samsung',
                    image: 'fridge',
                    rating : '4,7',
                    reviews: '256 отзывов',
                    status : '№1 из 2467 товаров в рейтинге.',
                    characteristics : [{name: 'Камера', rating: '4'}, {name: 'Качество', rating: '3'}, {name: 'Цена', rating: '5'}, {name: 'Морозилка', rating: '2'}],
                    comments : [
                        {
                            author : {name : 'Иванов Иван', avatar : 'assets/images/valov.png'},
                            text : "<p><strong>Отзыв о товаре</strong>:Чайник Philips premium edit 348 model еще какой-то текст</p><p>Лучший пылесос в своем ценовом диапазоне. Очень качественная сборка и надежные...</p>"
                        }
                    ]
                },
                {
                    title: 'Чайник Philips premium edit 348 model testing test',
                    image: 'philips',
                    rating: '4,3',
                    reviews: '256 отзывов',
                    status: '№1 из 2467 товаров в рейтинге.',
                    characteristics: [{name: 'Камера', rating: '4'}, {name: 'Качество', rating: '3'}, {name: 'Цена', rating: '5'}, {name: 'Морозилка', rating: '2'}],
                    comments: [
                        {
                            author: {name: 'Иванов Иван', avatar: 'assets/images/valov.png'},
                            text: "<p><strong>Отзыв о товаре</strong>:Чайник Philips premium edit 348 model еще какой-то текст</p><p>Лучший пылесос в своем ценовом диапазоне. Очень качественная сборка и надежные...</p>"
                        }
                    ]
                }
            ]
-
    var tabs = [
                {name: 'Электроника', link: 'tab-1', value: '', active: true},
                {name: 'Бытовая техника', link: 'tab-2', value: ''},
                {name: 'Компьютерная техника', link: 'tab-3', value: ''},
                {name: 'Строительство и ремнот', link: 'tab-4', value: ''}
            ]

-
    var lists = [
        {
            title : 'Электроника',
            icon : "<img class='list__icon' src='assets/images/camera.svg' alt=''>",
            items : [
                {link : '', name : 'Смартфоны и умные часы'},
                {link : '', name : 'Фото и видео камеры'},
                {link : '', name : 'Портативная техника'},
                {link : '', name : 'Умный дом'},
                {link : '', name : 'Аудио и видеотехника'},
            ]
        },
        {
            title: 'Бытовая техника',
            icon : "<img class='list__icon' src='assets/images/fridge.svg' alt=''>",
            items: [
                {link: '', name: 'Смартфоны и умные часы'},
                {link: '', name: 'Фото и видео камеры'},
                {link: '', name: 'Портативная техника'},
                {link: '', name: 'Умный дом'},
                {link: '', name: 'Аудио и видеотехника'},
            ]
        },
        {
            title: 'Компьютерная техника',
            icon : "<img class='list__icon' src='assets/images/mouse.svg' alt=''>",
            items: [
                {link: '', name: 'Смартфоны и умные часы'},
                {link: '', name: 'Фото и видео камеры'},
                {link: '', name: 'Портативная техника'},
                {link: '', name: 'Умный дом'},
                {link: '', name: 'Аудио и видеотехника'},
            ]
        },
        {
            title: 'Строительство и ремонт',
            icon : "<img class='list__icon' src='assets/images/home.svg' alt=''>",
            items: [
                {link: '', name: 'Смартфоны и умные часы'},
                {link: '', name: 'Фото и видео камеры'},
                {link: '', name: 'Портативная техника'},
                {link: '', name: 'Умный дом'},
                {link: '', name: 'Аудио и видеотехника'},
            ]
        }
    ]