.select__list {
  position: absolute calc(100% + 16px) 0 $_ 0;
  z-index: 2;

  display: block;

  background: #FFFFFF;
  box-shadow: 0 4px 30px rgba(83, 95, 148, 0.1);
  border-radius: 5px;

  opacity: 0;
  pointer-events: none;

  list-style: none;

  transition: all $transition-duration;
}

.select--opened .select__list {
  height: auto;
  opacity: 1;
  pointer-events: all;
}