mixin select(label, name, items)
    .select(class!=attributes.class)
        .select__box
            +svg-arrow-down(10, 7)(class='select__arrow')
            .select__value(tabindex="0", aria-label=label)
                .select__value-inner= items[0].name
            .select__list
                each item, key in items
                    input.select__radio.visually-hidden(type="radio", name=name, value=item.value, id=`${name}-${key}`)
                    label.select__option(for=`${name}-${key}`)= item.name