.select__value {
  display: flex;
  align-items: center;
  size: 100% 48px;
  padding-left: 16px;
  padding-right: 42px;
  outline: none;


  line-height: 1;
  background-color: #ffffff;
  border: 1px solid #DFE2E9;
  border-radius: 5px;

  &:focus {
    background-color: #ffffff;
    border-color: #5362EC;
    color: #5362EC;
  }
}