.select__arrow {
  position: absolute;
  top: 50%;
  right: 16px;

  transform: translateY(-50%);

  pointer-events: none;

  transition: $transition-duration;
}

.select--opened .select__arrow{
  transform: rotate(180deg) translateY(-50%);
  transform-origin: 50% 0%;
}
