.select__option {
  display: block;
  padding: 8px 16px;

  font-weight: 500;
  font-size: 16px / 1;
  color: #091032;

  &:hover,
  &:focus {
    color: #7381FB;
  }

  &:nth-of-type(1) {
    padding-top: 16px;
  }

  &:nth-last-child(1) {
    padding-bottom: 16px;
  }

}

.select__radio:checked + .select__option {
   color: #5362EC;
   pointer-events: none;
 }
