mixin comment(author, image)
    .comment
        .comment__author
            img.comment__author-avatar(src=image, alt='Аватар')
            span.link.comment__author-name= author
        .comment__text
            if block
                block