.comment__author-avatar {
  position: static;
  size: 32px;
  object-fit: cover;
  object-position: center center;
  margin-right: 16px;

  border-radius: 50%;

  @include _media('>=desktop') {
    position: absolute;
  }
}