.unordered-list {
  padding-left: 16px;
  list-style-position: inside;
}

.unordered-list > li {
  position: relative;

  padding-left: 16px;
  list-style: none;

  &:before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;

    display: inline-block;
    size: 8px;

    border-radius: 8px;
    background-color: $primary-color;
    vertical-align: middle;
  }

  & + li {
    margin-top: 1rem;
  }
}

// MODIFIERS

.unordered-list {
  &--not-padding {
    padding-left: 0;
  }

  &--not-margin > li + li {
    margin-top: 0;
  }

  &--flat > li:before {
    content: "—";
    display: inline;
    size: auto;
    background: none;
    vertical-align: baseline;
  }
}