.feature {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-weight: 500;

  @include _media("<desktop") {
    font-size: 14px;
  }
}

.feature__dots {
  position: absolute;
  bottom: 4px;
  right: 8px;
  display: block;
  width: 100%;

  border-bottom: 1px dashed #BBBDC9;
}