.account-card {
  position: relative;

  margin-bottom: 32px;
  padding: 32px;

  background: #FFFFFF;
  box-shadow:
          0 4px 80px rgba(95, 122, 169, 0.07),
          0 1.2px 24px rgba(95, 122, 169, 0.05),
          0 0.500862px 10px rgba(95, 122, 169, 0.04),
          0 0.2px 4px rgba(95, 122, 169, 0.03);
  border-radius: 10px;

  @include _media("<tablet") {
    margin: $_ -16px;
    padding: $_ 16px;

    border-radius: 0;
  }
}

.account-card__edit {
  position: absolute;
  top: 40px;
  right: 40px;
  z-index: 1;
}

.account-card__edit.show .account-cart__edit-button {
  color: $primary-color;
}

.account-card__edit .dropdown__menu {
  line-height: 1;
}

.account-card__title {
  line-height: 2;
}

.account-card__recommendations {
  @include _media('<tablet') {
    display: block;
    width: 100%;
    margin-bottom: 16px;
  }
}

.account-cart__edit-button {
  cursor: pointer;

  transition: 0.5s;

  &:hover {
    color: $primary-color;
  }
}

.account-card__img {
  position: relative;
  margin-top: -16px;
  min-width: 48px;
}

.account-card__time {
  font-style: normal;
  color: #8094AE;
}

.account-card__id {
  display: inline-flex;
  align-items: center;
  font-style: normal;
  color: #8094AE;
}

.account-card__extra {
  padding: 16px;

  background: #FFFFFF;
  border: 1px solid #EB5757;
  border-radius: 10px;

  @include _media('>=tablet') {
    padding: 26px;
  }
}

.account-card__answers {
  @include _media('<tablet') {
    &:before {
      content: none;
    }
  }
}

.account-card__info-block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 16px;


  &--first {
    & > * + *{
      margin-left: 16px;
    }
  }

  &--second {
    & > * + * {
      &:before {
        content : '\2022';
        line-height: 0;
        margin: $_ 8px;
      }
    }
  }

  &--third {

    & > * + * {
      &:before {
        content: '';
        margin: $_ 16px;
        border-right: 2px solid #C6CBE1;

        @include _media('>=tablet', '<desktop') {
          margin: $_ 8px;
        }
      }
    }
  }
}
