.account {
  margin-top: 0 !important;

  padding-bottom: 48px;

  @include _media(">=desktop") {
    padding-bottom: 64px;
  }

}

.account-header .header__logo {

  @include _media('>=desktop') {
    display: none;
  }
}

.account-header {
  position: relative;

  display: flex;
  align-items: center;
  min-height: 64px;

  background-color: #ffffff;
  box-shadow: 0px 4px 30px rgba(83, 95, 148, 0.1);

  width: 100%;

  @include _media('<desktop') {
    z-index: 99;
  }

  @include _media(">=desktop") {
    width: auto;
    box-shadow: none;
  }
}

.account__top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;


  @include _media(">=desktop") {
    align-items: center;
  }
}

.account__photo {
  size: 48px;
  border-radius: 50%;

  @include _media('>=desktop') {
    size: 96px;
  }
}

.account__info {

  display: flex;
  flex-direction: column;

  flex-grow: 1;
  margin-left: 32px;

  @include _media(">=desktop") {
    & > * + *{
      margin-top: 8px;
    }
  }
}

.account__info-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.account__name {
  font-weight: bold;
  font-size: 24px;
  color: #091032;

  @include _media("<desktop") {
    margin-bottom: 8px;
  }
}

.account__register-date {

  margin-bottom: 16px;

  font-size: 16px;
  color: #9FA4B9;

  &:before {
    content: 'Регистрация: ';
  }

  @include _media(">=desktop") {
    margin-bottom: 0;
  }
}

.account-header__left {
  display: none;
  @include _media('>=desktop') {
    display: block;
  }
}

.account__actions {
  display: flex;
  flex-direction: column;

  & > * + * {
    margin-top: 12px;
  }


  @include _media(">desktop") {
    flex-direction: row;
    margin-top: 10px;

    & > * + * {
      margin-left: 12px;
      margin-top: 0;
    }
  }

  & > * {
    display: inline-block;
  }

}

