.account__badges {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 32px;

  @include _media(">=desktop") {
    flex-direction: row;
    width: auto;
    margin-top: 0;
  }
}

.account__badge {
  display: flex;
  max-height: 48px;

  & + & {
    margin-left: 0;
    margin-top: 16px;

    @include _media(">=desktop") {
      margin-left: 32px;
      margin-top: 0;
    }
  }
}

.account__badge--comment {
  color: $primary-color;
}

.account__badge--rating {
  color: $green-color;
}

.account__badge-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  size: 48px;
  border-radius: 50%;

  background: #F4F5F9;
}

.account__badge-info {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-left: 32px;

  @include _media(">=desktop") {
    margin-left: 16px;
  }
}

.account__badge-amount {
  display: inline-block;
  margin-bottom: 4px;

  font-weight: bold;
  font-size: 20px / 1;
  letter-spacing: 0.2px;

  color: #091032;
}

.account__badge-title {
  font-weight: normal;
  font-size: 16px / 1;
  color: #8094AE;
}