.filter__more {
  display: inline-flex;
  align-items: center;
  margin-top: 16px;
  margin-left: 16px;
  padding-left: 6px;

  line-height: 0;
  color: #7381FB;

  transition: all 0.5s;

  &:before {
    content: 'Еще';
  }

  &:hover,
  &:focus {
    color: #FA8D50;
  }

  &:active {
    color: #E67738;
  }
}

.filter__more.active {
  &:before {
    content: 'Скрыть';
  }

  .filter__more-icon--plus {
    display: none;
  }

  .filter__more-icon--minus {
    display: inline-block;
  }
}


.filter__more-icon {
  margin-left: 8px;

  &--minus {
    display: none;
  }
}
