.filter__link {
  display: inline-block;
  padding: 7px 16px;

  font-weight: normal;
  font-size: 14px;
  text-align: center;
  color: #091032 #ffffff;

  transition: all 0.5s;

  box-shadow: 0 4px 15px rgba(83, 95, 148, 0.05);
  border-radius: 100px;

  &:hover,
  &:focus {
    color: #ffffff #939EFF;
  }

  &:active {
    color: #ffffff #5664DF;
  }

  &.active {
    color: #ffffff #7381FB;
  }
}