mixin card(card)
    article.card
        .card__header
            .card__badges
                .card__badge.card__badge--first
                    img(src='assets/images/first.png')
            picture.card__image
                source(srcset=`assets/images/${card.image}.webp`, type='image/webp')
                source(srcset=`assets/images/${card.image}.jpg`, type='image/jpeg')
                img(src=`assets/images/${card.image}.png`, alt=`${card.title}`)
            .card__info
                h3.card__title
                    a(href="/product.html").link= card.title
                div.card__rating
                    span.rating-value.card__rating-value(class=`rating-value--${card.rating.replace(',', '.')}`)= card.rating
                    a.link.rating-reviews.card__rating-reviews.u-ml-8px= card.reviews
        hr.card__ruler.u-only-desktop
        +characteristics(card.characteristics)(class='card__characteristics characteristics--column2row')
        hr.card__ruler
        .card__comments
            each _comment in card.comments
                +comment(_comment.author.name, _comment.author.avatar)
                    | !{_comment.text}
        hr.card__ruler
        .card__footer
            strong.card__status= card.status
            button.card__button.button.button--fullw Оставить отзыв