mixin card2(card)
    article.card
        .card__header
            picture.card__image
                source(srcset=`assets/images/${card.image}.webp`, type='image/webp')
                source(srcset=`assets/images/${card.image}.jpg`, type='image/jpeg')
                img(src=`assets/images/${card.image}.png`, alt=`${card.title}`)
            .card__info
                .u-row-between
                    div
                        h3.card__title
                            a(href="/product.html").link= card.title
                        div.card__rating
                            span.rating-value.card__rating-value(class=`rating-value--${card.rating.replace(',', '.')}`)= card.rating
                            a.link.rating-reviews.card__rating-reviews.u-ml-8px= card.reviews
                    div
                        button(type="button").button.u-not-phone Оставить отзыв
        hr.card__ruler.u-only-desktop
        +characteristics(card.characteristics)(class='card__characteristics characteristics--column2row  u-pb-0')
        button(type="button").button.button--fullw.u-only-phone.u-mt-32px Оставить отзыв