.card__badges {
  position: absolute;
  top: 16px;
  right: 16px;


  @include _media('>=desktop') {
    top: 32px;
    right: 32px;
  }
}

// MODIFIERS

.card__badges {
  &--left {
    left: 16px;
  }

  &--right {
    right: 16px;
  }
}

.card__badge {
  &--first {
    width: 35px;
  }
}