.card--collapsed {
  //position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 0;

  transition: height 0.5s;

  @include _media('<=tablet') {
    position: relative;

    .card__collapse {
      height: auto !important;
    }

  }
}

.card--collapsed.js--hovered {
  @include _media('>=tablet') {
   // top: -16px;
    box-shadow: 0px 36px 134px rgba(98, 112, 183, 0.07),
    0px 15.0399px 55.6591px rgba(98, 112, 183, 0.0503198),
    0px 8.04107px 36.7844px rgba(98, 112, 183, 0.0417275),
    0px 4.50776px 29.2437px rgba(98, 112, 183, 0.035),
    0px 2.39404px 23.2187px rgba(98, 112, 183, 0.0282725),
    0px 0.996212px 14.3551px rgba(98, 112, 183, 0.0196802);
  }
}

.card--collapsed {
  height: 100%;
  margin-bottom: 0;

  .card__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .card__header{
    flex-grow: 1;
    flex-direction: column !important;
    padding-bottom: 0;
  }

  .card__image {
    padding-right: 0;
    margin-bottom: 25px;
  }

  .characteristics {
    flex-direction: column !important;
  }

  .characteristics__item {
    flex-direction: row !important;
  }

  .card__footer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .card__button{
    padding: 0;
    width: 100%;
    margin-left: 0;
  }
}