mixin card-mini(card)
    article.card.card--mini(tabindex=0)
        .card__header
            .card__badges.card__badges--left
                .card__badge.card__badge--first
                    img(src='assets/images/first.png')
            picture.card__image
                source(srcset=`assets/images/${card.image}.webp`, type='image/webp')
                source(srcset=`assets/images/${card.image}.jpg`, type='image/jpeg')
                img(src=`assets/images/${card.image}.png`, alt=`${card.title}`)
            .card__info
                h3.card__title
                    a(href="/product.html").link= card.title
                div.card__rating
                    span.rating-value.card__rating-value= card.rating
                    a(href="#").link.rating-reviews.card__rating-reviews.u-ml-8px= card.reviews