.card__footer {
  display: flex;
  flex-direction: column;
  padding-top: 16px;

  @include _media('>=desktop') {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
  }
}