.card {
  position: relative;

  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  padding: 32px;
  padding-top: 16px;


  background: #FFFFFF;
  box-shadow: 0 4px 80px rgba(95, 122, 169, 0.07),
              0 1px 24px rgba(95, 122, 169, 0.05),
              0 0.5px 10px rgba(95, 122, 169, 0.03),
              0 0.2px 4px rgba(95, 122, 169, 0.025);
  border-radius: 10px;
  overflow: hidden;

  transition: height 0.5s;

  @include _media(">=desktop") {
    padding-top: 32px;
  }

}

.card--mini {
  size: 100%;
  margin-bottom: 0;

  .card__header {
    flex-grow: 1;
    flex-direction: column !important;

    padding-bottom: 0;

  }

  .card__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .card__image {
    margin-bottom: 25px;
  }
}

.cards {
  position: relative;

  margin: $_ auto;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.cards-wrapper {
  position: relative;
  z-index: 1;

  display: flex;
  size: 100%;

  transition-property: transform;

  transform: translate3d(0px,0,0);
}

.card-wrapper {
  flex-shrink: 0;
}

.cards-slide {

}