@font-face {
  font-family: 'iconfont';
  src: url('../fonts/iconfont.woff2') format('woff2'),
       url('../fonts/iconfont.woff') format('woff');
  font-style: normal;
  font-weight: normal;
  font-display: block;
}

.icon {
  color: inherit;
  font-family: 'iconfont' !important;
  font-size: inherit / inherit;

  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-decoration: none;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &[data-icon]::before {
     content: attr(data-icon);
   }
}


.icon--account:before {
  content: "\ea01";
}

.icon--arrow-left:before {
  content: "\ea02";
}

.icon--check-circled:before {
  content: "\ea03";
}

.icon--check:before {
  content: "\ea04";
}

.icon--comment:before {
  content: "\ea05";
}

.icon--cross-bold:before {
  content: "\ea06";
}

.icon--cross-circled:before {
  content: "\ea07";
}

.icon--cross:before {
  content: "\ea08";
}

.icon--double-arrow-left:before {
  content: "\ea09";
}

.icon--double-arrow-right:before {
  content: "\ea0a";
}

.icon--exit:before {
  content: "\ea0b";
}

.icon--facebook:before {
  content: "\ea0c";
}

.icon--feedback:before {
  content: "\ea0d";
}

.icon--google:before {
  content: "\ea0e";
}

.icon--insta:before {
  content: "\ea0f";
}

.icon--minus-flat:before {
  content: "\ea10";
}

.icon--plus-flat:before {
  content: "\ea11";
}

.icon--profile:before {
  content: "\ea12";
}

.icon--purse:before {
  content: "\ea13";
}

.icon--referral:before {
  content: "\ea14";
}

.icon--search:before {
  content: "\ea15";
}

.icon--single-arrow-left:before {
  content: "\ea16";
}

.icon--single-arrow-right:before {
  content: "\ea17";
}

.icon--star:before {
  content: "\ea18";
}

.icon--vk:before {
  content: "\ea19";
}

.icon--warning-circled:before {
  content: "\ea1a";
}

.icon--warning:before {
  content: "\ea1b";
}

.icon--yandex:before {
  content: "\ea1c";
}


.icon--google:before{
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M4.7 10C4.7 9 5 8.1 5.4 7.3V3.9H2.1C0.7 5.7 0 7.8 0 10 0 12.2 0.7 14.3 2.1 16.1H5.4V12.7C5 11.9 4.7 11 4.7 10Z' fill='%23FBBD00'/%3E%3Cpath d='M10 15.3L7.7 17.7 10 20C12.2 20 14.3 19.3 16.1 17.9V14.6H12.7C11.9 15 11 15.3 10 15.3Z' fill='%230F9D58'/%3E%3Cpath d='M5.4 12.7L2.1 16.1C2.3 16.4 2.6 16.8 2.9 17.1 4.8 19 7.3 20 10 20V15.3C8.1 15.3 6.4 14.3 5.4 12.7Z' fill='%2331AA52'/%3E%3Cpath d='M20 10C20 9.4 19.9 8.8 19.8 8.2L19.7 7.7H10V12.4H14.7C14.3 13.3 13.6 14.1 12.7 14.6L16.1 17.9C16.4 17.7 16.8 17.4 17.1 17.1 19 15.2 20 12.7 20 10Z' fill='%233C79E6'/%3E%3Cpath d='M13.8 6.2L14.2 6.7 17.5 3.3 17.1 2.9C15.2 1 12.7 0 10 0L7.7 2.3 10 4.7C11.4 4.7 12.8 5.2 13.8 6.2Z' fill='%23CF2D48'/%3E%3Cpath d='M10 4.7V0C7.3 0 4.8 1 2.9 2.9 2.6 3.2 2.3 3.6 2.1 3.9L5.4 7.3C6.4 5.7 8.1 4.7 10 4.7Z' fill='%23EB4132'/%3E%3C/svg%3E");
}