include _svg

mixin icon-account(width, height)
    i.icon
        +svg-account(width, height)

mixin icon-arrow-left(width, height)
    i.icon
        +svg-arrow-left(width, height)

mixin icon-check(width, height)
    i.icon
        +svg-check(width, height)

mixin icon-check-circled(width, height)
    i.icon
        +svg-check-circled(width, height)

mixin icon-comment(width, height)
    i.icon
        +svg-comment(width, height)

mixin icon-cross(width, height)
    i.icon
        +svg-cross(width, height)

mixin icon-cross-bold(width, height)
    i.icon
        +svg-cross-bold(width, height)

mixin icon-cross-circled(width, height)
    i.icon
        +svg-cross-circled(width, height)

mixin icon-double-arrow-left(width, height)
    i.icon
        +svg-double-arrow-left(width, height)

mixin icon-double-arrow-right(width, height)
    i.icon
        +svg-double-arrow-right(width, height)

mixin icon-exit(width, height)
    i.icon
        +svg-exit(width, height)

mixin icon-facebook(width, height)
    i.icon
        +svg-facebook(width, height)

mixin icon-feedback(width, height)
    i.icon
        +svg-feedback(width, height)

mixin icon-google(width, height)
    i.icon
        +svg-google(width, height)

mixin icon-insta(width, height)
    i.icon
        +svg-insta(width, height)

mixin icon-minus-flat(width, height)
    i.icon
        +svg-minus-flat(width, height)

mixin icon-plus-flat(width, height)
    i.icon
        +svg-plus-flat(width, height)

mixin icon-profile(width, height)
    i.icon
        +svg-profile(width, height)

mixin icon-purse(width, height)
    i.icon
        +svg-purse(width, height)

mixin icon-referral(width, height)
    i.icon
        +svg-referral(width, height)

mixin icon-search(width, height)
    i.icon
        +svg-search(width, height)

mixin icon-single-arrow-left(width, height)
    i.icon
        +svg-single-arrow-left(width, height)

mixin icon-single-arrow-right(width, height)
    i.icon
        +svg-single-arrow-right(width, height)

mixin icon-star(width, height)
    i.icon
        +svg-star(width, height)

mixin icon-vk(width, height)
    i.icon
        +svg-vk(width, height)

mixin icon-warning(width, height)
    i.icon
        +svg-warning(width, height)

mixin icon-warning-circled(width, height)
    i.icon
        +svg-warning-circled(width, height)

mixin icon-yandex(width, height)
    i.icon
        +svg-yandex(width, height)
