mixin svg-account(width, height)
    | <svg xmlns="http://www.w3.org/2000/svg" class="#{attributes.class}" width="#{width}" height="#{height}" viewBox="0 0 24 24" fill="none"><path d="M6.2 22.1H2.8C2.4 22.1 2.2 21.9 2.1 21.8 1.9 21.5 1.8 21.2 1.9 20.9 2.9 16.3 7 12.9 11.8 12.7 11.8 12.7 11.9 12.8 12 12.8 12.1 12.8 12.2 12.7 12.2 12.7 13.4 12.8 14.5 13 15.6 13.4 16.1 13.6 16.7 13.3 16.8 12.8 17 12.4 16.8 11.8 16.3 11.6 16.1 11.6 16 11.5 15.8 11.5 17.4 10.3 18.4 8.5 18.4 6.4 18.4 2.9 15.5 0 12 0 8.5 0 5.6 2.9 5.6 6.4 5.6 8.5 6.6 10.3 8.2 11.5 6.8 11.9 5.4 12.7 4.3 13.6 2.1 15.4 0.6 17.9 0.1 20.6 -0.1 21.4 0.1 22.3 0.6 23 1.2 23.6 2 24 2.8 24H6.2C6.7 24 7.1 23.6 7.1 23.1 7.1 22.5 6.7 22.1 6.2 22.1ZM7.5 6.4C7.5 3.9 9.5 1.9 12 1.9 14.5 1.9 16.5 3.9 16.5 6.4 16.5 8.8 14.6 10.8 12.2 10.9 12.1 10.9 12.1 10.9 12 10.9 11.9 10.9 11.9 10.9 11.8 10.9 9.4 10.8 7.5 8.8 7.5 6.4Z" class="u-svg-fill"/><path d="M23.3 16.2C22.9 15.3 22 14.7 21 14.7H18.1C18.1 14.7 18 14.7 18 14.7 17 14.7 16.1 15.3 15.7 16.3 15.7 16.4 15.6 16.5 15.5 16.7H9.4C9.1 16.7 8.9 16.8 8.7 17L7.1 18.7C6.8 19 6.8 19.6 7.1 20L8.8 21.7C8.9 21.8 9.2 21.9 9.4 21.9H12.5C13 21.9 13.4 21.5 13.4 21 13.4 20.5 13 20.1 12.5 20.1H9.8L9.1 19.3 9.8 18.6H16.2C16.7 18.6 17 18.3 17.1 17.9 17.2 17.6 17.3 17.3 17.5 16.9 17.5 16.7 17.8 16.5 18 16.5 18 16.5 18.1 16.5 18.1 16.5H21C21.2 16.5 21.5 16.7 21.6 16.9 21.8 17.5 22.1 18.4 22.1 19.3 22.1 20.3 21.8 21.2 21.6 21.7 21.5 22 21.2 22.1 21 22.1 21 22.1 21 22.1 21 22.1H18C17.8 22.1 17.5 22 17.4 21.7 17.3 21.4 17.2 21.1 17.1 20.8 17 20.3 16.5 20 16 20.1 15.5 20.2 15.2 20.7 15.3 21.2 15.4 21.7 15.5 22.1 15.7 22.4 16.1 23.4 17 24 18 24H21C21 24 21 24 21 24 22 24 22.9 23.4 23.3 22.5 23.6 21.7 24 20.6 24 19.3 24 18 23.6 16.9 23.3 16.2Z" class="u-svg-fill"/><path d="M20.2 20.3C20.7 20.3 21.1 19.8 21.1 19.3 21.1 18.8 20.7 18.4 20.2 18.4 19.7 18.4 19.3 18.8 19.3 19.3 19.3 19.8 19.7 20.3 20.2 20.3Z" class="u-svg-fill"/></svg>

mixin svg-arrow-left(width, height)
    | <svg xmlns="http://www.w3.org/2000/svg" class="#{attributes.class}" width="#{width}" height="#{height}" viewBox="0 0 12 12" fill="none"><path d="M10.1 6L1.9 6" stroke-class="#{attributes.class}" width="2" class="u-svg-stroke"/><path d="M6 1.9L1.9 6 6 10.1" stroke-class="#{attributes.class}" width="2" class="u-svg-stroke"/></svg>

mixin svg-arrow-left-smooth(width, height)
    | <svg xmlns="http://www.w3.org/2000/svg" class="#{attributes.class}" width="#{width}" height="#{height}" viewBox="0 0 14 14" fill="none"><path d="M11.1 7L2.9 7" stroke-width="2" stroke-linecap="round" class="u-svg-stroke"/><path d="M7 2.9L2.9 7 7 11.1" stroke-width="2" stroke-linecap="round" class="u-svg-stroke"/></svg>

mixin svg-arrow-right-smooth(width, height)
    | <svg xmlns="http://www.w3.org/2000/svg" class="#{attributes.class}" width="#{width}" height="#{height}" viewBox="0 0 16 16" fill="none"><path d="M1.6 8L14.4 8" stroke-width="2" stroke-linecap="round" class="u-svg-stroke"/><path d="M8 14.4L14.4 8 8 1.6" stroke-width="2" stroke-linecap="round" class="u-svg-stroke"/></svg>

mixin svg-check(width, height)
    | <svg xmlns="http://www.w3.org/2000/svg" class="#{attributes.class}" width="#{width}" height="#{height}" viewBox="0 0 8 7" fill="none"><path d="M1 3L3 5 7 1" stroke-class="#{attributes.class}" width="1.5" class="u-svg-stroke"/></svg>

mixin svg-check-circled(width, height)
    | <svg xmlns="http://www.w3.org/2000/svg" class="#{attributes.class}" width="#{width}" height="#{height}" viewBox="0 0 16 16" fill="none"><path d="M8 0C3.6 0 0 3.6 0 8 0 12.4 3.6 16 8 16 12.4 16 16 12.4 16 8 16 3.6 12.4 0 8 0ZM6.4 11.5L3.4 8.6 4.6 7.4 6.4 9.3 10.6 5 11.8 6.2 6.4 11.5Z" class="u-svg-fill"/></svg>

mixin svg-comment(width, height)
    | <svg xmlns="http://www.w3.org/2000/svg" class="#{attributes.class}" width="#{width}" height="#{height}" viewBox="0 0 18 18"><path class="u-svg-fill" d="M17.7 15.2l-0.8-4c0.5-0.9 0.8-1.8 0.8-2.8 0-3.6-4-6.6-8.7-6.6C4.3 1.9 0.3 4.9 0.3 8.5c0 3.6 3.8 6.6 8.4 6.6 0.6 0 2.1-0.1 2.8-0.2 0.5-0.1 1-0.2 1.5-0.4 1.8 0.7 3.7 1.6 3.7 1.7 0.1 0.1 0.2 0.1 0.3 0.1 0.2 0 0.3-0.1 0.4-0.2C17.7 15.8 17.8 15.5 17.7 15.2zM15.5 11.3l0.6 2.8c-0.8-0.4-1.8-0.8-2.8-1.2 -0.1 0-0.2 0-0.3 0 -0.1 0-0.2 0-0.3 0.1 -0.5 0.2-1 0.4-1.6 0.5 -0.5 0.1-1.8 0.2-2.5 0.2 -3.8 0-6.9-2.3-6.9-5.1 0-2.7 3.4-5.1 7.3-5.1 3.9 0 7.3 2.4 7.3 5.1 0 0.8-0.2 1.5-0.7 2.3C15.5 10.9 15.4 11.1 15.5 11.3z"/><path class="u-svg-fill" d="M11.2 6.3H5.4c-0.4 0-0.7 0.3-0.7 0.7 0 0.4 0.3 0.7 0.7 0.7h5.8c0.4 0 0.7-0.3 0.7-0.7C11.9 6.6 11.6 6.3 11.2 6.3z"/><path class="u-svg-fill" d="M9.7 9.2H5.4c-0.4 0-0.7 0.3-0.7 0.7 0 0.4 0.3 0.7 0.7 0.7h4.4c0.4 0 0.7-0.3 0.7-0.7C10.5 9.5 10.1 9.2 9.7 9.2z"/></svg>

mixin svg-comment-text(width, height)
    | <svg xmlns="http://www.w3.org/2000/svg" class="#{attributes.class}" width="#{width}" height="#{height}" viewBox="0 0 14 14" fill="none"><path d="M9.7 0.3H4.3C2.1 0.3 0.3 2.1 0.3 4.3V13C0.3 13.4 0.6 13.7 1 13.7H9.7C11.9 13.7 13.7 11.9 13.7 9.7V4.3C13.7 2.1 11.9 0.3 9.7 0.3ZM12.3 9.7C12.3 11.1 11.1 12.3 9.7 12.3H1.7V4.3C1.7 2.9 2.9 1.7 4.3 1.7H9.7C11.1 1.7 12.3 2.9 12.3 4.3V9.7Z" style="fill:currentColor"/><path d="M3.7 5H10.3V6.3H3.7V5ZM3.7 7.7H8.3V9H3.7V7.7Z" style="fill:currentColor"/></svg>

mixin svg-comment-plus(width, height)
    | <svg xmlns="http://www.w3.org/2000/svg" class="#{attributes.class}" width="#{width}" height="#{height}" viewBox="0 0 14 14" fill="none"><path d="M9.7 0.3H4.3C2.1 0.3 0.3 2.1 0.3 4.3V13C0.3 13.4 0.6 13.7 1 13.7H9.7C11.9 13.7 13.7 11.9 13.7 9.7V4.3C13.7 2.1 11.9 0.3 9.7 0.3ZM12.3 9.7C12.3 11.1 11.1 12.3 9.7 12.3H1.7V4.3C1.7 2.9 2.9 1.7 4.3 1.7H9.7C11.1 1.7 12.3 2.9 12.3 4.3V9.7Z" style="fill:currentColor"/><path d="M7.7 3.7H6.3V6.3H3.7V7.7H6.3V10.3H7.7V7.7H10.3V6.3H7.7V3.7Z" style="fill:currentColor"/></svg>

mixin svg-cross(width, height)
    | <svg xmlns="http://www.w3.org/2000/svg" class="#{attributes.class}" width="#{width}" height="#{height}" viewBox="0 0 10 10" fill="none"><path d="M5.9 5L9.8 1.1C10.1 0.9 10.1 0.4 9.8 0.2 9.6-0.1 9.1-0.1 8.9 0.2L5 4.1 1.1 0.2C0.9-0.1 0.4-0.1 0.2 0.2 -0.1 0.4-0.1 0.9 0.2 1.1L4.1 5 0.2 8.9C-0.1 9.1-0.1 9.6 0.2 9.8 0.3 9.9 0.5 10 0.6 10 0.8 10 1 9.9 1.1 9.8L5 5.9 8.9 9.8C9 9.9 9.2 10 9.4 10 9.5 10 9.7 9.9 9.8 9.8 10.1 9.6 10.1 9.1 9.8 8.9L5.9 5Z" class="u-svg-fill"/></svg>

mixin svg-cross-bold(width, height)
    | <svg xmlns="http://www.w3.org/2000/svg" class="#{attributes.class}" width="#{width}" height="#{height}" viewBox="0 0 16 16" fill="none"><path d="M13.6 0L8 5.6 2.4 0 0 2.4 5.6 8 0 13.6 2.4 16 8 10.4 13.6 16 16 13.6 10.4 8 16 2.4 13.6 0Z" class="u-svg-fill"/></svg>

mixin svg-cross-circled(width, height)
    | <svg xmlns="http://www.w3.org/2000/svg" class="#{attributes.class}" width="#{width}" height="#{height}" viewBox="0 0 16 16"><path class="u-svg-fill" fill-rule="evenodd" clip-rule="evenodd" d="M8 0C3.6 0 0 3.6 0 8s3.6 8 8 8 8-3.6 8-8S12.4 0 8 0zM11 10l-1 1L8 9l-2 2 -1-1 2-2L5 6l1-1 2 2 2-2 1 1L9 8 11 10z"/></svg>

mixin svg-double-arrow-left(width, height)
    | <svg xmlns="http://www.w3.org/2000/svg" class="#{attributes.class}" width="#{width}" height="#{height}" viewBox="0 0 12 10" fill="none"><path d="M7.5 5L12 8.9 10.7 10 5 5 10.7 0 12 1.1 7.5 5Z" class="u-svg-fill"/><path d="M2.5 5L7 8.9 5.7 10 0 5 5.7 0 7 1.1 2.5 5Z" class="u-svg-fill"/></svg>

mixin svg-double-arrow-right(width, height)
    | <svg xmlns="http://www.w3.org/2000/svg" class="#{attributes.class}" width="#{width}" height="#{height}" viewBox="0 0 12 10" fill="none"><path d="M4.5 5L0 1.1 1.3 0 7 5 1.3 10 0 8.9 4.5 5Z" class="u-svg-fill"/><path d="M9.5 5L5 1.1 6.3 0 12 5 6.3 10 5 8.9 9.5 5Z" class="u-svg-fill"/></svg>

mixin svg-exit(width, height)
    | <svg xmlns="http://www.w3.org/2000/svg" class="#{attributes.class}" width="#{width}" height="#{height}" viewBox="0 0 16 16" fill="none"><path d="M12.7 2H3.3C2.6 2 2 2.6 2 3.3V6H3.3V3.3H12.7V12.7H3.3V10H2V12.7C2 13.4 2.6 14 3.3 14H12.7C13.4 14 14 13.4 14 12.7V3.3C14 2.6 13.4 2 12.7 2Z" class="u-svg-fill"/><path d="M7.3 10.7L10.7 8 7.3 5.3V7.3H2V8.7H7.3V10.7Z" class="u-svg-fill"/></svg>

mixin svg-facebook(width, height)
    | <svg xmlns="http://www.w3.org/2000/svg" class="#{attributes.class}" width="#{width}" height="#{height}" viewBox="0 0 11 24" fill="none"><path d="M10.6 12H7.3V24H2.4V12H0V7.8H2.4V5C2.4 3.1 3.3 0 7.3 0L11 0V4.1H8.3C7.9 4.1 7.3 4.3 7.3 5.3V7.8H11L10.6 12Z" class="u-svg-fill"/></svg>

mixin svg-feedback(width, height)
    | <svg xmlns="http://www.w3.org/2000/svg" class="#{attributes.class}" width="#{width}" height="#{height}" viewBox="0 0 16 16" fill="none"><path d="M10.7 1.3H5.3C3.1 1.3 1.3 3.1 1.3 5.3V14C1.3 14.4 1.6 14.7 2 14.7H10.7C12.9 14.7 14.7 12.9 14.7 10.7V5.3C14.7 3.1 12.9 1.3 10.7 1.3ZM13.3 10.7C13.3 12.1 12.1 13.3 10.7 13.3H2.7V5.3C2.7 3.9 3.9 2.7 5.3 2.7H10.7C12.1 2.7 13.3 3.9 13.3 5.3V10.7Z" class="u-svg-fill"/><path d="M4.7 6H11.3V7.3H4.7V6ZM4.7 8.7H9.3V10H4.7V8.7Z" class="u-svg-fill"/></svg>

mixin svg-google(width, height)
    | <svg xmlns="http://www.w3.org/2000/svg" class="#{attributes.class}" width="#{width}" height="#{height}" viewBox="0 0 20 20" fill="none"><path d="M4.7 10C4.7 9 5 8.1 5.4 7.3V3.9H2.1C0.7 5.7 0 7.8 0 10 0 12.2 0.7 14.3 2.1 16.1H5.4V12.7C5 11.9 4.7 11 4.7 10Z" fill="#FBBD00"/><path d="M10 15.3L7.7 17.7 10 20C12.2 20 14.3 19.3 16.1 17.9V14.6H12.7C11.9 15 11 15.3 10 15.3Z" fill="#0F9D58"/><path d="M5.4 12.7L2.1 16.1C2.3 16.4 2.6 16.8 2.9 17.1 4.8 19 7.3 20 10 20V15.3C8.1 15.3 6.4 14.3 5.4 12.7Z" fill="#31AA52"/><path d="M20 10C20 9.4 19.9 8.8 19.8 8.2L19.7 7.7H10V12.4H14.7C14.3 13.3 13.6 14.1 12.7 14.6L16.1 17.9C16.4 17.7 16.8 17.4 17.1 17.1 19 15.2 20 12.7 20 10Z" fill="#3C79E6"/><path d="M13.8 6.2L14.2 6.7 17.5 3.3 17.1 2.9C15.2 1 12.7 0 10 0L7.7 2.3 10 4.7C11.4 4.7 12.8 5.2 13.8 6.2Z" fill="#CF2D48"/><path d="M10 4.7V0C7.3 0 4.8 1 2.9 2.9 2.6 3.2 2.3 3.6 2.1 3.9L5.4 7.3C6.4 5.7 8.1 4.7 10 4.7Z" fill="#EB4132"/></svg>

mixin svg-insta(width, height)
    | <svg xmlns="http://www.w3.org/2000/svg" class="#{attributes.class}" width="#{width}" height="#{height}" viewBox="0 0 16 16"><path class="u-svg-fill" d="M16 4.7c0-0.9-0.2-1.4-0.4-1.9 -0.2-0.5-0.5-1-0.9-1.4 -0.4-0.4-0.9-0.7-1.4-0.9 -0.5-0.2-1.1-0.3-1.9-0.4C10.5 0 10.2 0 8 0S5.6 0 4.7 0C3.9 0.1 3.3 0.2 2.8 0.4 2.3 0.6 1.8 0.9 1.4 1.3 1 1.7 0.6 2.2 0.4 2.8 0.3 3.3 0.1 3.9 0.1 4.7 0 5.6 0 5.8 0 8c0 2.2 0 2.4 0 3.3 0 0.9 0.2 1.4 0.4 1.9 0.2 0.5 0.5 1 0.9 1.4 0.4 0.4 0.9 0.7 1.4 0.9 0.5 0.2 1.1 0.3 1.9 0.4C5.6 16 5.9 16 8 16c2.2 0 2.4 0 3.3 0 0.9 0 1.4-0.2 1.9-0.4 1.1-0.4 1.9-1.3 2.3-2.3 0.2-0.5 0.3-1.1 0.4-1.9 0-0.9 0-1.1 0-3.3C16 5.8 16 5.6 16 4.7zM14.5 11.2c0 0.8-0.2 1.2-0.3 1.5 -0.3 0.7-0.8 1.3-1.5 1.5 -0.3 0.1-0.7 0.2-1.5 0.3 -0.8 0-1.1 0-3.2 0 -2.1 0-2.4 0-3.2 0 -0.8 0-1.2-0.2-1.5-0.3 -0.3-0.1-0.7-0.3-0.9-0.6 -0.3-0.3-0.5-0.6-0.6-0.9 -0.1-0.3-0.2-0.7-0.3-1.5 0-0.8 0-1.1 0-3.2 0-2.1 0-2.4 0-3.2 0-0.8 0.2-1.2 0.3-1.5 0.1-0.3 0.3-0.7 0.6-0.9 0.3-0.3 0.6-0.5 0.9-0.6C3.6 1.7 4 1.5 4.8 1.5c0.8 0 1.1 0 3.2 0 2.1 0 2.4 0 3.2 0 0.8 0 1.2 0.2 1.5 0.3 0.3 0.1 0.7 0.3 0.9 0.6 0.3 0.3 0.5 0.6 0.6 0.9 0.1 0.3 0.2 0.7 0.3 1.5 0 0.8 0 1.1 0 3.2C14.6 10.1 14.6 10.4 14.5 11.2z"/><path class="u-svg-fill" d="M8 3.9c-2.3 0-4.1 1.8-4.1 4.1 0 2.3 1.8 4.1 4.1 4.1 2.3 0 4.1-1.8 4.1-4.1C12.1 5.7 10.3 3.9 8 3.9zM8 10.7c-1.5 0-2.7-1.2-2.7-2.7S6.6 5.3 8 5.3c1.5 0 2.7 1.2 2.7 2.7S9.5 10.7 8 10.7z"/><path class="u-svg-fill" d="M13.3 3.7c0 0.5-0.4 1-1 1 -0.5 0-1-0.4-1-1 0-0.5 0.4-1 1-1C12.8 2.8 13.3 3.2 13.3 3.7z"/></svg>

mixin svg-minus(width, height)
    | <svg xmlns="http://www.w3.org/2000/svg" class="#{attributes.class}" width="#{width}" height="#{height}" viewBox="0 0 8 2" fill="none"><path d="M3.3 0.3H7.5C7.8 0.3 8 0.5 8 0.8V1.2C8 1.5 7.8 1.7 7.5 1.7H3.3 0.5C0.2 1.7 0 1.5 0 1.2V0.8C0 0.5 0.2 0.3 0.5 0.3H3.3Z" class="u-svg-fill"/></svg>

mixin svg-minus-flat(width, height)
    | <svg xmlns="http://www.w3.org/2000/svg" class="#{attributes.class}" width="#{width}" height="#{height}" viewBox="0 0 16 4" fill="none"><path d="M0 0.4H6.5 16V3.6H6.5 0V0.4Z" class="u-svg-fill"/></svg>

mixin svg-plus(width, height)
    | <svg xmlns="http://www.w3.org/2000/svg" class="#{attributes.class}" width="#{width}" height="#{height}" viewBox="0 0 8 8" fill="none"><path d="M7.5 3.3H4.7V0.5C4.7 0.2 4.5 0 4.2 0H3.8C3.5 0 3.3 0.2 3.3 0.5V3.3H0.5C0.2 3.3 0 3.5 0 3.8V4.2C0 4.5 0.2 4.7 0.5 4.7H3.3V7.5C3.3 7.8 3.5 8 3.8 8H4.2C4.5 8 4.7 7.8 4.7 7.5V4.7H7.5C7.8 4.7 8 4.5 8 4.2V3.8C8 3.5 7.8 3.3 7.5 3.3Z" class="u-svg-fill"/></svg>

mixin svg-plus-flat(width, height)
    | <svg xmlns="http://www.w3.org/2000/svg" class="#{attributes.class}" width="#{width}" height="#{height}" viewBox="0 0 16 16" fill="none"><path d="M9.6 0H6.4V6.4H0V9.6H6.4V16H9.6V9.6H16V6.4H9.6V0Z" class="u-svg-fill"/></svg>

mixin svg-profile(width, height)
    | <svg xmlns="http://www.w3.org/2000/svg" class="#{attributes.class}" width="#{width}" height="#{height}" viewBox="0 0 12 13" fill="none"><path d="M6 0.3C4.2 0.3 2.7 1.8 2.7 3.7 2.7 5.5 4.2 7 6 7 7.8 7 9.3 5.5 9.3 3.7 9.3 1.8 7.8 0.3 6 0.3ZM6 5.7C4.9 5.7 4 4.8 4 3.7 4 2.6 4.9 1.7 6 1.7 7.1 1.7 8 2.6 8 3.7 8 4.8 7.1 5.7 6 5.7ZM12 13V12.3C12 9.8 9.9 7.7 7.3 7.7H4.7C2.1 7.7 0 9.8 0 12.3V13H1.3V12.3C1.3 10.5 2.8 9 4.7 9H7.3C9.2 9 10.7 10.5 10.7 12.3V13H12Z" class="u-svg-fill"/></svg>

mixin svg-purse(width, height)
    | <svg xmlns="http://www.w3.org/2000/svg" class="#{attributes.class}" width="#{width}" height="#{height}" viewBox="0 0 16 16" fill="none"><path d="M10.7 8H12V10.7H10.7V8Z" class="u-svg-fill"/><path d="M13.3 4.7V3.3C13.3 2.6 12.7 2 12 2H3.3C2.2 2 1.3 2.9 1.3 4V12C1.3 13.5 2.5 14 3.3 14H13.3C14.1 14 14.7 13.4 14.7 12.7V6C14.7 5.3 14.1 4.7 13.3 4.7ZM3.3 3.3H12V4.7H3.3C3 4.7 2.7 4.4 2.7 4 2.7 3.6 3 3.3 3.3 3.3ZM13.3 12.7H3.3C3 12.7 2.7 12.5 2.7 12V5.9C2.9 6 3.1 6 3.3 6H13.3V12.7Z" class="u-svg-fill"/></svg>

mixin svg-referral(width, height)
    | <svg xmlns="http://www.w3.org/2000/svg" class="#{attributes.class}" width="#{width}" height="#{height}" viewBox="0 0 16 16" fill="none"><path d="M11.1 7.4C11.5 6.7 11.7 5.9 11.6 5.1 11.5 3.9 10.8 2.8 9.7 2.1L9 3.2C9.7 3.7 10.2 4.4 10.2 5.2 10.3 5.9 10.1 6.7 9.5 7.2L8.7 8 9.8 8.3C12.6 9.1 12.7 12 12.7 12H14C14 10.8 13.4 8.5 11.1 7.4Z" class="u-svg-fill"/><path d="M6.3 8C7.8 8 9 6.8 9 5.3 9 3.9 7.8 2.7 6.3 2.7 4.9 2.7 3.7 3.9 3.7 5.3 3.7 6.8 4.9 8 6.3 8ZM6.3 4C7.1 4 7.7 4.6 7.7 5.3 7.7 6.1 7.1 6.7 6.3 6.7 5.6 6.7 5 6.1 5 5.3 5 4.6 5.6 4 6.3 4ZM7.3 8.7H5.3C3.1 8.7 1.3 10.5 1.3 12.7V13.3H2.7V12.7C2.7 11.2 3.9 10 5.3 10H7.3C8.8 10 10 11.2 10 12.7V13.3H11.3V12.7C11.3 10.5 9.5 8.7 7.3 8.7Z" class="u-svg-fill"/></svg>

mixin svg-search(width, height)
    | <svg xmlns="http://www.w3.org/2000/svg" class="#{attributes.class}" width="#{width}" height="#{height}" viewBox="0 0 22 22" fill="none"><path d="M16.1 14.2C17.2 12.7 17.9 10.9 17.9 8.9 17.9 4 13.9 0 8.9 0 4 0 0 4 0 8.9 0 13.9 4 17.9 8.9 17.9 10.9 17.9 12.7 17.2 14.2 16.1L20.1 22 22 20.1C22 20.1 16.1 14.2 16.1 14.2ZM8.9 15.1C5.5 15.1 2.8 12.4 2.8 8.9 2.8 5.5 5.5 2.8 8.9 2.8 12.3 2.8 15.1 5.5 15.1 8.9 15.1 12.4 12.3 15.1 8.9 15.1Z" class="u-svg-fill"/></svg>

mixin svg-cross-thin(width, height)
    | <svg xmlns="http://www.w3.org/2000/svg" class="#{attributes.class}" width="#{width}" height="#{height}" viewBox="0 0 20 21" fill="none"><path d="M2 0.9L20 18.9 18 20.9 0 3 2 0.9Z" class="u-svg-fill"/><path d="M17.9 1.2L0.2 18.9 2.2 20.9 20 3.2 17.9 1.2Z" class="u-svg-fill"/></svg>

mixin svg-single-arrow-left(width, height)
    | <svg xmlns="http://www.w3.org/2000/svg" class="#{attributes.class}" width="#{width}" height="#{height}" viewBox="0 0 7 10" fill="none"><path d="M2.5 5L7 8.9 5.7 10 0 5 5.7 0 7 1.1 2.5 5Z" class="u-svg-fill"/></svg>

mixin svg-single-arrow-right(width, height)
    | <svg xmlns="http://www.w3.org/2000/svg" class="#{attributes.class}" width="#{width}" height="#{height}" viewBox="0 0 7 10" fill="none"><path d="M4.5 5L0 1.1 1.3 0 7 5 1.3 10 0 8.9 4.5 5Z" class="u-svg-fill"/></svg>

mixin svg-star(width, height)
    | <svg xmlns="http://www.w3.org/2000/svg" class="#{attributes.class}" width="#{width}" height="#{height}" viewBox="0 0 15 13" fill="none"><path d="M7.3 0.4C7.4 0 8.1 0 8.2 0.4L9.5 4.2C9.6 4.4 9.7 4.5 10 4.5H14C14.5 4.5 14.7 5.2 14.3 5.4L11.1 7.7C10.9 7.9 10.8 8.1 10.9 8.3L12.1 12C12.3 12.5 11.7 12.9 11.4 12.6L8 10.3C7.9 10.1 7.6 10.1 7.5 10.3L4.1 12.6C3.8 12.9 3.2 12.5 3.4 12L4.6 8.3C4.7 8.1 4.6 7.9 4.4 7.7L1.2 5.4C0.8 5.2 1 4.5 1.5 4.5H5.5C5.8 4.5 5.9 4.4 6 4.2L7.3 0.4Z" class="u-svg-fill"/></svg>

mixin svg-vk(width, height)
    | <svg xmlns="http://www.w3.org/2000/svg" class="#{attributes.class}" width="#{width}" height="#{height}" viewBox="0 0 25 15" fill="none"><path d="M12.2 14.9H13.7C13.7 14.9 14.2 14.9 14.4 14.6 14.6 14.4 14.6 13.9 14.6 13.9 14.6 13.9 14.6 11.8 15.5 11.5 16.4 11.2 17.6 13.6 18.9 14.5 19.8 15.1 20.5 15 20.5 15L23.9 14.9C23.9 14.9 25.6 14.8 24.8 13.4 24.7 13.3 24.3 12.3 22.3 10.4 20.2 8.3 20.5 8.6 23 5.1 24.5 3 25.2 1.6 25 1.1 24.8 0.5 23.6 0.7 23.6 0.7L19.9 0.7C19.9 0.7 19.6 0.7 19.4 0.8 19.2 0.9 19.1 1.2 19.1 1.2 19.1 1.2 18.5 2.9 17.7 4.3 16 7.3 15.3 7.5 15.1 7.3 14.4 6.8 14.6 5.5 14.6 4.6 14.6 1.7 15 0.5 13.8 0.2 13.4 0.1 13.1 0 12 0 10.7 0 9.5 0 8.9 0.3 8.5 0.6 8.1 1 8.3 1.1 8.6 1.1 9.2 1.2 9.5 1.7 9.8 2.2 9.8 3.5 9.8 3.5 9.8 3.5 10 6.9 9.3 7.3 8.8 7.6 8.1 7 6.6 4.3 5.9 2.9 5.3 1.3 5.3 1.3 5.3 1.3 5.2 1.1 5 0.9 4.7 0.7 4.4 0.7 4.4 0.7L0.8 0.7C0.8 0.7 0.3 0.7 0.1 0.9 -0.1 1.2 0.1 1.6 0.1 1.6 0.1 1.6 2.9 8.5 6 12 8.9 15.1 12.2 14.9 12.2 14.9Z" class="u-svg-fill"/></svg>

mixin svg-vk-thin(width, height)
    | <svg xmlns="http://www.w3.org/2000/svg" class="#{attributes.class}" width="#{width}" height="#{height}" viewBox="0 0 13 7" fill="none"><path d="M6.4 7H7.1C7.1 7 7.4 6.9 7.5 6.8 7.6 6.7 7.6 6.5 7.6 6.5 7.6 6.5 7.6 5.5 8.1 5.4 8.5 5.2 9.2 6.3 9.8 6.7 10.3 7.1 10.7 7 10.7 7L12.4 7C12.4 7 13.3 6.9 12.9 6.2 12.8 6.2 12.6 5.7 11.6 4.8 10.5 3.9 10.7 4 12 2.4 12.8 1.4 13.1 0.8 13 0.5 12.9 0.3 12.3 0.3 12.3 0.3L10.3 0.3C10.3 0.3 10.2 0.3 10.1 0.4 10 0.4 9.9 0.6 9.9 0.6 9.9 0.6 9.6 1.3 9.2 2 8.3 3.4 8 3.5 7.8 3.4 7.5 3.2 7.6 2.6 7.6 2.1 7.6 0.8 7.8 0.2 7.2 0.1 7 0 6.8 0 6.3 0 5.6 0 5 0 4.6 0.2 4.4 0.3 4.2 0.5 4.3 0.5 4.5 0.5 4.8 0.6 4.9 0.8 5.1 1 5.1 1.6 5.1 1.6 5.1 1.6 5.2 3.2 4.8 3.4 4.6 3.5 4.2 3.3 3.4 2 3 1.3 2.7 0.6 2.7 0.6 2.7 0.6 2.7 0.5 2.6 0.4 2.5 0.3 2.3 0.3 2.3 0.3L0.4 0.3C0.4 0.3 0.1 0.3 0 0.4 0 0.5 0 0.8 0 0.8 0 0.8 1.5 4 3.1 5.6 4.6 7.1 6.4 7 6.4 7Z" class="u-svg-fill"/></svg>

mixin svg-twitter(width, height)
    | <svg xmlns="http://www.w3.org/2000/svg" class="#{attributes.class}" width="#{width}" height="#{height}" viewBox="0 0 14 12" fill="none"><path d="M14 1.7C13.5 1.9 12.9 2 12.3 2.1 12.9 1.8 13.4 1.2 13.6 0.5 13.1 0.9 12.4 1.1 11.8 1.2 11.3 0.7 10.5 0.3 9.7 0.3 8.1 0.3 6.8 1.6 6.8 3.2 6.8 3.4 6.8 3.6 6.9 3.8 4.5 3.7 2.4 2.6 1 0.8 0.7 1.3 0.6 1.8 0.6 2.3 0.6 3.3 1.1 4.2 1.9 4.7 1.4 4.7 0.9 4.5 0.6 4.3 0.6 4.3 0.6 4.3 0.6 4.3 0.6 5.7 1.6 6.9 2.9 7.2 2.6 7.2 2.4 7.3 2.1 7.3 1.9 7.3 1.7 7.3 1.6 7.2 1.9 8.4 3 9.2 4.2 9.2 3.3 10 2 10.4 0.7 10.4 0.5 10.4 0.2 10.4 0 10.4 1.3 11.2 2.8 11.7 4.4 11.7 9.7 11.7 12.6 7.3 12.6 3.5 12.6 3.4 12.6 3.3 12.6 3.1 13.1 2.7 13.6 2.2 14 1.7Z" class="u-svg-fill"/></svg>

mixin svg-ok(width, height)
    | <svg xmlns="http://www.w3.org/2000/svg" class="#{attributes.class}" width="#{width}" height="#{height}" viewBox="0 0 10 14" fill="none"><path d="M0.8 7.5C0.4 8.2 0.8 8.6 1.7 9.1 2.5 9.6 3.6 9.8 4.3 9.9L3.7 10.4C2.9 11.2 2.1 12 1.5 12.5 0.7 13.3 2 14.5 2.8 13.8L5 11.7C5.8 12.5 6.6 13.2 7.2 13.8 8 14.5 9.3 13.3 8.5 12.5L6.3 10.4 5.7 9.9C6.4 9.8 7.5 9.6 8.3 9.1L8.3 9.1C9.2 8.6 9.6 8.2 9.2 7.5 9 7.1 8.5 6.8 7.7 7.4 7.7 7.4 6.7 8.1 5 8.1 3.3 8.1 2.3 7.4 2.3 7.4 1.5 6.8 1 7.1 0.8 7.5Z" class="u-svg-fill"/><path d="M5 7.1C7 7.1 8.7 5.5 8.7 3.5 8.7 1.6 7 0 5 0 3 0 1.3 1.6 1.3 3.5 1.3 5.5 3 7.1 5 7.1ZM5 1.8C6 1.8 6.8 2.6 6.8 3.5 6.8 4.5 6 5.3 5 5.3 4 5.3 3.2 4.5 3.2 3.5 3.2 2.6 4 1.8 5 1.8Z" class="u-svg-fill"/></svg>

mixin svg-whatsapp(width, height)
    | <svg xmlns="http://www.w3.org/2000/svg" class="#{attributes.class}" width="#{width}" height="#{height}" viewBox="0 0 14 14"><path d="M7 0C3.1 0 0 3.1 0 7c0 1.5 0.5 3 1.3 4.1l-0.9 2.6 2.7-0.9C4.3 13.6 5.6 14 7 14c3.9 0 7-3.1 7-7S10.9 0 7 0zM11.1 9.9c-0.2 0.5-0.8 0.9-1.4 1C9.3 11 8.9 11 7.3 10.3 5.2 9.5 3.9 7.4 3.8 7.3 3.7 7.1 2.9 6.2 2.9 5.2c0-1 0.5-1.5 0.7-1.7 0.2-0.2 0.4-0.3 0.7-0.3 0.1 0 0.2 0 0.2 0 0.2 0 0.3 0 0.4 0.3C5.2 4 5.6 5 5.7 5.1c0 0.1 0.1 0.2 0 0.4C5.6 5.6 5.6 5.7 5.5 5.8 5.4 5.9 5.3 6 5.2 6.1 5.1 6.2 5 6.3 5.1 6.5 5.2 6.7 5.6 7.4 6.2 8 7 8.7 7.6 8.9 7.9 9 8 9 8.2 9 8.4 8.9c0.2-0.2 0.4-0.5 0.5-0.7C9 8 9.2 7.9 9.4 8s1.2 0.6 1.4 0.7c0.2 0.1 0.4 0.2 0.4 0.2C11.2 9 11.2 9.4 11.1 9.9z" class="u-svg-fill"/></svg>

mixin svg-telegram(width, height)
    | <svg xmlns="http://www.w3.org/2000/svg" class="#{attributes.class}" width="#{width}" height="#{height}" viewBox="0 0 14 12" fill="none"><path d="M5.5 7.9L5.3 11.1C5.6 11.1 5.7 11 5.9 10.8L7.5 9.3 10.7 11.7C11.3 12 11.7 11.8 11.8 11.1L14 1.2 14 1.2C14.1 0.4 13.6 0 13.1 0.2L0.6 5C-0.2 5.3-0.2 5.8 0.5 6L3.7 7 11.1 2.4C11.4 2.1 11.7 2.3 11.5 2.5L5.5 7.9Z" class="u-svg-fill"/></svg>

mixin svg-warning(width, height)
    | <svg xmlns="http://www.w3.org/2000/svg" class="#{attributes.class}" width="#{width}" height="#{height}" viewBox="0 0 20 20"><path class="u-svg-fill" d="M10 0.2c-5.4 0-9.8 4.4-9.8 9.8 0 5.4 4.4 9.8 9.8 9.8 5.4 0 9.8-4.4 9.8-9.8C19.8 4.6 15.4 0.2 10 0.2zM10 18.3c-4.6 0-8.3-3.7-8.3-8.3 0-4.6 3.7-8.3 8.3-8.3 4.6 0 8.3 3.7 8.3 8.3C18.3 14.6 14.6 18.3 10 18.3z"/><path class="u-svg-fill" d="M10 5.1c-0.4 0-0.8 0.3-0.8 0.8v4.9c0 0.4 0.3 0.8 0.8 0.8 0.4 0 0.8-0.3 0.8-0.8V5.9C10.8 5.5 10.4 5.1 10 5.1z"/><path d="M10 14.6c0.6 0 1-0.5 1-1 0-0.6-0.5-1-1-1 -0.6 0-1 0.5-1 1C9 14.1 9.4 14.6 10 14.6z" class="u-svg-fill"/></svg>

mixin svg-warning-circled(width, height)
    | <svg xmlns="http://www.w3.org/2000/svg" class="#{attributes.class}" width="#{width}" height="#{height}" viewBox="0 0 16 16" fill="none"><path d="M8 0C3.6 0 0 3.6 0 8 0 12.4 3.6 16 8 16 12.4 16 16 12.4 16 8 16 3.6 12.4 0 8 0ZM8.8 12H7.2V10.4H8.8V12ZM8.8 8.8H7.2V4H8.8V8.8Z" class="u-svg-fill"/></svg>

mixin svg-yandex(width, height)
    | <svg xmlns="http://www.w3.org/2000/svg" class="#{attributes.class}" width="#{width}" height="#{height}" viewBox="0 0 10 20" fill="none"><path d="M6.3 0.6H9.1C9.6 0.6 10 1 10 1.4V18.6C10 19.1 9.7 19.4 9.2 19.4H7.7C7.3 19.4 6.9 19 6.9 18.6V12.9H6.7L3.4 18.9C3.3 19.2 3 19.4 2.6 19.4H0.9C0.5 19.4 0.3 19.2 0.1 19 0 18.7 0 18.4 0.1 18.1L3.6 12.2C1.7 11.2 0.7 9.4 0.7 7.1 0.7 2.6 3.5 0.6 6.3 0.6ZM6.5 10.2H6.9V3.3H6.3C5.1 3.3 3.9 4.2 3.9 6.8 3.9 8.9 4.9 10.2 6.5 10.2Z" class="u-svg-fill"/></svg>

mixin svg-cedro(width, height)
    | <svg xmlns="http://www.w3.org/2000/svg" class="#{attributes.class}" width="#{width}" height="#{height}" viewBox="0 0 71 13" fill="none"><path d="M12.4 7.9C11.9 9.5 10.5 10.5 8.6 10.5H6.2C3.8 10.5 2 8.8 2 6.4 2 4 3.8 2.3 6.2 2.3H8.6C10.4 2.3 11.8 3.2 12.4 4.7H14.4C13.7 2.1 11.5 0.4 8.6 0.4H6.2C2.6 0.4 0 3 0 6.4 0 9.8 2.6 12.4 6.2 12.4H8.6C11.5 12.4 13.8 10.6 14.4 7.9L12.4 7.9Z" style="fill:currentColor"/><path d="M18.4 10.4V7.2H25.5V5.4H18.4V2.4H25.9V0.7H16.5V12.2H26.1V10.4H18.4Z" style="fill:currentColor"/><path d="M35.2 0.7H28.5V12.2H35.2C38.7 12.2 41.2 9.7 41.2 6.4 41.2 3.1 38.7 0.7 35.2 0.7ZM35.1 10.4H30.4V2.4H35.1C37.5 2.4 39.2 4.1 39.2 6.4 39.2 8.7 37.5 10.4 35.1 10.4Z" class="u-svg-fill"/><path d="M51.8 7.6C52.6 7.4 53.2 6.9 53.6 6.3 54.1 5.7 54.3 5 54.3 4.3 54.3 2.2 52.6 0.7 50.3 0.7H43.1V12.2H45.1V7.9H49.8L52.4 12.2H54.6L51.8 7.6ZM50.1 6.1H45.1V2.4H50.1C51.4 2.4 52.3 3.2 52.3 4.3 52.3 5.3 51.4 6.1 50.1 6.1Z" style="fill:currentColor"/><path d="M64.7 0.4H62.2C58.6 0.4 55.9 3 55.9 6.4 55.9 9.8 58.6 12.4 62.2 12.4H64.7C68.3 12.4 71 9.8 71 6.4 71 3 68.3 0.4 64.7 0.4ZM64.7 10.6H62.2C59.8 10.6 57.9 8.8 57.9 6.4 57.9 4 59.8 2.2 62.2 2.2H64.7C67.2 2.2 69 4 69 6.4 69 8.8 67.2 10.6 64.7 10.6Z" class="u-svg-fill"/></svg>

mixin svg-logo(width, height)
    | <svg xmlns="http://www.w3.org/2000/svg" class="#{attributes.class}" width="#{width}" height="#{height}" viewBox="0 0 648 170" fill="none"><path d="M148.3 111.7V58.2C148.3 53.5 147.1 48.7 144.7 44.6 142.3 40.4 138.8 37 134.6 34.6L74.2 0 13.7 34.6C9.5 37 6.1 40.5 3.7 44.6 1.3 48.8 0 53.5 0 58.2V111.7C0 116.5 1.3 121.2 3.7 125.4 6.1 129.5 9.5 133 13.7 135.4L74.2 170 134.6 135.4C138.8 133 142.2 129.5 144.6 125.4 147.1 121.2 148.3 116.5 148.3 111.7Z" fill="#0A1130"/><path d="M98.3 88C103 92.7 106.3 98.7 107.6 105.3 108.9 111.9 108.2 118.7 105.6 124.8 103.1 131 98.7 136.3 93.1 140 87.5 143.7 80.9 145.7 74.2 145.7 67.4 145.7 60.8 143.7 55.2 140 49.6 136.3 45.3 131 42.7 124.8 40.1 118.7 39.4 111.9 40.7 105.3 42.1 98.7 45.3 92.7 50.1 88L55.7 82.4 43.6 70.4C41.8 68.6 40.5 66.3 40 63.8 39.5 61.3 39.8 58.7 40.8 56.3 41.8 53.9 43.4 51.9 45.6 50.5 47.7 49 50.2 48.3 52.8 48.3H96.1C98.6 48.4 101.1 49.2 103.1 50.7 105.2 52.1 106.8 54.2 107.7 56.5 108.6 58.9 108.8 61.4 108.3 63.9 107.8 66.4 106.6 68.6 104.8 70.4L92.6 82.4 98.3 88Z" fill="#7482F2"/><path d="M29.2 72V98C25.7 98 22.4 96.7 19.9 94.2 17.5 91.8 16.1 88.5 16.1 85 16.1 81.5 17.5 78.2 19.9 75.8 22.4 73.3 25.7 72 29.2 72Z" fill="#7382F2"/><path d="M119.1 72V98C122.6 98 125.9 96.7 128.4 94.2 130.9 91.8 132.3 88.5 132.3 85 132.3 81.5 130.9 78.2 128.4 75.8 125.9 73.3 122.6 72 119.1 72Z" fill="#7382F2"/><path d="M301 84.9C301.3 74.8 297.5 65.1 290.6 57.7 287.2 54.1 283.1 51.3 278.6 49.4 274 47.5 269.1 46.6 264.2 46.8 259.1 46.6 254 47.5 249.2 49.3 244.5 51.2 240.1 54 236.5 57.6 233 61.2 230.2 65.5 228.4 70.1 226.5 74.8 225.6 79.8 225.7 84.8 225.6 89.9 226.5 94.9 228.4 99.6 230.2 104.4 233.1 108.6 236.7 112.2 244 119.4 253.7 123 265.7 123 279.7 123 290.2 117.9 297.4 107.6L282.2 99C278.5 103.8 273.1 106.2 265.9 106.2 254.8 106.2 247.9 101.7 245.4 92.6H300.3C300.8 90.1 301 87.5 301 84.9ZM245.1 78.1C246 73.9 248.3 70.1 251.7 67.4 255.3 64.7 259.7 63.3 264.2 63.5 268.3 63.4 272.3 64.7 275.6 67.1 279.1 69.8 281.5 73.7 282.2 78L245.1 78.1Z" fill="#0A1130"/><path d="M314.1 15.5V121H332.9V26.3L314.1 15.5Z" fill="#0A1130"/><path d="M437.5 87.6C435 84.5 431.8 82.1 428.1 80.6 424.5 79.3 420.8 78.1 417 77.2 416 76.9 415.1 76.7 414 76.4 411.8 75.7 409.7 74.9 407.6 74 405.1 72.8 403.7 71.2 403.7 69.3 403.7 68.4 403.9 67.6 404.3 66.8 404.8 66.1 405.4 65.4 406.1 65 407.9 63.9 410 63.3 412.2 63.4 414.6 63.3 417.1 63.9 419.2 65.2 421.2 66.5 422.9 68.5 423.8 70.7L439.6 61.7C436.9 57.1 433.1 53.3 428.4 50.7 423.4 48.1 417.9 46.8 412.3 46.8 405.2 46.6 398.2 48.8 392.5 53 389.9 55 387.9 57.5 386.5 60.4 385.1 63.4 384.5 66.6 384.6 69.8 384.4 74.1 385.8 78.2 388.5 81.6 390.3 83.8 392.6 85.7 395.2 87.2 396 87.6 396.9 88 397.8 88.4 401.4 89.8 405.1 91 408.9 92 412.1 92.8 415.2 93.9 418.2 95.2 420.8 96.4 422.1 98 422.1 99.9 422.1 104.1 418.8 106.1 412.1 106.1 404.7 106.1 400 103 397.8 96.7L397.6 96.9 381.6 106C387.1 117.4 397.2 123 412.1 123 419.5 123.3 426.9 121.2 433 117.1 435.7 115.1 437.9 112.5 439.4 109.6 440.8 106.6 441.5 103.3 441.4 99.9 441.5 95.5 440.1 91.2 437.5 87.6Z" fill="#0A1130"/><path d="M514.5 57.8C509.1 52.4 502.2 48.8 494.7 47.3 487.3 45.8 479.5 46.5 472.4 49.4 465.4 52.3 459.3 57.3 455.1 63.6 450.9 69.9 448.7 77.3 448.7 84.9 448.7 95 452.8 104.8 460 111.9 467.2 119.1 477 123.1 487.2 123.1 497.4 123.1 507.2 119.1 514.4 111.9 521.6 104.8 525.7 95 525.7 84.9 525.8 79.9 524.9 74.9 522.9 70.2 521 65.5 518.1 61.3 514.5 57.8ZM501.1 99.2C499.3 101 497.1 102.5 494.7 103.5 492.3 104.4 489.7 104.9 487.1 104.8 484.5 104.9 481.9 104.4 479.5 103.5 477.1 102.5 474.9 101.1 473.1 99.2 471.2 97.3 469.7 95.1 468.8 92.6 467.8 90.2 467.4 87.5 467.5 84.9 467.4 82.3 467.8 79.6 468.8 77.2 469.7 74.7 471.2 72.5 473.1 70.6 474.9 68.8 477.1 67.3 479.5 66.3 481.9 65.4 484.5 64.9 487.1 65 489.7 64.9 492.3 65.4 494.8 66.3 497.2 67.3 499.4 68.8 501.2 70.6 503.1 72.5 504.6 74.7 505.5 77.2 506.5 79.6 507 82.3 506.9 84.9 507 87.6 506.5 90.2 505.5 92.6 504.5 95.1 503 97.3 501.1 99.2Z" fill="#0A1130"/><path d="M538.8 15.5V121H557.6V26.3L538.8 15.5Z" fill="#0A1130"/><path d="M636.8 57.8C631.4 52.4 624.5 48.8 617 47.3 609.6 45.8 601.8 46.5 594.7 49.4 587.7 52.3 581.6 57.3 577.4 63.6 573.2 69.9 571 77.3 571 84.9 571 95 575.1 104.8 582.3 111.9 589.5 119.1 599.3 123.1 609.5 123.1 619.7 123.1 629.5 119.1 636.7 111.9 643.9 104.8 648 95 648 84.9 648.1 79.9 647.2 74.9 645.2 70.2 643.3 65.5 640.4 61.3 636.8 57.8ZM623.6 99.2C621.7 101.1 619.5 102.5 617.1 103.5 614.7 104.4 612.1 104.9 609.4 104.8 606.8 104.9 604.2 104.4 601.8 103.5 599.4 102.5 597.2 101.1 595.4 99.2 593.5 97.3 592.1 95.1 591.1 92.6 590.1 90.2 589.7 87.5 589.8 84.9 589.7 82.3 590.1 79.6 591.1 77.2 592.1 74.7 593.5 72.5 595.4 70.6 597.2 68.8 599.4 67.3 601.8 66.3 604.2 65.4 606.8 64.9 609.4 65 612.1 64.9 614.7 65.4 617.1 66.3 619.5 67.3 621.7 68.8 623.6 70.6 625.4 72.5 626.9 74.7 627.9 77.2 628.9 79.6 629.3 82.3 629.2 84.9 629.3 87.5 628.9 90.2 627.9 92.6 626.9 95.1 625.4 97.3 623.6 99.2Z" fill="#0A1130"/></svg>

mixin svg-arrow-down(width, height)
    | <svg xmlns="http://www.w3.org/2000/svg" class="#{attributes.class}" width="#{width}" height="#{height}" viewBox="0 0 10 7" fill="none" ><path d="M5 4.31846L8.88906 0.5L10 1.59077L5 6.5L-4.7679e-08 1.59077L1.11094 0.5L5 4.31846Z" style="fill:currentColor"/></svg>

mixin svg-burger(width, height)
    | <svg xmlns="http://www.w3.org/2000/svg" class="#{attributes.class}" width="#{width}" height="#{height}" viewBox="0 0 16 12" fill="none"><path class="#{attributes.class}__line #{attributes.class}__line--1" d="M0 0H16V2H0V0ZM0" style="fill:currentColor"/><path class="#{attributes.class}__line #{attributes.class}__line--2" d="M0  5H16V7H0V5ZM0 " style="fill:currentColor"/><path class="#{attributes.class}__line #{attributes.class}__line--3" d="M0 10H16V12H0V10Z" style="fill:currentColor"/></svg>

mixin svg-camera(width, height)
    | <svg xmlns="http://www.w3.org/2000/svg" class="#{attributes.class}" width="#{width}" height="#{height}" viewBox="0 0 16 16" fill="none"><path d="M8 5.3C6.6 5.3 5.3 6.6 5.3 8 5.3 9.4 6.6 10.7 8 10.7 9.4 10.7 10.7 9.4 10.7 8 10.7 6.6 9.4 5.3 8 5.3ZM8 9.3C7.3 9.3 6.7 8.7 6.7 8 6.7 7.3 7.3 6.7 8 6.7 8.7 6.7 9.3 7.3 9.3 8 9.3 8.7 8.7 9.3 8 9.3Z" style="fill:currentColor"/><path d="M13.3 3.3H11.6L9.8 1.5C9.7 1.4 9.5 1.3 9.3 1.3H6.7C6.5 1.3 6.3 1.4 6.2 1.5L4.4 3.3H2.7C1.9 3.3 1.3 3.9 1.3 4.7V12C1.3 12.7 1.9 13.3 2.7 13.3H13.3C14.1 13.3 14.7 12.7 14.7 12V4.7C14.7 3.9 14.1 3.3 13.3 3.3ZM2.7 12V4.7H4.7C4.8 4.7 5 4.6 5.1 4.5L6.9 2.7H9.1L10.9 4.5C11 4.6 11.2 4.7 11.3 4.7H13.3L13.3 12H2.7Z" class="u-svg-fill"/></svg>

mixin svg-camera-bold(width, height)
    | <svg xmlns="http://www.w3.org/2000/svg" class="#{attributes.class}" width="#{width}" height="#{height}" viewBox="0 0 13 13" fill="none"><path d="M11.4 3.1H10.1L9.3 2C9.1 1.6 8.6 1.3 8.1 1.3H4.9C4.4 1.3 3.9 1.6 3.7 2L2.9 3.1H1.6C0.7 3.1 0 3.8 0 4.7V10.1C0 11 0.7 11.7 1.6 11.7H11.4C12.3 11.7 13 11 13 10.1V4.7C13 3.8 12.3 3.1 11.4 3.1ZM6.5 10.4C4.6 10.4 3 8.9 3 6.9 3 5 4.6 3.4 6.5 3.4 8.4 3.4 10 5 10 6.9 10 8.9 8.4 10.4 6.5 10.4ZM11.2 5.3C11.2 5.3 11.2 5.3 11.2 5.3H10.6C10.4 5.3 10.2 5.1 10.2 4.8 10.2 4.6 10.4 4.4 10.6 4.4H11.2C11.4 4.4 11.7 4.6 11.7 4.8 11.7 5.1 11.5 5.3 11.2 5.3Z" fill="white"/><path d="M6.5 5C5.4 5 4.5 5.9 4.5 6.9 4.5 8 5.4 8.9 6.5 8.9 7.6 8.9 8.4 8 8.4 6.9 8.4 5.8 7.6 5 6.5 5Z" class="u-svg-fill"/></svg>

mixin svg-youtube(width, height)
    | <svg xmlns="http://www.w3.org/2000/svg" class="#{attributes.class}" width="#{width}" height="#{height}" viewBox="0 0 13 9" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.6 0.3C12.1 0.4 12.6 0.9 12.7 1.4 13 2.4 13 4.5 13 4.5 13 4.5 13 6.6 12.7 7.6 12.6 8.2 12.1 8.6 11.6 8.7 10.6 9 6.5 9 6.5 9 6.5 9 2.4 9 1.4 8.7 0.9 8.6 0.4 8.1 0.3 7.6 0 6.6 0 4.5 0 4.5 0 4.5 0 2.4 0.3 1.4 0.4 0.9 0.9 0.4 1.4 0.3 2.4 0 6.5 0 6.5 0 6.5 0 10.6 0 11.6 0.3ZM8.6 4.5L5 6.5V2.6L8.6 4.5Z" class="u-svg-fill"/></svg>

mixin svg-copy(width, height)
    | <svg xmlns="http://www.w3.org/2000/svg" class="#{attributes.class}" width="#{width}" height="#{height}" viewBox="0 0 20 20" fill="none"><path d="M14.3 3.6H2.1C1 3.6 0 4.5 0 5.7V17.9C0 19 1 20 2.1 20H14.3C15.5 20 16.4 19 16.4 17.9V5.7C16.4 4.5 15.5 3.6 14.3 3.6ZM15 17.9C15 18.3 14.7 18.6 14.3 18.6H2.1C1.7 18.6 1.4 18.3 1.4 17.9V5.7C1.4 5.3 1.7 5 2.1 5H14.3C14.7 5 15 5.3 15 5.7V17.9Z" class="u-svg-fill"/><path d="M17.9 0H5C3.8 0 2.9 1 2.9 2.1 2.9 2.5 3.2 2.9 3.6 2.9 4 2.9 4.3 2.5 4.3 2.1 4.3 1.7 4.6 1.4 5 1.4H17.9C18.3 1.4 18.6 1.7 18.6 2.1V15C18.6 15.4 18.3 15.7 17.9 15.7 17.5 15.7 17.1 16 17.1 16.4 17.1 16.8 17.5 17.1 17.9 17.1 19 17.1 20 16.2 20 15V2.1C20 1 19 0 17.9 0Z" class="u-svg-fill"/></svg>

mixin svg-logo-surprise(width, height)
    | <svg xmlns="http://www.w3.org/2000/svg" class="#{attributes.class}" width="#{width}" height="#{height}" viewBox="0 0 85 96" fill="none"><path d="M84.1 63.1V32.9C84.1 30.2 83.4 27.5 82 25.2 80.6 22.8 78.7 20.9 76.4 19.5L42.5 0 8.6 19.5C6.3 20.9 4.3 22.8 3 25.2 1.6 27.5 0.9 30.2 0.9 32.9V63.1C0.9 65.8 1.6 68.5 3 70.8 4.3 73.1 6.3 75.1 8.6 76.5L42.5 96 76.4 76.5C78.7 75.1 80.7 73.2 82 70.8 83.4 68.5 84.1 65.8 84.1 63.1Z" fill="#0A1130"/><path d="M56 49.7C58.7 52.4 60.5 55.8 61.2 59.5 61.9 63.2 61.6 67 60.1 70.5 58.7 74 56.2 77 53.1 79.1 49.9 81.2 46.3 82.3 42.5 82.3 38.7 82.3 35 81.2 31.9 79.1 28.7 77 26.3 74 24.8 70.5 23.4 67 23 63.2 23.7 59.5 24.5 55.8 26.3 52.4 29 49.7L32.1 46.5 25.3 39.8C24.3 38.7 23.6 37.4 23.4 36 23.1 34.6 23.2 33.1 23.8 31.8 24.3 30.5 25.3 29.3 26.5 28.5 27.7 27.7 29.1 27.3 30.5 27.3H54.8C56.2 27.3 57.5 27.8 58.7 28.6 59.9 29.4 60.7 30.6 61.3 31.9 61.8 33.2 61.9 34.7 61.6 36.1 61.3 37.5 60.6 38.7 59.6 39.8L52.8 46.5 56 49.7Z" fill="#7482F2"/><path d="M17.3 40.6V55.4C15.3 55.4 13.5 54.6 12.1 53.2 10.7 51.8 9.9 50 9.9 48 9.9 46 10.7 44.2 12.1 42.8 13.5 41.4 15.3 40.6 17.3 40.6Z" fill="#7382F2"/><path d="M67.7 40.6V55.4C69.6 55.4 71.5 54.6 72.9 53.2 74.3 51.8 75 50 75 48 75 46 74.3 44.2 72.9 42.8 71.5 41.4 69.6 40.6 67.7 40.6Z" fill="#7382F2"/><path d="M39.5 53.4C40.4 53.4 41 52.7 41 51.9 41 51.1 40.4 50.4 39.5 50.4 38.7 50.4 38 51.1 38 51.9 38 52.7 38.7 53.4 39.5 53.4Z" fill="#0A1130"/><path d="M44.4 53.4C45.2 53.4 45.9 52.7 45.9 51.9 45.9 51.1 45.2 50.4 44.4 50.4 43.5 50.4 42.9 51.1 42.9 51.9 42.9 52.7 43.5 53.4 44.4 53.4Z" fill="#0A1130"/><path d="M33 34.8C33.8 34.2 34.8 33.8 35.8 33.6 36.8 33.4 37.8 33.5 38.8 33.8" style="stroke-width:3;stroke:#0A1130"/><path d="M36.6 46.9C38.6 46.9 40.2 45.3 40.2 43.3 40.2 41.3 38.6 39.7 36.6 39.7 34.6 39.7 33 41.3 33 43.3 33 45.3 34.6 46.9 36.6 46.9Z" fill="white"/><path d="M36.6 45.2C37.7 45.2 38.6 44.3 38.6 43.3 38.6 42.2 37.7 41.3 36.6 41.3 35.5 41.3 34.7 42.2 34.7 43.3 34.7 44.3 35.5 45.2 36.6 45.2Z" fill="#0A1130"/><path d="M52.2 34.8C51.4 34.2 50.4 33.8 49.4 33.6 48.4 33.4 47.3 33.5 46.3 33.8" style="stroke-width:3;stroke:#0A1130"/><path d="M48.6 46.9C50.5 46.9 52.2 45.3 52.2 43.3 52.2 41.3 50.5 39.7 48.6 39.7 46.6 39.7 44.9 41.3 44.9 43.3 44.9 45.3 46.6 46.9 48.6 46.9Z" fill="white"/><path d="M48.6 45.2C49.6 45.2 50.5 44.3 50.5 43.3 50.5 42.2 49.6 41.3 48.6 41.3 47.5 41.3 46.6 42.2 46.6 43.3 46.6 44.3 47.5 45.2 48.6 45.2Z" fill="#0A1130"/><path d="M42.3 70.1C45.4 70.1 47.9 67 47.9 63.3 47.9 59.5 45.4 56.5 42.3 56.5 39.1 56.5 36.6 59.5 36.6 63.3 36.6 67 39.1 70.1 42.3 70.1Z" fill="#0A1130"/><path d="M38.7 73.4C38.7 73.4 42 76.4 46.1 73.3" style="stroke-width:3;stroke:#0A1130"/></svg>

mixin svg-logo-ok(width, height)
    | <svg xmlns="http://www.w3.org/2000/svg" class="#{attributes.class}" width="#{width}" height="#{height}" viewBox="0 0 42 48" fill="none"><path d="M41.6 31.5V16.4C41.6 15.1 41.2 13.8 40.5 12.6 39.9 11.4 38.9 10.4 37.7 9.8L20.8 0 3.8 9.8C2.7 10.4 1.7 11.4 1 12.6 0.3 13.8 0 15.1 0 16.4V31.5C0 32.9 0.3 34.2 1 35.4 1.7 36.6 2.7 37.5 3.8 38.2L20.8 48 37.7 38.2C38.9 37.6 39.9 36.6 40.5 35.4 41.2 34.2 41.6 32.9 41.6 31.5Z" fill="#0A1130"/><path d="M27.5 24.8C28.9 26.2 29.8 27.9 30.1 29.7 30.5 31.6 30.3 33.5 29.6 35.2 28.9 37 27.6 38.5 26.1 39.5 24.5 40.6 22.7 41.1 20.8 41.1 18.9 41.1 17 40.6 15.5 39.5 13.9 38.5 12.7 37 11.9 35.2 11.2 33.5 11 31.6 11.4 29.7 11.8 27.9 12.7 26.2 14 24.8L15.6 23.3 12.2 19.9C11.7 19.4 11.3 18.7 11.2 18 11.1 17.3 11.1 16.6 11.4 15.9 11.7 15.2 12.2 14.7 12.8 14.3 13.4 13.8 14.1 13.6 14.8 13.6H26.9C27.6 13.7 28.3 13.9 28.9 14.3 29.5 14.7 29.9 15.3 30.2 16 30.4 16.6 30.5 17.3 30.3 18 30.2 18.7 29.8 19.4 29.3 19.9L25.9 23.3 27.5 24.8Z" fill="#7482F2"/><path d="M8.2 20.3V27.7C7.2 27.7 6.3 27.3 5.6 26.6 4.9 25.9 4.5 25 4.5 24 4.5 23 4.9 22.1 5.6 21.4 6.3 20.7 7.2 20.3 8.2 20.3Z" fill="#7382F2"/><path d="M33.4 20.3V27.7C34.3 27.7 35.3 27.3 36 26.6 36.7 25.9 37 25 37 24 37 23 36.7 22.1 36 21.4 35.3 20.7 34.3 20.3 33.4 20.3Z" fill="#7382F2"/><path d="M19.3 26.7C19.7 26.7 20 26.4 20 25.9 20 25.5 19.7 25.2 19.3 25.2 18.9 25.2 18.5 25.5 18.5 25.9 18.5 26.4 18.9 26.7 19.3 26.7Z" fill="#0A1130"/><path d="M21.7 26.7C22.1 26.7 22.5 26.4 22.5 25.9 22.5 25.5 22.1 25.2 21.7 25.2 21.3 25.2 21 25.5 21 25.9 21 26.4 21.3 26.7 21.7 26.7Z" fill="#0A1130"/><path d="M16.1 19C16.6 18.7 17.1 18.4 17.7 18.3 18.2 18.2 18.8 18.3 19.4 18.4" style="stroke-linecap:round;stroke-miterlimit:10;stroke-width:1.34641;stroke:#0A1130"/><path d="M25.4 19.4C24.9 19.1 24.3 19.1 23.7 19.1 23.2 19.2 22.6 19.3 22.1 19.6" style="stroke-linecap:round;stroke-miterlimit:10;stroke-width:1.34641;stroke:#0A1130"/><path d="M24.7 22.2C24.7 22.2 23.6 21 22.3 22.1" style="stroke-linecap:round;stroke-miterlimit:10;stroke-width:1.34641;stroke:#0A1130"/><path d="M17.8 23.4C18.8 23.4 19.6 22.6 19.6 21.6 19.6 20.6 18.8 19.8 17.8 19.8 16.8 19.8 16 20.6 16 21.6 16 22.6 16.8 23.4 17.8 23.4Z" fill="white"/><path d="M17.8 22.6C18.4 22.6 18.8 22.2 18.8 21.6 18.8 21.1 18.4 20.7 17.8 20.7 17.3 20.7 16.9 21.1 16.9 21.6 16.9 22.2 17.3 22.6 17.8 22.6Z" fill="#0A1130"/><path d="M14.1 28.8C14.1 28.8 19.9 33.1 27.4 28.8" style="stroke-linecap:round;stroke-miterlimit:10;stroke-width:1.34641;stroke:#0A1130"/></svg>

mixin svg-logo-min(width, height)
    | <svg xmlns="http://www.w3.org/2000/svg" class="#{attributes.class}" width="#{width}" height="#{height}" viewBox="0 0 29 32" fill="none"><path d="M28.4 21V11C28.4 10.1 28.1 9.2 27.7 8.4 27.2 7.6 26.6 7 25.8 6.5L14.3 0 2.9 6.5C2.1 7 1.5 7.6 1 8.4 0.5 9.2 0.3 10.1 0.3 11V21C0.3 21.9 0.5 22.8 1 23.6 1.5 24.4 2.1 25 2.9 25.5L14.3 32 25.8 25.5C26.6 25 27.2 24.4 27.7 23.6 28.1 22.8 28.4 21.9 28.4 21Z" fill="#0A1130"/><path d="M18.9 16.6C19.8 17.5 20.4 18.6 20.7 19.8 20.9 21.1 20.8 22.3 20.3 23.5 19.8 24.7 19 25.7 17.9 26.4 16.9 27.1 15.6 27.4 14.3 27.4 13.1 27.4 11.8 27.1 10.8 26.4 9.7 25.7 8.9 24.7 8.4 23.5 7.9 22.3 7.8 21.1 8 19.8 8.3 18.6 8.9 17.5 9.8 16.6L10.8 15.5 8.5 13.3C8.2 12.9 8 12.5 7.9 12 7.8 11.5 7.8 11 8 10.6 8.2 10.2 8.5 9.8 8.9 9.5 9.3 9.2 9.8 9.1 10.3 9.1H18.5C19 9.1 19.4 9.3 19.8 9.5 20.2 9.8 20.5 10.2 20.7 10.6 20.9 11.1 20.9 11.6 20.8 12 20.7 12.5 20.5 12.9 20.1 13.3L17.8 15.5 18.9 16.6Z" fill="#7482F2"/><path d="M5.8 13.5V18.5C5.2 18.5 4.5 18.2 4.1 17.7 3.6 17.3 3.3 16.7 3.3 16 3.3 15.3 3.6 14.7 4.1 14.3 4.5 13.8 5.2 13.5 5.8 13.5Z" fill="#7382F2"/><path d="M22.8 13.5V18.5C23.5 18.5 24.1 18.2 24.6 17.7 25.1 17.3 25.3 16.7 25.3 16 25.3 15.3 25.1 14.7 24.6 14.3 24.1 13.8 23.5 13.5 22.8 13.5Z" fill="#7382F2"/></svg>

mixin svg-logo-smile(width, height)
    | <svg xmlns="http://www.w3.org/2000/svg" class="#{attributes.class}" width="#{width}" height="#{height}" viewBox="0 0 42 49" fill="none"><path d="M42 31.9V16.6C42 15.2 41.6 13.9 41 12.7 40.3 11.5 39.3 10.5 38.1 9.9L21 0 3.9 9.9C2.7 10.6 1.7 11.5 1 12.7 0.4 13.9 0 15.3 0 16.6V31.9C0 33.2 0.4 34.6 1 35.8 1.7 37 2.7 37.9 3.9 38.6L21 48.5 38.1 38.6C39.3 37.9 40.3 37 41 35.8 41.6 34.6 42 33.2 42 31.9Z" fill="#0A1130"/><path d="M27.8 25.1C29.2 26.5 30.1 28.2 30.5 30 30.8 31.9 30.6 33.9 29.9 35.6 29.2 37.4 27.9 38.9 26.4 39.9 24.8 41 22.9 41.6 21 41.6 19.1 41.6 17.2 41 15.6 39.9 14 38.9 12.8 37.4 12.1 35.6 11.4 33.9 11.2 31.9 11.5 30 11.9 28.2 12.8 26.5 14.2 25.1L15.8 23.5 12.3 20.1C11.8 19.6 11.5 18.9 11.3 18.2 11.2 17.5 11.3 16.7 11.5 16.1 11.8 15.4 12.3 14.8 12.9 14.4 13.5 14 14.2 13.8 15 13.8H27.2C27.9 13.8 28.6 14 29.2 14.5 29.8 14.9 30.2 15.5 30.5 16.1 30.7 16.8 30.8 17.5 30.7 18.2 30.5 18.9 30.2 19.6 29.7 20.1L26.2 23.5 27.8 25.1Z" fill="#7482F2"/><path d="M8.3 20.5V28C7.3 28 6.3 27.6 5.6 26.9 4.9 26.2 4.6 25.2 4.6 24.2 4.6 23.3 4.9 22.3 5.6 21.6 6.3 20.9 7.3 20.5 8.3 20.5Z" fill="#7382F2"/><path d="M33.7 20.5V28C34.7 28 35.7 27.6 36.4 26.9 37.1 26.2 37.4 25.2 37.4 24.2 37.4 23.3 37.1 22.3 36.4 21.6 35.7 20.9 34.7 20.5 33.7 20.5Z" fill="#7382F2"/><path d="M19.5 27C19.9 27 20.3 26.6 20.3 26.2 20.3 25.8 19.9 25.5 19.5 25.5 19.1 25.5 18.7 25.8 18.7 26.2 18.7 26.6 19.1 27 19.5 27Z" fill="#0A1130"/><path d="M21.9 27C22.4 27 22.7 26.6 22.7 26.2 22.7 25.8 22.4 25.5 21.9 25.5 21.5 25.5 21.2 25.8 21.2 26.2 21.2 26.6 21.5 27 21.9 27Z" fill="#0A1130"/><path d="M16.3 20C16.8 19.6 17.4 19.4 17.9 19.3 18.5 19.2 19.1 19.2 19.7 19.4" style="stroke-linecap:round;stroke-miterlimit:10;stroke-width:1.3604;stroke:#0A1130"/><path d="M17 22.4C17 22.4 18.2 21.2 19.5 22.3" style="stroke-linecap:round;stroke-miterlimit:10;stroke-width:1.3604;stroke:#0A1130"/><path d="M25.7 20C25.2 19.6 24.6 19.4 24.1 19.3 23.5 19.2 22.9 19.2 22.3 19.4" style="stroke-linecap:round;stroke-miterlimit:10;stroke-width:1.3604;stroke:#0A1130"/><path d="M25 22.4C25 22.4 23.8 21.2 22.5 22.3" style="stroke-linecap:round;stroke-miterlimit:10;stroke-width:1.3604;stroke:#0A1130"/><path d="M14.3 29.1C14.3 29.1 20.1 33.4 27.7 29.1" style="stroke-linecap:round;stroke-miterlimit:10;stroke-width:1.3604;stroke:#0A1130"/></svg>

mixin svg-rub(width, height)
    | <svg xmlns="http://www.w3.org/2000/svg" class="#{attributes.class}" width="#{width}" height="#{height}" viewBox="0 0 13 14" fill="none"><path d="M0.8 8.8H2.6V10H0.8V11.8H2.6V14H5V11.8H9.6V10H5V8.8H7.2C10.9 8.8 12.6 7.1 12.6 4.4 12.6 1.6 11 0 7.2 0H2.6V6.8H0.8V8.8ZM7.2 2.1C9.2 2.1 10.1 3 10.1 4.5 10.1 5.9 9.2 6.8 7.2 6.8H5V2.1H7.2Z" class="u-svg-fill"/></svg>

mixin svg-lock(width, height)
    | <svg xmlns="http://www.w3.org/2000/svg" class="#{attributes.class}" width="#{width}" height="#{height}" viewBox="0 0 12 16" fill="none"><path d="M11.7 6H10.7V4.7C10.7 2.1 8.6 0 6 0 3.4 0 1.3 2.1 1.3 4.7V6H0.3C0.1 6 0 6.1 0 6.3V14.7C0 15.4 0.6 16 1.3 16H10.7C11.4 16 12 15.4 12 14.7V6.3C12 6.1 11.9 6 11.7 6ZM7 13C7 13.1 7 13.2 6.9 13.2 6.9 13.3 6.8 13.3 6.7 13.3H5.3C5.2 13.3 5.1 13.3 5.1 13.2 5 13.2 5 13.1 5 13L5.2 11.1C4.9 10.8 4.7 10.4 4.7 10 4.7 9.3 5.3 8.7 6 8.7 6.7 8.7 7.3 9.3 7.3 10 7.3 10.4 7.1 10.8 6.8 11.1L7 13ZM8.7 6H3.3V4.7C3.3 3.2 4.5 2 6 2 7.5 2 8.7 3.2 8.7 4.7V6Z" class="u-svg-fill"/></svg>

mixin svg-refresh(width, height)
    | <svg xmlns="http://www.w3.org/2000/svg" class="#{attributes.class}" width="#{width}" height="#{height}" viewBox="0 0 14 14"><path class="st0" d="M7 0C3.1 0 0 3.1 0 7s3.1 7 7 7 7-3.1 7-7S10.9 0 7 0zM7 11c-1.9 0-3.4-1.5-3.4-3.4 0-0.1 0.1-0.2 0.2-0.2h0.9c0.1 0 0.1 0.1 0.1 0.2 0 1.2 1 2.2 2.2 2.2 1.2 0 2.2-1 2.2-2.2 0-1.2-0.9-2.1-2.1-2.2v1C7.1 6.5 7 6.6 7 6.6c0 0-0.1 0-0.1 0L5.2 4.9c-0.1 0-0.1-0.2 0-0.2L6.9 3C6.9 3 7 3 7 3c0 0 0.1 0.1 0.1 0.1v1c1.9 0 3.4 1.6 3.3 3.5S8.8 11 7 11z" fill="#9FA4B9"/></svg>

mixin svg-success(width, height)
    | <svg xmlns="http://www.w3.org/2000/svg" class="#{attributes.class}" width="#{width}" height="#{height}" viewBox="0 0 14 14"><path class="st0" d="M7 0C3.1 0 0 3.1 0 7s3.1 7 7 7 7-3.1 7-7S10.9 0 7 0zM6 10.1L3.5 7.5l1.1-1.1L6 7.9l3.5-3.5 1.1 1.1L6 10.1z" fill="#52B65C"/></svg>

mixin svg-error(width, height)
    | <svg xmlns="http://www.w3.org/2000/svg" class="#{attributes.class}" width="#{width}" height="#{height}" viewBox="0 0 14 14"><path class="st0" d="M7 0C3.1 0 0 3.1 0 7s3.1 7 7 7 7-3.1 7-7S10.9 0 7 0zM9.8 8.9c0.2 0.2 0.2 0.5 0 0.7L9.6 9.8C9.4 10 9.1 10 8.9 9.8L7 8 5.1 9.8C4.9 10 4.6 10 4.4 9.8L4.2 9.6C4 9.4 4 9.1 4.2 8.9L6 7 4.2 5.1C4 4.9 4 4.6 4.2 4.4l0.3-0.3C4.6 4 4.9 4 5.1 4.2L7 6l1.9-1.9C9.1 4 9.4 4 9.6 4.2l0.3 0.3c0.2 0.2 0.2 0.5 0 0.7L8 7 9.8 8.9z" fill="#EB5757"/></svg>

mixin svg-like(width, height)
    | <svg xmlns="http://www.w3.org/2000/svg" class="#{attributes.class}" width="#{width}" height="#{height}" viewBox="0 0 18 18" fill="none"><path d="M13.6 8.2H10.4C10.7 7.5 11.1 6.5 11.3 5.2 11.4 4.2 10.6 3.2 9.6 3.2 8.8 3.2 8.1 3.8 7.9 4.7 7.6 6.4 6.5 8.3 6.1 8.9H5.9V8.9C5.9 8.6 5.7 8.3 5.4 8.3H2.7C2.4 8.3 2.2 8.6 2.2 8.9V17.5C2.2 17.8 2.4 18 2.7 18H5.4C5.7 18 5.9 17.8 5.9 17.5V17H13.1C14.3 17 15.3 16.1 15.4 15L15.8 10.7C16 9.4 14.9 8.2 13.6 8.2ZM3.2 16.9V9.4H4.8C4.8 18.3 4.8 16.4 4.8 16.9H3.2ZM14.8 10.6L14.3 14.9C14.3 15.5 13.8 16 13.1 16H5.9V9.9H6.3C6.5 9.9 6.7 9.8 6.8 9.7 6.8 9.6 8.5 7.3 9 4.8 9 4.5 9.3 4.3 9.6 4.3 10 4.3 10.3 4.6 10.2 5 10 7 9.1 8.4 9.1 8.4 8.9 8.8 9.2 9.2 9.6 9.2H13.6C14.3 9.2 14.9 9.9 14.8 10.6Z" class="u-svg-fill"/><path d="M11 2.5C11.3 2.6 11.6 2.5 11.7 2.2L12.2 0.9C12.3 0.6 12.2 0.3 11.9 0.2 11.7 0.1 11.4 0.2 11.3 0.5L10.7 1.8C10.6 2.1 10.7 2.4 11 2.5Z" class="u-svg-fill"/><path d="M7.7 2.1C7.7 2.4 8 2.5 8.3 2.5 8.6 2.4 8.8 2.1 8.7 1.8L8.2 0.4C8.1 0.1 7.8-0.1 7.6 0 7.3 0.1 7.1 0.4 7.2 0.7L7.7 2.1Z" class="u-svg-fill"/><path d="M4.2 3.4L6 4.6C6.3 4.7 6.6 4.7 6.8 4.4 6.9 4.2 6.9 3.8 6.6 3.7L4.8 2.5C4.6 2.4 4.2 2.5 4.1 2.7 3.9 3 4 3.3 4.2 3.4Z" class="u-svg-fill"/><path d="M13.2 4.8L15 3.9C15.2 3.8 15.3 3.4 15.2 3.2 15.1 2.9 14.7 2.8 14.5 3L12.7 3.9C12.4 4 12.3 4.3 12.5 4.6 12.6 4.9 12.9 5 13.2 4.8Z" class="u-svg-fill"/></svg>

mixin svg-three-dots(width, height)
    | <svg xmlns="http://www.w3.org/2000/svg" class="#{attributes.class}" width="#{width}" height="#{height}" viewBox="0 0 20 6" fill="none"><circle cx="2.9" cy="2.9" r="2.9" class="u-svg-fill"/><circle cx="10" cy="2.9" r="2.9" transform="rotate(-90 10.0017 2.85721)" class="u-svg-fill"/><circle cx="17.1" cy="2.9" r="2.9" transform="rotate(-90 17.1423 2.85721)" class="u-svg-fill"/></svg>

mixin svg-comment-edit(width, height)
    | <svg xmlns="http://www.w3.org/2000/svg" class="#{attributes.class}" width="#{width}" height="#{height}" viewBox="0 0 16 16" fill="none"><path d="M10.7 1.3H5.3C3.1 1.3 1.3 3.1 1.3 5.3V14C1.3 14.4 1.6 14.7 2 14.7H10.7C12.9 14.7 14.7 12.9 14.7 10.7V5.3C14.7 3.1 12.9 1.3 10.7 1.3ZM13.3 10.7C13.3 12.1 12.1 13.3 10.7 13.3H2.7V5.3C2.7 3.9 3.9 2.7 5.3 2.7H10.7C12.1 2.7 13.3 3.9 13.3 5.3V10.7Z" class="u-svg-fill"/><path d="M4.7 10V11.3H6L9.7 7.6 8.4 6.3 4.7 10Z" class="u-svg-fill"/><path d="M10.3 7L9 5.7 10 4.7 11.3 6 10.3 7Z" class="u-svg-fill"/></svg>

mixin svg-comment-remove(width, height)
    | <svg xmlns="http://www.w3.org/2000/svg" class="#{attributes.class}" width="#{width}" height="#{height}" viewBox="0 0 16 16" fill="none"><path d="M10.7 1.3H5.3C3.1 1.3 1.3 3.1 1.3 5.3V14C1.3 14.4 1.6 14.7 2 14.7H10.7C12.9 14.7 14.7 12.9 14.7 10.7V5.3C14.7 3.1 12.9 1.3 10.7 1.3ZM13.3 10.7C13.3 12.1 12.1 13.3 10.7 13.3H2.7V5.3C2.7 3.9 3.9 2.7 5.3 2.7H10.7C12.1 2.7 13.3 3.9 13.3 5.3V10.7Z" class="u-svg-fill"/><path d="M10.2 4.9L8 7.1 5.8 4.9 4.9 5.8 7.1 8 4.9 10.2 5.8 11.1 8 8.9 10.2 11.1 11.1 10.2 8.9 8 11.1 5.8 10.2 4.9Z" class="u-svg-fill"/></svg>

mixin svg-drag-drop(width, height)
    | <svg xmlns="http://www.w3.org/2000/svg" class="#{attributes.class}" width="#{width}" height="#{height}" viewBox="0 0 44 44" fill="none"><path d="M39.4 16.5H30.3C29.7 16.5 29.3 16.9 29.3 17.4 29.3 17.9 29.7 18.3 30.3 18.3H39.4C40.9 18.3 42.2 19.6 42.2 21.1V39.4C42.2 40.9 40.9 42.2 39.4 42.2H21.1C19.6 42.2 18.3 40.9 18.3 39.4V32.1C18.3 31.6 17.9 31.2 17.4 31.2 16.9 31.2 16.5 31.6 16.5 32.1V39.4C16.5 41.9 18.6 44 21.1 44H39.4C41.9 44 44 41.9 44 39.4V21.1C44 18.6 41.9 16.5 39.4 16.5Z" fill="#EE9166"/><path d="M13.7 25.7H12.8C12.3 25.7 11.9 26.1 11.9 26.6 11.9 27.1 12.3 27.5 12.8 27.5H13.7C14.3 27.5 14.7 27.1 14.7 26.6 14.7 26.1 14.3 25.7 13.7 25.7Z" fill="#EE9166"/><path d="M5.4 0H4.6C4.1 0 3.7 0.1 3.3 0.2 2.8 0.3 2.5 0.8 2.7 1.3 2.8 1.7 3.2 2 3.6 2 3.6 2 3.7 2 3.8 1.9 4.1 1.9 4.3 1.8 4.6 1.8H5.4C5.9 1.8 6.3 1.4 6.3 0.9 6.3 0.4 5.9 0 5.4 0Z" fill="#EE9166"/><path d="M1.8 22.1V20.3C1.8 19.7 1.4 19.3 0.9 19.3 0.4 19.3 0 19.7 0 20.3V22.1C0 22.6 0.4 23 0.9 23 1.4 23 1.8 22.6 1.8 22.1Z" fill="#EE9166"/><path d="M0.9 17.5C1.4 17.5 1.8 17.1 1.8 16.5V14.7C1.8 14.2 1.4 13.8 0.9 13.8 0.4 13.8 0 14.2 0 14.7V16.5C0 17.1 0.4 17.5 0.9 17.5Z" fill="#EE9166"/><path d="M0.9 6.3C1.4 6.3 1.8 5.9 1.8 5.4V4.6C1.8 4.3 1.9 4.1 1.9 3.8 2.1 3.3 1.8 2.8 1.3 2.7 0.8 2.6 0.3 2.8 0.2 3.3 0.1 3.7 0 4.2 0 4.6V5.4C0 5.9 0.4 6.3 0.9 6.3Z" fill="#EE9166"/><path d="M0.9 11.9C1.4 11.9 1.8 11.5 1.8 11V9.1C1.8 8.6 1.4 8.2 0.9 8.2 0.4 8.2 0 8.6 0 9.1V11C0 11.5 0.4 11.9 0.9 11.9Z" fill="#EE9166"/><path d="M3.8 25.6C3.4 25.4 3 25.2 2.6 24.9 2.3 24.5 1.7 24.5 1.4 24.9 1 25.2 1 25.8 1.4 26.2 1.9 26.7 2.6 27.1 3.3 27.3 3.4 27.3 3.5 27.4 3.6 27.4 4 27.4 4.3 27.1 4.5 26.7 4.6 26.2 4.3 25.7 3.8 25.6Z" fill="#EE9166"/><path d="M26.4 4.5C26.5 4.5 26.6 4.5 26.7 4.4 27.2 4.3 27.5 3.8 27.3 3.3 27.1 2.6 26.7 1.9 26.1 1.3 25.8 1 25.2 1 24.8 1.3 24.5 1.7 24.5 2.3 24.8 2.6 25.2 3 25.4 3.4 25.6 3.8 25.7 4.2 26 4.5 26.4 4.5Z" fill="#EE9166"/><path d="M22.1 0H20.2C19.7 0 19.3 0.4 19.3 0.9 19.3 1.4 19.7 1.8 20.2 1.8H22.1C22.6 1.8 23 1.4 23 0.9 23 0.4 22.6 0 22.1 0Z" fill="#EE9166"/><path d="M9.1 25.7H7.3C6.8 25.7 6.4 26.1 6.4 26.6 6.4 27.1 6.8 27.5 7.3 27.5H9.1C9.6 27.5 10 27.1 10 26.6 10 26.1 9.6 25.7 9.1 25.7Z" fill="#EE9166"/><path d="M26.6 6.3C26.1 6.3 25.7 6.7 25.7 7.2V9.1C25.7 9.6 26.1 10 26.6 10 27.1 10 27.5 9.6 27.5 9.1V7.2C27.5 6.7 27.1 6.3 26.6 6.3Z" fill="#EE9166"/><path d="M16.5 0H14.7C14.2 0 13.7 0.4 13.7 0.9 13.7 1.4 14.2 1.8 14.7 1.8H16.5C17 1.8 17.4 1.4 17.4 0.9 17.4 0.4 17 0 16.5 0Z" fill="#EE9166"/><path d="M11 0H9.1C8.6 0 8.2 0.4 8.2 0.9 8.2 1.4 8.6 1.8 9.1 1.8H11C11.5 1.8 11.9 1.4 11.9 0.9 11.9 0.4 11.5 0 11 0Z" fill="#EE9166"/><path d="M26.6 11.9C26.1 11.9 25.7 12.3 25.7 12.8V13.8C25.7 14.3 26.1 14.7 26.6 14.7 27.1 14.7 27.5 14.3 27.5 13.8V12.8C27.5 12.3 27.1 11.9 26.6 11.9Z" fill="#EE9166"/><path d="M30.1 15.9L27.2 13.1C26.1 12 24.3 12 23.2 13.1 22.9 13.4 22.6 13.8 22.5 14.3 21.5 13.9 20.3 14.2 19.5 14.9 19.1 15.4 18.8 15.9 18.7 16.4 17.9 16.3 16.9 16.6 16.3 17.2 15.7 17.8 15.4 18.7 15.5 19.4 14.9 19.5 14.3 19.8 13.8 20.3 13.3 20.8 13 21.5 13 22.3 13 23 13.3 23.8 13.8 24.3L14.7 25.1V28.4C14.7 30.9 16.7 33 19.3 33H23C28.5 33 33 28.5 33 23 33 20.3 32 17.8 30.1 15.9ZM23 31.2H19.3C17.7 31.2 16.5 29.9 16.5 28.4V27L18.6 29.1C19 29.4 19.5 29.4 19.9 29.1 20.1 28.9 20.2 28.7 20.2 28.4 20.2 28.2 20.1 27.9 19.9 27.8L15.1 23C14.9 22.8 14.8 22.6 14.8 22.3 14.8 22 14.9 21.8 15.1 21.6 15.5 21.2 16.2 21.2 16.6 21.6L18.6 23.6C19 23.9 19.5 23.9 19.9 23.6 20.1 23.4 20.2 23.2 20.2 22.9 20.2 22.7 20.1 22.4 19.9 22.3L17.6 20C17.2 19.6 17.2 18.9 17.6 18.5 18 18.1 18.7 18.1 19.1 18.5L20.4 19.9C20.8 20.3 21.4 20.3 21.7 19.9 21.9 19.7 22 19.5 22 19.2 22 19 21.9 18.8 21.7 18.6L20.8 17.7C20.4 17.3 20.4 16.6 20.8 16.2 21.2 15.8 21.9 15.8 22.3 16.2L23.2 17.1C23.5 17.5 24.1 17.5 24.5 17.1 24.7 17 24.8 16.7 24.8 16.5 24.8 16.3 24.7 16 24.5 15.9 24.3 15.7 24.2 15.4 24.2 15.1 24.2 14.8 24.3 14.6 24.5 14.4 24.9 14 25.5 14 25.9 14.4L28.8 17.2C30.3 18.8 31.2 20.8 31.2 23 31.2 27.5 27.5 31.2 23 31.2Z" fill="#EE9166"/></svg>

mixin svg-logo-smile-title(width, height)
    | <svg xmlns="http://www.w3.org/2000/svg" class="#{attributes.class}" width="#{width}" height="#{height}" viewBox="0 0 183 48" fill="none"><g clip-path="url(#clip0)"><path d="M85 24C85.1 21.1 84 18.4 82.1 16.3 81.1 15.3 80 14.5 78.7 14 77.4 13.4 76 13.2 74.6 13.2 73.2 13.2 71.7 13.4 70.4 13.9 69 14.5 67.8 15.3 66.8 16.3 65.8 17.3 65 18.5 64.5 19.8 64 21.1 63.7 22.5 63.8 24 63.7 25.4 64 26.8 64.5 28.1 65 29.5 65.8 30.7 66.8 31.7 68.9 33.7 71.6 34.7 75 34.7 79 34.7 82 33.3 84 30.4L79.7 28C78.7 29.3 77.1 30 75.1 30 72 30 70 28.7 69.3 26.2H84.8C84.9 25.4 85 24.7 85 24ZM69.2 22.1C69.5 20.9 70.1 19.8 71.1 19 72.1 18.3 73.3 17.9 74.6 17.9 75.8 17.9 76.9 18.3 77.8 18.9 78.8 19.7 79.5 20.8 79.7 22L69.2 22.1Z" fill="#0A1130"/><path d="M88.7 4.4V34.2H94V7.4L88.7 4.4Z" fill="#0A1130"/><path d="M123.5 24.7C122.9 23.9 121.9 23.2 120.9 22.8 119.9 22.4 118.8 22.1 117.8 21.8 117.5 21.7 117.2 21.6 116.9 21.6 116.3 21.4 115.7 21.2 115.1 20.9 114.4 20.6 114 20.1 114 19.6 114 19.3 114.1 19.1 114.2 18.9 114.3 18.7 114.5 18.5 114.7 18.3 115.2 18 115.8 17.9 116.4 17.9 117.1 17.9 117.8 18 118.4 18.4 119 18.8 119.4 19.3 119.7 20L124.1 17.4C123.4 16.1 122.3 15.1 121 14.3 119.6 13.6 118 13.2 116.4 13.2 114.4 13.2 112.5 13.8 110.9 15 110.1 15.5 109.5 16.2 109.1 17.1 108.8 17.9 108.6 18.8 108.6 19.7 108.6 20.9 109 22.1 109.7 23 110.2 23.7 110.9 24.2 111.6 24.6 111.8 24.7 112.1 24.9 112.3 24.9 113.4 25.4 114.4 25.7 115.5 26 116.4 26.2 117.3 26.5 118.1 26.9 118.8 27.2 119.2 27.7 119.2 28.2 119.2 29.4 118.3 30 116.4 30 114.3 30 113 29.1 112.4 27.3L112.3 27.4 107.8 29.9C109.3 33.1 112.2 34.7 116.4 34.7 118.5 34.8 120.5 34.2 122.3 33.1 123.1 32.5 123.7 31.8 124.1 30.9 124.5 30.1 124.7 29.2 124.6 28.2 124.7 27 124.3 25.7 123.5 24.7Z" fill="#0A1130"/><path d="M145.3 16.3C143.8 14.8 141.8 13.8 139.7 13.3 137.6 12.9 135.4 13.1 133.4 14 131.4 14.8 129.7 16.2 128.5 17.9 127.3 19.7 126.7 21.8 126.7 24 126.7 26.8 127.9 29.6 129.9 31.6 131.9 33.6 134.7 34.8 137.6 34.8 140.5 34.8 143.2 33.6 145.3 31.6 147.3 29.6 148.5 26.8 148.5 24 148.5 22.6 148.2 21.1 147.7 19.8 147.1 18.5 146.3 17.3 145.3 16.3ZM141.5 28C141 28.5 140.4 28.9 139.7 29.2 139 29.5 138.3 29.6 137.6 29.6 136.8 29.6 136.1 29.5 135.4 29.2 134.7 28.9 134.1 28.5 133.6 28 133.1 27.5 132.7 26.8 132.4 26.2 132.1 25.5 132 24.7 132 24 132 23.2 132.1 22.5 132.4 21.8 132.7 21.1 133.1 20.5 133.6 19.9 134.1 19.4 134.7 19 135.4 18.7 136.1 18.5 136.8 18.3 137.6 18.3 138.3 18.3 139 18.5 139.7 18.7 140.4 19 141 19.4 141.5 19.9 142.1 20.5 142.5 21.1 142.8 21.8 143 22.5 143.2 23.2 143.2 24 143.2 24.7 143 25.5 142.8 26.2 142.5 26.9 142.1 27.5 141.5 28Z" fill="#0A1130"/><path d="M152.2 4.4V34.2H157.5V7.4L152.2 4.4Z" fill="#0A1130"/><path d="M179.8 16.3C178.3 14.8 176.4 13.8 174.3 13.3 172.1 12.9 169.9 13.1 168 14 166 14.8 164.3 16.2 163.1 17.9 161.9 19.7 161.2 21.8 161.3 24 161.3 26.8 162.4 29.6 164.4 31.6 166.5 33.6 169.2 34.8 172.1 34.8 175 34.8 177.8 33.6 179.8 31.6 181.9 29.6 183 26.8 183 24 183 22.6 182.8 21.1 182.2 19.8 181.7 18.5 180.9 17.3 179.8 16.3ZM176.1 28C175.6 28.5 175 28.9 174.3 29.2 173.6 29.5 172.9 29.6 172.1 29.6 171.4 29.6 170.6 29.5 170 29.2 169.3 28.9 168.7 28.5 168.1 28 167.6 27.5 167.2 26.8 166.9 26.2 166.7 25.5 166.5 24.7 166.6 24 166.5 23.2 166.7 22.5 166.9 21.8 167.2 21.1 167.6 20.5 168.1 19.9 168.7 19.4 169.3 19 170 18.7 170.6 18.5 171.4 18.3 172.1 18.3 172.9 18.3 173.6 18.5 174.3 18.7 175 19 175.6 19.4 176.1 19.9 176.6 20.5 177 21.1 177.3 21.8 177.6 22.5 177.7 23.2 177.7 24 177.7 24.7 177.6 25.5 177.3 26.2 177 26.9 176.6 27.5 176.1 28Z" fill="#0A1130"/></g><g clip-path="url(#clip1)"><path d="M42.3 31.5V16.4C42.3 15.1 41.9 13.8 41.2 12.6 40.6 11.4 39.6 10.4 38.4 9.8L21.5 0 4.5 9.8C3.4 10.4 2.4 11.4 1.7 12.6 1.1 13.8 0.7 15.1 0.7 16.4V31.5C0.7 32.9 1.1 34.2 1.7 35.4 2.4 36.6 3.4 37.5 4.5 38.2L21.5 48 38.4 38.2C39.6 37.6 40.6 36.6 41.2 35.4 41.9 34.2 42.3 32.9 42.3 31.5Z" fill="#0A1130"/><path d="M28.2 24.8C29.6 26.2 30.5 27.9 30.8 29.7 31.2 31.6 31 33.5 30.3 35.2 29.6 37 28.4 38.5 26.8 39.5 25.2 40.6 23.4 41.1 21.5 41.1 19.6 41.1 17.7 40.6 16.2 39.5 14.6 38.5 13.4 37 12.7 35.2 11.9 33.5 11.7 31.6 12.1 29.7 12.5 27.9 13.4 26.2 14.7 24.8L16.3 23.3 12.9 19.9C12.4 19.4 12.1 18.7 11.9 18 11.8 17.3 11.9 16.6 12.1 15.9 12.4 15.2 12.9 14.7 13.5 14.3 14.1 13.8 14.8 13.6 15.5 13.6H27.6C28.3 13.7 29 13.9 29.6 14.3 30.2 14.7 30.6 15.3 30.9 16 31.1 16.6 31.2 17.3 31 18 30.9 18.7 30.6 19.4 30.1 19.9L26.7 23.3 28.2 24.8Z" fill="#7482F2"/><path d="M8.9 20.3V27.7C7.9 27.7 7 27.3 6.3 26.6 5.6 25.9 5.2 25 5.2 24 5.2 23 5.6 22.1 6.3 21.4 7 20.7 7.9 20.3 8.9 20.3Z" fill="#7382F2"/><path d="M34.1 20.3V27.7C35.1 27.7 36 27.3 36.7 26.6 37.4 25.9 37.8 25 37.8 24 37.8 23 37.4 22.1 36.7 21.4 36 20.7 35.1 20.3 34.1 20.3Z" fill="#7382F2"/><path d="M20 26.7C20.4 26.7 20.8 26.4 20.8 25.9 20.8 25.5 20.4 25.2 20 25.2 19.6 25.2 19.3 25.5 19.3 25.9 19.3 26.4 19.6 26.7 20 26.7Z" fill="#0A1130"/><path d="M22.4 26.7C22.8 26.7 23.2 26.4 23.2 25.9 23.2 25.5 22.8 25.2 22.4 25.2 22 25.2 21.7 25.5 21.7 25.9 21.7 26.4 22 26.7 22.4 26.7Z" fill="#0A1130"/><path d="M16.9 19.8C17.3 19.4 17.9 19.2 18.5 19.1 19 19 19.6 19 20.2 19.2" style="stroke-linecap:round;stroke-miterlimit:10;stroke-width:1.34641;stroke:#0A1130"/><path d="M17.5 22.2C17.5 22.2 18.7 21 20 22.1" style="stroke-linecap:round;stroke-miterlimit:10;stroke-width:1.34641;stroke:#0A1130"/><path d="M26.1 19.8C25.6 19.4 25.1 19.2 24.5 19.1 23.9 19 23.4 19 22.8 19.2" style="stroke-linecap:round;stroke-miterlimit:10;stroke-width:1.34641;stroke:#0A1130"/><path d="M25.4 22.2C25.4 22.2 24.3 21 23 22.1" style="stroke-linecap:round;stroke-miterlimit:10;stroke-width:1.34641;stroke:#0A1130"/><path d="M14.8 28.8C14.8 28.8 20.6 33.1 28.1 28.8" style="stroke-linecap:round;stroke-miterlimit:10;stroke-width:1.34641;stroke:#0A1130"/></g><defs><clipPath><rect width="183" height="48" fill="white"/></clipPath><clipPath><rect width="41.6" height="48" fill="white"/></clipPath></defs></svg>

mixin svg-logo-min-title(width, height)
    | <svg xmlns="http://www.w3.org/2000/svg" class="#{attributes.class}" width="#{width}" height="#{height}" viewBox="0 0 122 32" fill="none"><g clip-path="url(#clip0)"><path d="M27.9 21V11C27.9 10.1 27.7 9.2 27.2 8.4 26.8 7.6 26.1 7 25.4 6.5L14 0 2.6 6.5C1.8 7 1.1 7.6 0.7 8.4 0.2 9.2 0 10.1 0 11V21C0 21.9 0.2 22.8 0.7 23.6 1.1 24.4 1.8 25 2.6 25.5L14 32 25.3 25.5C26.1 25 26.8 24.4 27.2 23.6 27.7 22.8 27.9 21.9 27.9 21Z" fill="#0A1130"/><path d="M18.5 16.6C19.4 17.5 20 18.6 20.3 19.8 20.5 21.1 20.4 22.3 19.9 23.5 19.4 24.7 18.6 25.7 17.5 26.4 16.5 27.1 15.2 27.4 14 27.4 12.7 27.4 11.5 27.1 10.4 26.4 9.3 25.7 8.5 24.7 8 23.5 7.5 22.3 7.4 21.1 7.7 19.8 7.9 18.6 8.5 17.5 9.4 16.6L10.5 15.5 8.2 13.3C7.9 12.9 7.6 12.5 7.5 12 7.4 11.5 7.5 11 7.7 10.6 7.9 10.2 8.2 9.8 8.6 9.5 9 9.2 9.5 9.1 9.9 9.1H18.1C18.6 9.1 19 9.3 19.4 9.5 19.8 9.8 20.1 10.2 20.3 10.6 20.4 11.1 20.5 11.6 20.4 12 20.3 12.5 20.1 12.9 19.7 13.3L17.4 15.5 18.5 16.6Z" fill="#7482F2"/><path d="M5.5 13.5V18.5C4.8 18.5 4.2 18.2 3.8 17.7 3.3 17.3 3 16.7 3 16 3 15.3 3.3 14.7 3.8 14.3 4.2 13.8 4.8 13.5 5.5 13.5Z" fill="#7382F2"/><path d="M22.4 13.5V18.5C23.1 18.5 23.7 18.2 24.2 17.7 24.6 17.3 24.9 16.7 24.9 16 24.9 15.3 24.6 14.7 24.2 14.3 23.7 13.8 23.1 13.5 22.4 13.5Z" fill="#7382F2"/><path d="M56.7 16C56.7 14.1 56 12.2 54.7 10.9 54.1 10.2 53.3 9.7 52.4 9.3 51.6 8.9 50.7 8.8 49.7 8.8 48.8 8.8 47.8 8.9 46.9 9.3 46 9.6 45.2 10.2 44.5 10.9 43.9 11.5 43.3 12.3 43 13.2 42.6 14.1 42.5 15 42.5 16 42.5 16.9 42.6 17.9 43 18.8 43.3 19.6 43.9 20.4 44.6 21.1 45.9 22.5 47.8 23.2 50 23.2 52.7 23.2 54.6 22.2 56 20.3L53.1 18.6C52.4 19.5 51.4 20 50.1 20 48 20 46.7 19.1 46.2 17.4H56.5C56.6 17 56.7 16.5 56.7 16ZM46.1 14.7C46.3 13.9 46.7 13.2 47.4 12.7 48.1 12.2 48.9 11.9 49.7 11.9 50.5 11.9 51.3 12.2 51.9 12.6 52.6 13.1 53 13.9 53.1 14.7L46.1 14.7Z" fill="#0A1130"/><path d="M59.1 2.9V22.8H62.7V5L59.1 2.9Z" fill="#0A1130"/><path d="M82.4 16.5C81.9 15.9 81.3 15.4 80.6 15.2 79.9 14.9 79.2 14.7 78.5 14.5 78.3 14.5 78.1 14.4 77.9 14.4 77.5 14.3 77.1 14.1 76.7 13.9 76.3 13.7 76 13.4 76 13 76 12.9 76 12.7 76.1 12.6 76.2 12.4 76.3 12.3 76.5 12.2 76.8 12 77.2 11.9 77.6 11.9 78.1 11.9 78.5 12 78.9 12.3 79.3 12.5 79.6 12.9 79.8 13.3L82.8 11.6C82.3 10.7 81.5 10 80.7 9.5 79.7 9.1 78.7 8.8 77.6 8.8 76.3 8.8 75 9.2 73.9 10 73.4 10.3 73 10.8 72.8 11.4 72.5 11.9 72.4 12.5 72.4 13.1 72.4 13.9 72.6 14.7 73.1 15.4 73.5 15.8 73.9 16.1 74.4 16.4 74.6 16.5 74.7 16.6 74.9 16.6 75.6 16.9 76.3 17.1 77 17.3 77.6 17.5 78.2 17.7 78.7 17.9 79.2 18.2 79.5 18.4 79.5 18.8 79.5 19.6 78.8 20 77.6 20 76.2 20 75.3 19.4 74.9 18.2L74.8 18.2 71.8 20C72.9 22.1 74.8 23.2 77.6 23.2 79 23.2 80.4 22.8 81.5 22 82 21.7 82.4 21.2 82.7 20.6 83 20.1 83.1 19.4 83.1 18.8 83.1 18 82.9 17.2 82.4 16.5Z" fill="#0A1130"/><path d="M96.9 10.9C95.9 9.9 94.6 9.2 93.1 8.9 91.7 8.6 90.3 8.8 88.9 9.3 87.6 9.8 86.5 10.8 85.7 12 84.9 13.2 84.5 14.6 84.5 16 84.5 17.9 85.2 19.7 86.6 21.1 88 22.4 89.8 23.2 91.7 23.2 93.6 23.2 95.5 22.4 96.9 21.1 98.2 19.7 99 17.9 99 16 99 15 98.8 14.1 98.5 13.2 98.1 12.3 97.5 11.5 96.9 10.9ZM94.4 18.7C94 19 93.6 19.3 93.1 19.5 92.7 19.7 92.2 19.7 91.7 19.7 91.2 19.7 90.7 19.7 90.3 19.5 89.8 19.3 89.4 19 89.1 18.7 88.7 18.3 88.4 17.9 88.3 17.4 88.1 17 88 16.5 88 16 88 15.5 88.1 15 88.3 14.5 88.4 14.1 88.7 13.6 89.1 13.3 89.4 12.9 89.8 12.7 90.3 12.5 90.7 12.3 91.2 12.2 91.7 12.2 92.2 12.2 92.7 12.3 93.1 12.5 93.6 12.7 94 12.9 94.4 13.3 94.7 13.6 95 14.1 95.2 14.5 95.4 15 95.5 15.5 95.4 16 95.4 16.5 95.4 17 95.2 17.4 95 17.9 94.7 18.3 94.4 18.7Z" fill="#0A1130"/><path d="M101.4 2.9V22.8H105V5L101.4 2.9Z" fill="#0A1130"/><path d="M119.9 10.9C118.9 9.9 117.6 9.2 116.2 8.9 114.8 8.6 113.3 8.8 112 9.3 110.6 9.8 109.5 10.8 108.7 12 107.9 13.2 107.5 14.6 107.5 16 107.5 17.9 108.3 19.7 109.6 21.1 111 22.4 112.8 23.2 114.8 23.2 116.7 23.2 118.5 22.4 119.9 21.1 121.2 19.7 122 17.9 122 16 122 15 121.8 14.1 121.5 13.2 121.1 12.3 120.6 11.5 119.9 10.9ZM117.4 18.7C117.1 19 116.6 19.3 116.2 19.5 115.7 19.7 115.2 19.7 114.7 19.7 114.3 19.7 113.8 19.7 113.3 19.5 112.9 19.3 112.4 19 112.1 18.7 111.7 18.3 111.5 17.9 111.3 17.4 111.1 17 111 16.5 111 16 111 15.5 111.1 15 111.3 14.5 111.5 14.1 111.7 13.6 112.1 13.3 112.4 12.9 112.9 12.7 113.3 12.5 113.8 12.3 114.3 12.2 114.7 12.2 115.2 12.2 115.7 12.3 116.2 12.5 116.6 12.7 117.1 12.9 117.4 13.3 117.8 13.6 118 14.1 118.2 14.5 118.4 15 118.5 15.5 118.5 16 118.5 16.5 118.4 17 118.2 17.4 118 17.9 117.8 18.3 117.4 18.7Z" fill="#0A1130"/></g><defs><clipPath><rect width="122" height="32" fill="white"/></clipPath></defs></svg>

mixin svg-logo-wink(width, height)
    | <svg xmlns="http://www.w3.org/2000/svg" class="#{attributes.class}" width="#{width}" height="#{height}" viewBox="0 0 42 48" fill="none"><path d="M41.6 31.5V16.4C41.6 15.1 41.2 13.8 40.5 12.6 39.9 11.4 38.9 10.4 37.7 9.8L20.8 0 3.8 9.8C2.7 10.4 1.7 11.4 1 12.6 0.4 13.8 0 15.1 0 16.4V31.5C0 32.9 0.4 34.2 1 35.4 1.7 36.6 2.7 37.5 3.8 38.2L20.8 48 37.7 38.2C38.9 37.6 39.9 36.6 40.5 35.4 41.2 34.2 41.6 32.9 41.6 31.5Z" fill="#0A1130"/><path d="M27.5 24.8C28.9 26.2 29.8 27.9 30.1 29.7 30.5 31.6 30.3 33.5 29.6 35.2 28.9 37 27.7 38.5 26.1 39.5 24.5 40.6 22.7 41.1 20.8 41.1 18.9 41.1 17 40.6 15.5 39.5 13.9 38.5 12.7 37 12 35.2 11.2 33.5 11 31.6 11.4 29.7 11.8 27.9 12.7 26.2 14 24.8L15.6 23.3 12.2 19.9C11.7 19.4 11.4 18.7 11.2 18 11.1 17.3 11.2 16.6 11.4 15.9 11.7 15.2 12.2 14.7 12.8 14.3 13.4 13.8 14.1 13.6 14.8 13.6H26.9C27.6 13.7 28.3 13.9 28.9 14.3 29.5 14.7 29.9 15.3 30.2 16 30.4 16.6 30.5 17.3 30.3 18 30.2 18.7 29.9 19.4 29.4 19.9L26 23.3 27.5 24.8Z" fill="#7482F2"/><path d="M8.2 20.3V27.7C7.2 27.7 6.3 27.3 5.6 26.6 4.9 25.9 4.5 25 4.5 24 4.5 23 4.9 22.1 5.6 21.4 6.3 20.7 7.2 20.3 8.2 20.3Z" fill="#7382F2"/><path d="M33.4 20.3V27.7C34.4 27.7 35.3 27.3 36 26.6 36.7 25.9 37.1 25 37.1 24 37.1 23 36.7 22.1 36 21.4 35.3 20.7 34.4 20.3 33.4 20.3Z" fill="#7382F2"/><path d="M19.3 26.7C19.7 26.7 20.1 26.4 20.1 25.9 20.1 25.5 19.7 25.2 19.3 25.2 18.9 25.2 18.6 25.5 18.6 25.9 18.6 26.4 18.9 26.7 19.3 26.7Z" fill="#0A1130"/><path d="M21.7 26.7C22.1 26.7 22.5 26.4 22.5 25.9 22.5 25.5 22.1 25.2 21.7 25.2 21.3 25.2 21 25.5 21 25.9 21 26.4 21.3 26.7 21.7 26.7Z" fill="#0A1130"/><path d="M16.1 19C16.6 18.7 17.1 18.4 17.7 18.3 18.3 18.2 18.8 18.3 19.4 18.4" style="stroke-linecap:round;stroke-miterlimit:10;stroke-width:1.34641;stroke:#0A1130"/><path d="M25.4 19.4C24.9 19.1 24.3 19.1 23.7 19.1 23.2 19.2 22.6 19.3 22.1 19.6" style="stroke-linecap:round;stroke-miterlimit:10;stroke-width:1.34641;stroke:#0A1130"/><path d="M24.7 22.2C24.7 22.2 23.6 21 22.3 22.1" style="stroke-linecap:round;stroke-miterlimit:10;stroke-width:1.34641;stroke:#0A1130"/><path d="M17.8 23.4C18.8 23.4 19.7 22.6 19.7 21.6 19.7 20.6 18.8 19.8 17.8 19.8 16.8 19.8 16 20.6 16 21.6 16 22.6 16.8 23.4 17.8 23.4Z" fill="white"/><path d="M17.8 22.6C18.4 22.6 18.8 22.2 18.8 21.6 18.8 21.1 18.4 20.7 17.8 20.7 17.3 20.7 16.9 21.1 16.9 21.6 16.9 22.2 17.3 22.6 17.8 22.6Z" fill="#0A1130"/><path d="M14.1 28.8C14.1 28.8 19.9 33.1 27.4 28.8" style="stroke-linecap:round;stroke-miterlimit:10;stroke-width:1.34641;stroke:#0A1130"/></svg>

mixin svg-logo-wink-title(width, height)
    | <svg xmlns="http://www.w3.org/2000/svg" class="#{attributes.class}" width="#{width}" height="#{height}" viewBox="0 0 184 48" fill="none"><g clip-path="url(#clip0)"><path d="M86 24C86.1 21.1 85 18.4 83.1 16.3 82.1 15.3 81 14.5 79.7 14 78.4 13.4 77 13.2 75.6 13.2 74.2 13.2 72.7 13.4 71.4 13.9 70 14.5 68.8 15.3 67.8 16.3 66.8 17.3 66 18.5 65.5 19.8 65 21.1 64.7 22.5 64.8 24 64.7 25.4 65 26.8 65.5 28.1 66 29.5 66.8 30.7 67.8 31.7 69.9 33.7 72.6 34.7 76 34.7 80 34.7 83 33.3 85 30.4L80.7 28C79.7 29.3 78.1 30 76.1 30 73 30 71 28.7 70.3 26.2H85.8C85.9 25.4 86 24.7 86 24ZM70.2 22.1C70.5 20.9 71.1 19.8 72.1 19 73.1 18.3 74.3 17.9 75.6 17.9 76.8 17.9 77.9 18.3 78.8 18.9 79.8 19.7 80.5 20.8 80.7 22L70.2 22.1Z" fill="#0A1130"/><path d="M89.7 4.4V34.2H95V7.4L89.7 4.4Z" fill="#0A1130"/><path d="M124.5 24.7C123.9 23.9 122.9 23.2 121.9 22.8 120.9 22.4 119.8 22.1 118.8 21.8 118.5 21.7 118.2 21.6 117.9 21.6 117.3 21.4 116.7 21.2 116.1 20.9 115.4 20.6 115 20.1 115 19.6 115 19.3 115.1 19.1 115.2 18.9 115.3 18.7 115.5 18.5 115.7 18.3 116.2 18 116.8 17.9 117.4 17.9 118.1 17.9 118.8 18 119.4 18.4 120 18.8 120.4 19.3 120.7 20L125.1 17.4C124.4 16.1 123.3 15 122 14.3 120.6 13.6 119 13.2 117.4 13.2 115.4 13.2 113.5 13.8 111.9 15 111.1 15.5 110.5 16.2 110.1 17.1 109.8 17.9 109.6 18.8 109.6 19.7 109.6 20.9 110 22.1 110.7 23 111.2 23.7 111.9 24.2 112.6 24.6 112.8 24.7 113.1 24.9 113.3 24.9 114.4 25.4 115.4 25.7 116.5 26 117.4 26.2 118.3 26.5 119.1 26.9 119.8 27.2 120.2 27.7 120.2 28.2 120.2 29.4 119.3 30 117.4 30 115.3 30 114 29.1 113.4 27.3L113.3 27.4 108.8 29.9C110.3 33.1 113.2 34.7 117.4 34.7 119.5 34.8 121.5 34.2 123.3 33.1 124.1 32.5 124.7 31.8 125.1 30.9 125.5 30.1 125.7 29.2 125.6 28.2 125.7 27 125.3 25.7 124.5 24.7Z" fill="#0A1130"/><path d="M146.3 16.3C144.8 14.8 142.8 13.8 140.7 13.3 138.6 12.9 136.4 13.1 134.4 14 132.4 14.8 130.7 16.2 129.5 17.9 128.3 19.7 127.7 21.8 127.7 24 127.7 26.8 128.9 29.6 130.9 31.6 132.9 33.6 135.7 34.8 138.6 34.8 141.5 34.8 144.2 33.6 146.3 31.6 148.3 29.6 149.5 26.8 149.5 24 149.5 22.6 149.2 21.1 148.7 19.8 148.1 18.5 147.3 17.3 146.3 16.3ZM142.5 28C142 28.5 141.4 28.9 140.7 29.2 140 29.5 139.3 29.6 138.6 29.6 137.8 29.6 137.1 29.5 136.4 29.2 135.7 28.9 135.1 28.5 134.6 28 134.1 27.5 133.7 26.8 133.4 26.2 133.1 25.5 133 24.7 133 24 133 23.2 133.1 22.5 133.4 21.8 133.7 21.1 134.1 20.5 134.6 19.9 135.1 19.4 135.7 19 136.4 18.7 137.1 18.5 137.8 18.3 138.6 18.3 139.3 18.3 140 18.5 140.7 18.7 141.4 19 142 19.4 142.5 19.9 143.1 20.5 143.5 21.1 143.8 21.8 144 22.5 144.2 23.2 144.2 24 144.2 24.7 144 25.5 143.8 26.2 143.5 26.9 143.1 27.5 142.5 28Z" fill="#0A1130"/><path d="M153.2 4.4V34.2H158.5V7.4L153.2 4.4Z" fill="#0A1130"/><path d="M180.8 16.3C179.3 14.8 177.4 13.8 175.3 13.3 173.1 12.9 170.9 13.1 169 14 167 14.8 165.3 16.2 164.1 17.9 162.9 19.7 162.2 21.8 162.3 24 162.3 26.8 163.4 29.6 165.4 31.6 167.5 33.6 170.2 34.8 173.1 34.8 176 34.8 178.8 33.6 180.8 31.6 182.9 29.6 184 26.8 184 24 184 22.6 183.8 21.1 183.2 19.8 182.7 18.5 181.9 17.3 180.8 16.3ZM177.1 28C176.6 28.5 176 28.9 175.3 29.2 174.6 29.5 173.9 29.6 173.1 29.6 172.4 29.6 171.6 29.5 171 29.2 170.3 28.9 169.7 28.5 169.1 28 168.6 27.5 168.2 26.8 167.9 26.2 167.7 25.5 167.5 24.7 167.6 24 167.5 23.2 167.7 22.5 167.9 21.8 168.2 21.1 168.6 20.5 169.1 19.9 169.7 19.4 170.3 19 171 18.7 171.6 18.5 172.4 18.3 173.1 18.3 173.9 18.3 174.6 18.5 175.3 18.7 176 19 176.6 19.4 177.1 19.9 177.6 20.5 178 21.1 178.3 21.8 178.6 22.5 178.7 23.2 178.7 24 178.7 24.7 178.6 25.5 178.3 26.2 178 26.9 177.6 27.5 177.1 28Z" fill="#0A1130"/></g><g clip-path="url(#clip1)"><path d="M42.3 31.5V16.4C42.3 15.1 41.9 13.8 41.2 12.6 40.6 11.4 39.6 10.4 38.4 9.8L21.5 0 4.5 9.8C3.4 10.4 2.4 11.4 1.7 12.6 1.1 13.8 0.7 15.1 0.7 16.4V31.5C0.7 32.9 1.1 34.2 1.7 35.4 2.4 36.6 3.4 37.5 4.5 38.2L21.5 48 38.4 38.2C39.6 37.6 40.6 36.6 41.2 35.4 41.9 34.2 42.3 32.9 42.3 31.5Z" fill="#0A1130"/><path d="M28.2 24.8C29.6 26.2 30.5 27.9 30.8 29.7 31.2 31.6 31 33.5 30.3 35.2 29.6 37 28.4 38.5 26.8 39.5 25.2 40.6 23.4 41.1 21.5 41.1 19.6 41.1 17.7 40.6 16.2 39.5 14.6 38.5 13.4 37 12.7 35.2 11.9 33.5 11.7 31.6 12.1 29.7 12.5 27.9 13.4 26.2 14.7 24.8L16.3 23.3 12.9 19.9C12.4 19.4 12.1 18.7 11.9 18 11.8 17.3 11.9 16.6 12.1 15.9 12.4 15.2 12.9 14.7 13.5 14.3 14.1 13.8 14.8 13.6 15.5 13.6H27.6C28.3 13.7 29 13.9 29.6 14.3 30.2 14.7 30.6 15.3 30.9 16 31.1 16.6 31.2 17.3 31 18 30.9 18.7 30.6 19.4 30.1 19.9L26.7 23.3 28.2 24.8Z" fill="#7482F2"/><path d="M8.9 20.3V27.7C7.9 27.7 7 27.3 6.3 26.6 5.6 25.9 5.2 25 5.2 24 5.2 23 5.6 22.1 6.3 21.4 7 20.7 7.9 20.3 8.9 20.3Z" fill="#7382F2"/><path d="M34.1 20.3V27.7C35.1 27.7 36 27.3 36.7 26.6 37.4 25.9 37.8 25 37.8 24 37.8 23 37.4 22.1 36.7 21.4 36 20.7 35.1 20.3 34.1 20.3Z" fill="#7382F2"/><path d="M20 26.7C20.4 26.7 20.8 26.4 20.8 25.9 20.8 25.5 20.4 25.2 20 25.2 19.6 25.2 19.3 25.5 19.3 25.9 19.3 26.4 19.6 26.7 20 26.7Z" fill="#0A1130"/><path d="M22.4 26.7C22.8 26.7 23.2 26.4 23.2 25.9 23.2 25.5 22.8 25.2 22.4 25.2 22 25.2 21.7 25.5 21.7 25.9 21.7 26.4 22 26.7 22.4 26.7Z" fill="#0A1130"/><path d="M16.8 19C17.3 18.7 17.8 18.4 18.4 18.3 19 18.2 19.5 18.3 20.1 18.4" style="stroke-linecap:round;stroke-miterlimit:10;stroke-width:1.34641;stroke:#0A1130"/><path d="M26.1 19.4C25.6 19.1 25 19.1 24.4 19.1 23.9 19.2 23.3 19.3 22.8 19.6" style="stroke-linecap:round;stroke-miterlimit:10;stroke-width:1.34641;stroke:#0A1130"/><path d="M25.4 22.2C25.4 22.2 24.3 21 23 22.1" style="stroke-linecap:round;stroke-miterlimit:10;stroke-width:1.34641;stroke:#0A1130"/><path d="M18.5 23.4C19.5 23.4 20.4 22.6 20.4 21.6 20.4 20.6 19.5 19.8 18.5 19.8 17.6 19.8 16.7 20.6 16.7 21.6 16.7 22.6 17.6 23.4 18.5 23.4Z" fill="white"/><path d="M18.5 22.6C19.1 22.6 19.5 22.2 19.5 21.6 19.5 21.1 19.1 20.7 18.5 20.7 18 20.7 17.6 21.1 17.6 21.6 17.6 22.2 18 22.6 18.5 22.6Z" fill="#0A1130"/><path d="M14.8 28.8C14.8 28.8 20.6 33.1 28.1 28.8" style="stroke-linecap:round;stroke-miterlimit:10;stroke-width:1.34641;stroke:#0A1130"/></g><defs><clipPath><rect width="183" height="48" fill="white"/></clipPath><clipPath><rect width="41.6" height="48" fill="white"/></clipPath></defs></svg>

mixin svg-plus-small(width, height)
    | <svg xmlns="http://www.w3.org/2000/svg" class="#{attributes.class}" width="#{width}" height="#{height}" viewBox="0 0 8 8" fill="none"><path d="M7.5 3.3H4.7V0.5C4.7 0.2 4.5 0 4.2 0H3.8C3.5 0 3.3 0.2 3.3 0.5V3.3H0.5C0.2 3.3 0 3.5 0 3.8V4.2C0 4.5 0.2 4.7 0.5 4.7H3.3V7.5C3.3 7.8 3.5 8 3.8 8H4.2C4.5 8 4.7 7.8 4.7 7.5V4.7H7.5C7.8 4.7 8 4.5 8 4.2V3.8C8 3.5 7.8 3.3 7.5 3.3Z" class="u-svg-fill"/></svg>

mixin svg-minus-small(width, height)
    | <svg xmlns="http://www.w3.org/2000/svg" class="#{attributes.class}" width="#{width}" height="#{height}" viewBox="0 0 8 2" fill="none"><path d="M5.3 0H7.5C7.8 0 8 0.3 8 0.8V1.2C8 1.7 7.8 2 7.5 2H5.3 4.7 0.5C0.2 2 0 1.7 0 1.2V0.8C0 0.3 0.2 0 0.5 0H4.7 5.3Z" class="u-svg-fill"/></svg>

mixin svg-warning(width, height)
    | <svg xmlns="http://www.w3.org/2000/svg" class="#{attributes.class}" width="#{width}" height="#{height}" viewBox="0 0 20 17" fill="none"><path d="M19.7 14.2L11.7 0.9C11.3 0.3 10.7 0 10 0 9.3 0 8.7 0.3 8.3 0.9L0.3 14.2C-0.1 14.8-0.1 15.5 0.3 16.1 0.6 16.7 1.3 17 2 17H18C18.7 17 19.4 16.7 19.7 16.1 20.1 15.5 20.1 14.8 19.7 14.2ZM10 14.8C9.3 14.8 8.7 14.3 8.7 13.6 8.7 13 9.3 12.4 10 12.4 10.7 12.4 11.3 13 11.3 13.6 11.3 14.3 10.7 14.8 10 14.8ZM11.3 9.6C11.3 10.3 10.7 10.9 10 10.9 9.3 10.9 8.7 10.3 8.7 9.6V4C8.7 3.7 9 3.4 9.3 3.4H10.7C11 3.4 11.3 3.7 11.3 4V9.6H11.3Z" fill="white"/></svg>

mixin svg-trash(width, height)
    | <svg xmlns="http://www.w3.org/2000/svg" class="#{attributes.class}" width="#{width}" height="#{height}" viewBox="0 0 16 17" fill="none"><path d="M15.7 1.7H11C10.9 1.4 10.8 0.8 10.4 0.4 10.1 0.1 9.8 0 9.3 0H6C5.6 0 5.2 0.1 5 0.4 4.5 0.8 4.4 1.4 4.3 1.7H0.3C0.1 1.7 0 1.9 0 2 0 2.2 0.1 2.3 0.3 2.3H1L1.7 15.6C1.7 16.1 2 17 3.3 17H12.7C14 17 14.3 16.1 14.3 15.6L15 2.3H15.7C15.9 2.3 16 2.2 16 2 16 1.9 15.9 1.7 15.7 1.7ZM5 14.4C5 14.6 4.9 14.7 4.7 14.7 4.5 14.7 4.3 14.6 4.3 14.4V4.9C4.3 4.7 4.5 4.6 4.7 4.6 4.9 4.6 5 4.7 5 4.9V14.4ZM8.3 14.4C8.3 14.6 8.2 14.7 8 14.7 7.8 14.7 7.7 14.6 7.7 14.4V4.9C7.7 4.7 7.8 4.6 8 4.6 8.2 4.6 8.3 4.7 8.3 4.9V14.4ZM11.7 14.4C11.7 14.6 11.5 14.7 11.3 14.7 11.1 14.7 11 14.6 11 14.4V4.9C11 4.7 11.1 4.6 11.3 4.6 11.5 4.6 11.7 4.7 11.7 4.9V14.4ZM5.4 0.8C5.6 0.6 5.8 0.6 6 0.6H9.3C9.6 0.6 9.8 0.6 9.9 0.8 10.2 1 10.3 1.4 10.3 1.7H5C5.1 1.4 5.2 1 5.4 0.8Z" fill="#091032"/></svg>
