.referral {
  padding: 16px;

  background: #FFFFFF;
  box-shadow: 0px 4px 30px rgba(83, 95, 148, 0.1);
  border-radius: 10px;

  @include _media(">=desktop") {
    padding: 48px;
    padding-right: 32px;
  }
}

.referral-social {

  display: inline-flex;
  size: 32px;

  align-items: center;
  justify-content: center;

  font-size: 0;
  text-align: center;
  vertical-align: center;
  line-height: 0;

  background: #F4F5F9;
  border-radius: 100%;

  transition: $transition-duration;

  & + & {
    margin-left: 8px;
  }

  @each $social, $color in (vk : #4F719B, facebook : #32589C, twitter : #03A9F4, ok: #FFC107, whatsapp: #4CAF50, telegram: #039BE5) {
    &--#{$social} {
      color: $color;

      &:hover,
      &:focus {
        color: #ffffff;
        background-color: $color;
      }
    }
  }
}