mixin sorting()
    -
        let items = [
            {name: 'По цене (по возрастанию)', link: '', value: '', active: true},
            {name: 'По цене (по убыванию)', link: '', value: ''},
            {name: 'По рейтингу (по возрастанию)', link: '', value: ''},
            {name: 'По рейтингу (по убыванию)', link: '', value: ''},
            {name: 'По отзывам (по возрастанию)', link: '', value: ''},
            {name: 'По отзывам (по убыванию)', link: '', value: ''},
        ]
    .sorting(class=attributes.class)
        .sorting__prepend Сортировать:
        .sorting__item
            a.sorting__link.active по цене
                +svg-arrow-down(9,5)(class="sorting__link-arrow")
        .sorting__item
            a.sorting__link по рейтингу
        .sorting__item
            a.sorting__link по отзывам
        +select('Сортировать', 'sorting', items)(class='section__tabs u-not-desktop u-mt-16px u-mb-0')

mixin sortingProduct()
    -
        let items = [
            {name: 'По новизне (по возрастанию)', link: '', value: '', active: true},
            {name: 'По новизне (по убыванию)', link: '', value: ''},
            {name: 'По рейтингу (по возрастанию)', link: '', value: ''},
            {name: 'По рейтингу (по убыванию)', link: '', value: ''},
        ]

    .sorting(class=attributes.class)
        .sorting__prepend Сортировать:
        .sorting__item
            a.sorting__link.active по новизне
                +svg-arrow-down(9,5)(class="sorting__link-arrow")
        .sorting__item
            a.sorting__link по рейтингу
        +select('Сортировать', 'sorting', items)(class='section__tabs u-not-desktop u-mt-16px u-mb-0')