.sorting {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 16px;

  @include _media('>=desktop') {
    flex-direction: row;
    align-items: center;

    & > * + * {
      margin-left: 16px;
    }
  }
}