.product__caption {
  margin-bottom: 16px;

  @include _media('>=desktop') {
    margin-bottom: 32px;
  }
}

.product__media-wrapper {
  display: flex;
  flex-wrap: wrap;

  @include _media("<desktop") {
    margin-bottom: 48px;
  }
}

.product__gallery {
  flex-basis: 100%;
  max-width: 100%;
  margin-bottom: 16px;

  @include _media("<tablet") {
    margin-left: -16px;
    margin-right: -16px;
    flex-basis: calc(100% + 32px);
    width: calc(100% + 32px) !important;
    max-width: calc(100% + 32px);
  }
}

.product__gallery-slider {

}

.product__gallery-slide {
  position: relative;



  &:before {
    content: '';
    display: block;
    padding-bottom: 52.94117%;

    @include _media("<tablet") {
      padding-bottom: 80.952%;
    }
  }

  img {
    position: absolute;
    top: 0;
    left: 0;

    size: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.product__media {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  size: auto 95px;
  flex: 1 0 calc(50% - 8px);
  max-width: calc(50% - 8px);
  padding-left: 16px;
  overflow: hidden;

  font-weight: bold;
  color: #ffffff;

  border-radius: 5px;

  &:after {
    content: '';
    position: absolute 0 0 0 0;
    z-index: -1;


    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  }

  & + & {
    margin-left: 16px;
  }
}

.product__media p + p{
  margin-top: 18px;
}

.product__media img {
  position: absolute 0 0 0 0;
  size: 100%;
  z-index: -1;

  object-fit: cover;
}

.product__gallery-button-prev,
.product__gallery-button-next {
  position: absolute;
  top: 50%;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: center;
  size: 24px;

  color: #7381FB;

  border-radius: 50%;
  background-color: #ffffff;
  transform: translateY(-50%);

  cursor: pointer;

  &:active {
    box-shadow: 0 0 0 1px #C6CBE1;
  }

  @include _media(">=desktop") {
    size: 32px;
  }
}

.product__gallery-button-prev {
  left: 16px;
  right: auto;

  &:before {
    content: '';
    display: inline-block;
    size: 7px 10px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='10' viewBox='0 0 7 10' fill='none'%3E%3Cpath d='M2.5 5L7 8.9 5.7 10 0 5 5.7 0 7 1.1 2.5 5Z' fill='%237381FB'/%3E%3C/svg%3E");

  }
}

.product__gallery-button-next {
  left: auto;
  right: 16px;

  &:before {
    content: '';
    display: inline-block;
    size: 7px 10px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='10' viewBox='0 0 7 10' fill='none'%3E%3Cpath d='M4.5 5L0 1.1 1.3 0 7 5 1.3 10 0 8.9 4.5 5Z' fill='%237381FB'/%3E%3C/svg%3E");
  }
}

.product__gallery-pagination {
  display: flex;
  flex-wrap: nowrap;
  position: absolute;
  bottom: 16px !important;
  left: 50% !important;
  z-index: 1 !important;

  width: auto !important;
  transform: translateX(-50%) !important;
}

.product__gallery-pagination {
  .swiper-pagination-bullet {
    size: 37px 2px;

    background: rgba(255, 255, 255, 0.46);
    border-radius: 32px;

    &-active {
      background: #ffffff;
    }
  }
}

.product__rating {
  display: flex;
  align-items: center;
  margin: 32px $_;

   > * {
     margin-right: 12px !important;
   }
}