mixin check(name, title)
    label.check
        input.check__input(type="checkbox", name=name)
        svg(class="check__box" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none")
            rect(class="check__square" x="0.5" y="0.5" width="15" height="15" rx="1.5" )
            path(class="check__mark" d="M5 8L7 10L11 6" )
        | #{title}