.check__input {
  @extend .visually-hidden;

  &:checked + .check__box > .check__square {
    stroke: #7381FB;
    fill: #7381FB;
  }

  &:focus + .check__box > .check__square,
  &:hover + .check__box > .check__square {
    stroke: #7381FB;
    fill: none;
  }

  &:checked:focus + .check__box > .check__square,
  &:checked:hover + .check__box > .check__square {
    stroke: #5664DF;
    fill: #5664DF;
  }

}
