.alert__close {
  display: inline-flex;
  padding-top: 2px;
  padding-left: 16px;
  margin-left: auto;

  opacity: 1;

  transition: opacity 0.2s;

  &:before {
    @include asIcon('cross-bold');
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }
}