.alert {
  display: flex;

  padding: 16px;

  font-weight: 500;
  line-height: 1.25;
  color: #ffffff;


}


// MODIFIERS

.alert {
  &--success {
    @include property(background-color, success-color);
  }

  &--warning {
    @include property(background-color, warning-color);
  }

  &--error {
    @include property(background-color, error-color);
  }
}