include ../../bundles/pug/components/svg/_icons

mixin alert(content)
    div.alert(role="alert", class!=attributes.class)
        .container
            .alert__inner
                if block
                    block
                p #{content}
        button.alert__close(type='button', aria-label="Закрыть")

mixin alert-success(content)
    +alert(content)(class="alert--success")
        +icon-check-circled(16, 16)

mixin alert-warning(content)
    +alert(content)(class="alert--warning")
        +icon-warning-circled(16, 16)

mixin alert-error(content)
    +alert(content)(class="alert--error")
        +icon-cross-circled(16, 16)
