.collapse-wrapper {
  display: block;

  background-color: #ffffff;
  border: 1px solid rgba(115, 129, 251, 0.18);
  border-radius: 5px;

  & + & {
    margin-top: 16px;
  }
}

.collapse__trigger {
  position: relative;

  display: block;
  size: 100% 64px;
  padding-left: 22px;
  padding-right: 48px;

  text-align: left;
  font-weight: bold;
  font-size: 20px / 56px;
  color: #091032;

  &:after {
    content: '';
    position: absolute;
    top: 24px;
    right: 22px;

    display: block;
    size: 16px;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M9.6 0H6.4V6.4H0V9.6H6.4V16H9.6V9.6H16V6.4H9.6V0Z' fill='%237381FB'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center center;
  }

  &[aria-expanded='true']:after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='4' viewBox='0 0 16 4' fill='none'%3E%3Cpath d='M0 0.4H6.4 16V3.6H6.4 0V0.4Z' fill='%237381FB'/%3E%3C/svg%3E");
  }
}

.collapse {
  display: none;

}

.collapse__content {
  padding: 32px;
}

.collapse.show {
  display: block;
  border-top: 1px solid #E6E8FE;
}

.collapsing {
  position: relative;

  height: 0;
  overflow: hidden;

  border-top: 1px solid #E6E8FE;

  transition: height .5s ease;
}