.modal {
  position: fixed 0 0 0 0;
  z-index: 9999;

  display: none;
  width: 100%;
  height: 100%;
  padding: 16px;

  opacity: 0;

  transition: opacity $transition-duration linear;

  overflow-x: hidden;
  overflow-y: auto;

  &.show {
    opacity: 1;
    display: flex !important;
  }

  @include _media('<tablet') {
    padding-right: 16px !important;
  }
}

.modal--huge {
  .modal__content {
    @include _media('>=desktop') {
      width: 100%;
    }
  }
}

.modal--wide {
  .modal__content {

    @include _media('>=desktop') {
      width: 944px;
    }
  }
}
.modal-dialog {
  overflow-x: hidden;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998;

  width: 100vw;
  height: 100vh;

  opacity: 0;
  backdrop-filter: blur(20px);

  transition: opacity $transition-duration linear;

  &.show {
    opacity: 1;
  }
}

.modal__content {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: $desktop;
  padding: 16px;
  margin: auto;

  transform: translate(0,0) !important;

  background: #FFFFFF;
  box-shadow: 0px 10px 15px rgba(55, 156, 183, 0.13);
  border-radius: 10px;

  @include _media('>=desktop') {
    width: 464px;
    padding: 32px;
  }
}

.modal__close {
  position: absolute;
  top: 16px;
  right: 16px;

  color: #7381FB;

  transition: $transition-duration;

  &:hover {
    color: #FA8D50;
  }

  &:active {
    color: #E67738;
  }
}

.modal__divider {
  width: calc(100% + 64px);
  height: 0;
  margin-left: -32px;
  border-bottom: 2px solid #E6EEF7;
}

.modal__caption {
  font-weight: bold;
  font-size: 24px;
  color: #091032;
}