mixin modal(isShow = false)
    - let classes = ["fade"]
    - let modalId = attributes.id || 'exampleModal';

    - classes.push(attributes.class)
    if isShow
        - classes.push('show')

    .modal(tabindex="-1", role="dialog", id=`${modalId}`, class=classes)
        .modal-dialog.modal__content(role="document")
            button.modal__close.close(data-dismiss="modal", aria-label="Закрыть")
                +svg-cross-bold(16, 16)
            if (block)
                block
    if isShow
        .modal-backdrop.fade.show