.topper-container {
  position: relative;
  z-index: 1;

  margin: $_ auto;
  padding: 0;
  list-style: none;
}

.topper-wrapper {
  position: relative;
  z-index: 1;

  display: flex;
  size: 100%;
  margin-bottom: 32px;

  transition-property: transform;
  transform: translate3d(0px,0,0);

  @include _media(">=desktop") {
    margin-bottom: 48px;
  }
}

.topper {
  display: inline-block;
  flex-shrink: 0;
  justify-content: space-between;
  padding: 22px 27px;

  font-size: 16px;
  color: #091032;
  white-space: nowrap;

  background: #FFFFFF;
  box-shadow: 0px 4px 30px rgba(83, 95, 148, 0.1);
  border-radius: 10px;
}

.topper strong {
   color: #7381FB;
}