.row {
  display: flex;
  flex-flow: row wrap;
}

.align-items-baseline {
  align-items: baseline !important;
}

$columns : (
        1 : one,
        2 : two,
        3 : three,
        4 : four,
        5 : five,
        6 : six,
        7 : seven,
        8 : eight,
        9 : nine,
        10 : ten,
        11 : eleven,
        12 : twelve,
);

$screens : ('desktop', 'tablet', 'phablet', 'phone');


@mixin columns($margin-left : 0) {

  .column,
  .column-auto,
  .columns {
    width: 100%;

    &:first-child {
      margin-left: 0 !important;
    }
  }

  .column-auto {
    width: auto;
  }

  @each $number, $key in $columns {
    $parts : (12 / $number);
    $selector : #{$key}-columns;

    $offset-selector : #{$key}-offset;

    @if $number == 1 {
      $selector : #{$key}-column;
    }

    $w : length($columns);

    .#{$selector} {
      flex: 0 0 calc((100% + #{$margin-left}) * (#{$number} / #{$w}) - #{$margin-left});
      width: calc((100% + #{$margin-left}) * (#{$number} / #{$w}) - #{$margin-left});
      margin-left: #{$margin-left};
    }
    .#{$offset-selector}.#{$offset-selector}.#{$offset-selector}.#{$offset-selector},
    .columns:first-child.#{$offset-selector}.#{$offset-selector}.#{$offset-selector}.#{$offset-selector}
    {
      margin-left: calc((100% + #{$margin-left}) * (#{$number} / #{$w})) !important;
    }

    @for $i from 1 through  12 {

      .row > .#{$selector}:nth-of-type(#{$i}n + 1) {
        @if $i == $parts {
          margin-left: 0 !important;
        } @else if $i % $parts == 0 {
          margin-left: 0 !important;
        } @else {
          margin-left: #{$margin-left} !important;
        }
      }
    }

    @include _media('>phone') {
      .#{$selector}-phone {
        flex: 0 0 calc((100% + #{$margin-left}) * (#{$number} / #{$w}) - #{$margin-left});
        width: calc((100% + #{$margin-left}) * (#{$number} / #{$w}) - #{$margin-left});
        margin-left: #{$margin-left};
      }

      .#{$offset-selector}-phone.#{$offset-selector}-phone.#{$offset-selector}-phone.#{$offset-selector}-phone,
      .columns:first-child.#{$offset-selector}-phone.#{$offset-selector}-phone.#{$offset-selector}-phone.#{$offset-selector}-phone
      {
        margin-left: calc((100% + #{$margin-left}) * (#{$number} / #{$w})) !important;
      }
    }

    @include _media('>tablet') {
      .#{$selector}-tablet {
        flex: 0 0 calc((100% + #{$margin-left}) * (#{$number} / #{$w}) - #{$margin-left});
        width: calc((100% + #{$margin-left}) * (#{$number} / #{$w}) - #{$margin-left});
        margin-left: #{$margin-left};
      }
      .#{$offset-selector}-tablet.#{$offset-selector}-tablet.#{$offset-selector}-tablet.#{$offset-selector}-tablet,
      .columns:first-child.#{$offset-selector}-tablet.#{$offset-selector}-tablet.#{$offset-selector}-tablet.#{$offset-selector}-tablet
      {
        margin-left: calc((100% + #{$margin-left}) * (#{$number} / #{$w})) !important;
      }
    }

    @include _media('>desktop') {
      .#{$selector}-desktop {
        flex: 0 0 calc((100% + #{$margin-left}) * (#{$number} / #{$w}) - #{$margin-left});
        width: calc((100% + #{$margin-left}) * (#{$number} / #{$w}) - #{$margin-left});
        margin-left: #{$margin-left};
      }
      .#{$offset-selector}-desktop.#{$offset-selector}-desktop.#{$offset-selector}-desktop.#{$offset-selector}-desktop,
      .columns:first-child.#{$offset-selector}-desktop.#{$offset-selector}-desktop.#{$offset-selector}-desktop.#{$offset-selector}-desktop
      {
        margin-left: calc((100% + #{$margin-left}) * (#{$number} / #{$w})) !important;
      }
    }

    @include _media('>hd-desktop') {
      .#{$selector}-hd-desktop {
        flex: 0 0 calc((100% + #{$margin-left}) * (#{$number} / #{$w}) - #{$margin-left});
        width: calc((100% + #{$margin-left}) * (#{$number} / #{$w}) - #{$margin-left});
        margin-left: #{$margin-left};
      }
    }

    @include _media('>phone', '<=tablet') {
      .row > .#{$selector}-phone {
        &:first-child {
          margin-left: 0 !important;
        }
      }

      @for $i from 1 through  12 {
        .row > .#{$selector}-phone:nth-of-type(#{$i}n + 1) {
          @if $i == $parts {
            margin-left: 0 !important;
          } @else if $i % $parts == 0 {
            margin-left: 0 !important;
          } @else {
            margin-left: #{$margin-left} !important;
          }
        }
      }
    }

    @include _media('>tablet', '<=desktop') {


      .row > .#{$selector}-tablet {
        &:first-child {
          margin-left: 0 !important;
        }
      }

      @for $i from 1 through  12 {
        .row > .#{$selector}-tablet:nth-of-type(#{$i}n + 1) {
          @if $i == $parts {
            margin-left: 0 !important;
          } @else if $i % $parts == 0 {
            margin-left: 0 !important;
          } @else {
            margin-left: #{$margin-left} !important;
          }
        }
      }
    }

    @include _media('>desktop') {
      .row > .#{$selector}-desktop {
        &:first-child {
          margin-left: 0 !important;
        }
      }

      @for $i from 1 through  12 {
        .row > .#{$selector}-desktop:nth-of-type(#{$i}n + 1) {
          @if $i == $parts {
            margin-left: 0 !important;
          } @else if $i % $parts == 0 {
            margin-left: 0 !important;
          } @else {
            margin-left: #{$margin-left} !important;
          }
        }
      }
    }

    @include _media('>hd-desktop') {
      .row > .#{$selector}-hd-desktop {
        &:first-child {
          margin-left: 0 !important;
        }
      }

      @for $i from 1 through  12 {
        .row > .#{$selector}-hd-desktop:nth-of-type(#{$i}n + 1) {
          @if $i == $parts {
            margin-left: 0 !important;
          } @else if $i % $parts == 0 {
            margin-left: 0 !important;
          } @else {
            margin-left: #{$margin-left} !important;
          }
        }
      }
    }
  }
}

@include columns("16px");