.row {
  position: relative;

  display: flex;
  flex-flow: row wrap;
  width: calc(100% + 16px);
  margin-left: -16px;
  margin-top: -16px;
}

.align-items-baseline {
  align-items: baseline !important;
}

$columns : (
        1 : one,
        2 : two,
        3 : three,
        4 : four,
        5 : five,
        6 : six,
        7 : seven,
        8 : eight,
        9 : nine,
        10 : ten,
        11 : eleven,
        12 : twelve,
);

$screens : ('desktop', 'tablet', 'phablet', 'phone');


@mixin columns($margin-left : 0) {

  .columns {
    max-width: 100%;
    margin-right: unquote($margin-left);
  }

  .row > .columns {
    margin-left: unquote($margin-left);
    margin-top: unquote($margin-left);
    margin-right: 0;
  }

  .fill-columns {
    @include partAdaptive() {
      flex: 1 0 0;
      max-width: 100%;
      margin-right: unquote($margin-left);
    }
  }

  .row > .fill-columns {
    @include partAdaptive() {
      flex: 1 0 0;
      max-width: 100%;
      margin-left: unquote($margin-left);
      margin-right: 0;
    }
  }

  @each $number, $key in $columns {
    $parts : (12 / $number);
    $selector : #{$key}-columns;

    $offset-selector : #{$key}-offset;

    $w : length($columns);

    .#{$selector} {
      flex: 0 0 calc((100% + #{$margin-left}) * (#{$number} / #{$w}) - #{$margin-left});
      max-width: calc((100% + #{$margin-left}) * (#{$number} / #{$w}) - #{$margin-left});
    }

    .#{$offset-selector} {
      margin-left: calc((100% + #{$margin-left}) * (#{$number} / #{$w}) + #{$margin-left}) !important;
    }

    .row > .#{$selector} {
      flex: 0 0 calc(100% * (#{$number} / #{$w}) - #{$margin-left});
      max-width: calc(100% * (#{$number} / #{$w}) - #{$margin-left});
    }

    .row > .#{$offset-selector} {
      margin-left: calc(100% * (#{$number} / #{$w}) + #{$margin-left}) !important;
    }

    .u-order-0 {
      @include partAdaptive {
        order: 0 !important;
      }
    }

    .u-order-1 {
      @include partAdaptive {
        order: 1 !important;
      }
    }

    .auto-columns {
      @include partAdaptive {
        flex: 0 0 auto; width: auto;max-width: none;
      }
    }

    @include _media('>=phone') {
      .#{$selector}-phone {
        flex: 0 0 calc((100% + #{$margin-left}) * (#{$number} / #{$w}) - #{$margin-left});
        max-width: calc((100% + #{$margin-left}) * (#{$number} / #{$w}) - #{$margin-left});
      }

      .#{$offset-selector}-phone {
        margin-left: calc((100% + #{$margin-left}) * (#{$number} / #{$w}) + #{$margin-left}) !important;
      }

      .row > .#{$selector}-phone {
        flex: 0 0 calc(100% * (#{$number} / #{$w}) - #{$margin-left});
        max-width: calc(100% * (#{$number} / #{$w}) - #{$margin-left});
      }

      .row > .#{$offset-selector}-phone {
        margin-left: calc(100% * (#{$number} / #{$w}) + #{$margin-left}) !important;
      }
    }

    @include _media('>=tablet') {
      .#{$selector}-tablet {
        flex: 0 0 calc((100% + #{$margin-left}) * (#{$number} / #{$w}) - #{$margin-left});
        max-width: calc((100% + #{$margin-left}) * (#{$number} / #{$w}) - #{$margin-left});
      }

      .#{$offset-selector}-tablet {
        margin-left: calc((100% + #{$margin-left}) * (#{$number} / #{$w}) + #{$margin-left}) !important;
      }

      .row > .#{$selector}-tablet {
        flex: 0 0 calc(100% * (#{$number} / #{$w}) - #{$margin-left});
        max-width: calc(100% * (#{$number} / #{$w}) - #{$margin-left});
      }

      .row > .#{$offset-selector}-tablet {
        margin-left: calc(100% * (#{$number} / #{$w}) + #{$margin-left}) !important;
      }
    }

    @include _media('>=desktop') {
      .#{$selector}-desktop {
        flex: 0 0 calc((100% + #{$margin-left}) * (#{$number} / #{$w}) - #{$margin-left});
        max-width: calc((100% + #{$margin-left}) * (#{$number} / #{$w}) - #{$margin-left});
      }

      .#{$offset-selector}-desktop {
        margin-left: calc((100% + #{$margin-left}) * (#{$number} / #{$w}) + #{$margin-left}) !important;
      }

      .row > .#{$selector}-desktop {
        flex: 0 0 calc(100% * (#{$number} / #{$w}) - #{$margin-left});
        max-width: calc(100% * (#{$number} / #{$w}) - #{$margin-left});
      }

      .row > .#{$offset-selector}-desktop {
        margin-left: calc(100% * (#{$number} / #{$w}) + #{$margin-left}) !important;
      }
    }
  }
}

@include columns("16px");