$margins :
    (
      mt : (0, 80px, 64px, 48px, 32px, 24px, 16px, 8px),
      mr : (0, 48px, 32px, 16px, 8px),
      mb : (0, 80px, 48px, 46px, 36px, 32px, 24px, 16px, 8px),
      ml : (0, 48px, 32px, 16px, 8px),
      mx : (0, 48px, 32px, 16px, 8px),
      my : (0, 80px, 64px, 48px, 32px, 16px, 8px),
      m : (0, 48px, 32px, 16px, 8px)
    );

@mixin setMargin($m, $val) {
  @if ($m == mt) {
    margin-top: $val !important;
  } @else if ($m == mr) {
    margin-right: $val !important;
  } @else if ($m == mb) {
    margin-bottom: $val !important;
  } @else if ($m == ml) {
    margin-left: $val !important;
  } @else if ($m == mx) {
    margin: $_ $val !important;
  } @else if ($m == my) {
    margin: $val $_ !important;
  } @else if ($m == m) {
    margin: $val !important;
  }
}

@each $m, $values in $margins {

  @each $val in $values {
    .u-#{$m}-#{$val} {
      @include adaptive() {
        @include setMargin($m, $val);
      }
    }
  }
}