.u-red {
  color: $red-color !important;
}

.u-gray {
  color: $gray-300 !important;
}

.u-bold {
  font-weight: bold !important;
}

.u-semi-bold {
  font-weight: 500 !important;
}

.u-success,
.u-awesome,
.u-best {
  color: #52B65C !important;
}

.u-good {
  color: #FA8D50 !important;
}

.u-bad {
  color: #FF6F5D !important;
}

.u-worst {
  color: #EB5757 !important;
}

.u-primary {
  color: $primary-color !important;
}

.u-orangy {
  color: #EE9166 !important;
}

.u-greeny {
  color: #52B65C !important;
}

.u-primary-dark {
  color: $primary-dark-color !important;
}

.u-lh-40px {
  line-height: 40px !important;
}

.u-fz-16px {
  font-size: 16px !important;
}

.u-fz-20px {
  font-size: 20px !important;
}

.u-fz-24px {
  font-size: 24px !important;
}

.u-icon-span {
  display: inline-flex;
  align-items: center;

  svg {
    margin-right: 0.35rem;
  }
}