.field-wrapper {
  position: relative;

  margin-bottom: 16px;
}

// MODIFIERS

.field-wrapper {

  &--checked {
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 16px;

      display: inline-block;
      size: 16px;
      padding: 0;

      line-height: 0;

      background-color: #52B65C;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='7' viewBox='0 0 8 7' fill='none'%3E%3Cpath d='M0.6 3L2.9 5.3 7.4 0.7' style='stroke-width:1.5;stroke:white'/%3E%3C/svg%3E");
      background-position: 50% calc(50% + 0.5px);
      background-repeat: no-repeat;
      border-radius: 50%;

      transform: translateY(-50%);
    }

  }
}