mixin textarea(label, placeholder, isLabelHidden)
    - placeholder = placeholder || ''
    - isLabelHidden = isLabelHidden || false

    .field-wrapper(class=attributes.class)
        if isLabelHidden
            label.label.visually-hidden= label
        else
            label.label= label
        .field__inner
            span.field__placeholder= placeholder
            textarea&attributes(attributes).field.field--textarea
            if block
                block

mixin input(label, placeholder, isLabelHidden)
    - placeholder = placeholder || ''
    - isLabelHidden = isLabelHidden || false

    .field-wrapper(class=attributes.class)
        if isLabelHidden
            label.label.visually-hidden= label
        else
            label.label= label
        .field__inner
            span.field__placeholder= placeholder
            input&attributes(attributes).field
            if block
                block

mixin inputWithAppend(label, placeholder, isLabelHidden)
    +input(label, placeholder, isLabelHidden)
        .input__append
            i.icon.icon--plus-flat