.field {
  display: block;
  size: 100% 48px;
  padding: 16px;

  color: #091032 #ffffff;
  font-size: 16px / 1;
  font-family: inherit;

  border: 1px solid #DFE2E9;
  border-radius: 5px;
  outline: none;

  transition: $transition-duration;

  &::placeholder {
    color: #8094AE;
  }

  &:hover {
    border-color: rgba(115, 129, 251, 0.47);
    cursor: default;
  }

  &:focus {
    border-color: #7381FB;
  }

  &:focus,
  &:active {
    cursor: pointer;
  }

  &:disabled {
    background: #F4F5F9;
    border-color: #F4F5F9;
  }

}

.field--textarea {
  height: 96px;

  resize: none;
}

.field-wrapper.error {
  .field {
    border-color: #EB5757;
  }
}