.header__search {
  flex-grow: 1;

  .search__input {
    height: 32px;
    font-size: 14px;
  }

  .search__button {
      right: 10.75px;
  }
}


.header__search {
  @include _media('<desktop') {
    .search__input {
      display: none;
    }

    .search__button {
      right: 0;
    }

    .search__icon {
      size: 22px;
    }

    &--mobile {
      position: absolute 0 0 0 0  !important;
      z-index: 999;

      margin-left: 0;
      padding-right: 16px;

      background-color: #ffffff;

      .search__input {
        display: block;
        height: 100%;

        border: none;
      }

      .search__button {
        right: 16px ;
      }

      .search__icon {
        display: none;
      }

      .search__icon-cross {
        display: inline-flex !important;
        color:  #EE9166;
      }

    }

  }
}

