- let login = true

header.header
    .header__inner
        a.header__logo.logo(href='/')
            +svg-logo(122, 32)
        .header__container.container
            +link('#')(class='rating-link')
                span.burger
                    span.burger__inner
                span.rating-link__text.u-ml-16px Рейтинг товаров

            +search('Найти товар')(class='header__search')

        .header__right
            .dropdown.header__dropdown.dropdown--narrow.u-only-desktop
                button.dropdown-toggle.dropdown__button.header__button(type='button', data-toggle="dropdown", aria-expanded="false") Опубликовать
                    +svg-arrow-down(10, 7)(class='dropdown__arrow')
                .dropdown-menu.dropdown__inner
                    .dropdown__menu
                        .dropdown__item
                            +link("step1.html")(class='dropdown__link')
                                +svg-comment-text(14, 14)
                                | Написать отзыв
                        .dropdown__item
                            +link("modals/request.html")(class='dropdown__link')
                                +svg-comment-plus(14, 14)
                                | Добавить товар

            if (login)
                .profile
                    .dropdown.profile__dropdown.header__dropdown
                        button.dropdown-toggle.profile__button(type='button', data-toggle="dropdown", aria-expanded="false")
                            img.profile__thumb(src="assets/images/valov.png")
                        .dropdown-menu.dropdown__inner
                            .dropdown__menu
                                .dropdown__item.dropdown__head
                                    span.u-gray.u-fz-16px Баланс:&nbsp;&nbsp;
                                    span.u-bold.u-fz-20px.u-primary-dark 1 000 ₽
                                .dropdown__divider
                                .dropdown__item
                                    +link("account.html")(class='dropdown__link')
                                        +svg-profile(14, 14)
                                        | Профиль
                                .dropdown__item
                                    +link("reviews.html")(class='dropdown__link')
                                        +svg-comment-text(14, 14)
                                        | Мои отзывы
                                .dropdown__item
                                    +link("referrals.html")(class='dropdown__link')
                                        +svg-referral(14, 14)
                                        | Мои рефераллы
                                .dropdown__item
                                    +link("withdrawals.html")(class='dropdown__link')
                                        +svg-purse(14, 14)
                                        | Вывод средств
                                .dropdown__item
                                    +link()(class='dropdown__link u-red')
                                        +svg-exit(14, 14)
                                        | Выход
            else
                a(href="login")
                    +svg-account(24, 24)