.header {
  position: fixed 0 0 $_ 0;
  z-index: 1000;

  display: block;
  width: 100%;

  background-color: #ffffff;
  box-shadow: 0 4px 30px rgba(83, 95, 148, 0.1);
}

.header{
  .overflowed {

  }
}

.header__right {
  position: absolute;
  top: 50%;
  right: 54px;

  display: flex;
  align-items: center;

  > * + * {
    margin-left: 32px;
  }

  transform: translateY(-50%);

  @include _media('>=desktop') {
    right: 32px;
  }
}

.header__container {
  display: flex;
  padding-right: 82px;

  @include _media('<desktop') {
    width: 100% !important;
  }

  @include _media('>=desktop', '<=hd-desktop') {
    padding-right: calc(160px - 80 * ((100vw - 1264px) / 176));
  }

  @include _media('>hd-desktop') {
    padding-right: 140px;
  }


  > * + * {
    margin-left: 32px;
  }
}

.header__inner {
  position: relative;
  display: flex;
  align-items: center;
  padding: $_ 16px;
  min-height: 64px;

  @include _media('>=desktop') {
    padding: $_ 32px;
  }
}

.header__logo {


  @include _media('>=desktop') {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

