extends ../base

block append links
    link(href="../assets/css/main.min.css", rel="stylesheet")

block main

    +modal(true)

        p.modal__caption.u-mb-16px Проверьте почту

        p.text.u-mb-32px На вашу почту было отправленно письмо с подтверждением регистрации. Перейдите по ссылке в письме, чтобы зарегистрироваться

        button(type="button").button.button--fullw Готово


block append scripts
    script(src="../assets/js/main.min.js")