extends ../base

block append links
    link(href="../assets/css/main.min.css", rel="stylesheet")

block main

    +modal(true)

        p.modal__caption.u-mb-16px Введите код подтверждения

        +link('#', 'Назад')(class="link--primary-theme link--iconed u-mb-16px")
            +svg-arrow-left-smooth(14, 14)(class="link__icon")
            | Назад

        p.text.u-mb-16px На ваш номер телефона ... ... 36-38 был отправлен код в смс, введите его для входа в систему
        +input('Код', 'Код', true)

        +link('#')(class="link--primary-theme link--disabled u-mb-32px")
            | Отправить повторно через <span>60</span> секунд
        button(type="button").button.button--fullw Подтвердить



block append scripts
    script(src="../assets/js/main.min.js")