extends ../base

block append links
    link(href="../assets/css/main.min.css", rel="stylesheet")

block main

    +modal(true)

        div.u-mb-16px
            +svg-logo-min-title(122, 32)(class="u-only-phone")
            +svg-logo-smile-title(183, 48)(class="u-not-phone")
        p.modal__caption.u-mb-32px Ваша жалоба отправлена.<br> Мы проверим достоверность информации

        a(href="").button.button--fullw Вернуться



block append scripts
    script(src="../assets/js/main.min.js")