extends ../base

block append links
    link(href="../assets/css/main.min.css", rel="stylesheet")

block main

    +modal(true)

        div.u-mb-16px
            +svg-logo(183, 48)
        p.modal__caption.u-mb-16px.u-mb-32px-desktop Укажите причину жалобы

        -
            let items = [
                {title: 'Содержит ругательные слова, высказывания сексуального характера или гневные реплики'},
                {title: 'Описывает или пропагандирует незаконные действия'},
                {title: 'Является предвзятым или написан кем-то, кто имеет отношение к объекту'},
                {title: 'Пишет не о том товаре'},
                {title: 'Пишет о несуществующем товаре'},
                {title: 'Это дубликат, опубликованный тем же пользователем'},
                {title: 'Не описывает личные впечатления'},
                {title: 'Содержит неверную или вводящую в заблуждение информацию'},
                {title: 'Не описывает личные впечатления'},
                {title: 'Другая причина'},
            ]

        ul.radio-list
            each item in items
                li.radio-list__item
                    +radio('complaint', item.title)

        div.u-mb-32px
            +textarea('Другая причина', 'Другая причина', true)(maxlength="500", minlength="10")
            p.text.u-gray.u-mb-0 Минимальное число символов: 10
            p.text.u-gray Максимальное число символов: 500

        button(type="button").button.button--fullw Отправить

block append scripts
    script(src="../assets/js/main.min.js")