extends ../base

block append links
    link(href="../assets/css/main.min.css", rel="stylesheet")

block main

    +modal(true)

        p.modal__caption.u-mb-16px Забыли пароль?

        +link('#', 'Назад')(class="link--primary-theme link--iconed u-mb-16px")
            +svg-arrow-left-smooth(14, 14)(class="link__icon")
            | Назад

        p.text.u-mb-32px.u-mb-16px-desktop Ничего страшного. Введите ниже свой адрес электронной почты, и мы отправим Вам ссылку для восстановления пароля.
        +input('email', 'E-mail', true)

        button(type="button").button.button--fullw Отправить ссылку



block append scripts
    script(src="../assets/js/main.min.js")