extends ../base

block append links
    link(href="../assets/css/main.min.css", rel="stylesheet")

block main

    +modal(true)
        p.modal__caption.u-mb-32px Придумайте новый пароль

        button(type="button", data-toggle="popover"  data-content="<div class='message show'><p class='message__text'>Пароли не совпадают</p><p class='message__extra'>Попробуйте изменить данные</p></div>") Click

        .message.show.u-mb-16px
            p.message__text Пароли не совпадают
            p.message__extra Попробуйте изменить данные

        +input('email', 'Пароль', true)
        +input('Пароль', 'Повторите пароль', true)(class="error")

        button(type="button").button.button--fullw.u-mt-16px-not-desktop Изменить пароль

block append scripts
    script(src="../assets/js/main.min.js")