extends ../base

block append links
    link(href="../assets/css/main.min.css", rel="stylesheet")

block main

    +modal(true)(class="modal--huge")

        p.text.u-bold Фотографии Samsung Galaxy S10e 6/128GB

        hr.full-screen

        .images.u-mt-32px
            each val in [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]
                .image-wrapper
                    img.image(src="../assets/images/phone.png")


block append scripts
    script(src="../assets/js/main.min.js")