extends ../base

block append links
    link(href="../assets/css/main.min.css", rel="stylesheet")

block main

    +modal(true)

        div.u-mb-16px
            +svg-logo-smile(42, 48)

        p.modal__caption Спасибо! 
        p.modal__caption.u-mb-16px Ваша заявка отправленна

        p.text.u-mb-32px Наши модераторы уже собирают информацию о товаре, мы уведомим вас о том, когда можно будет оставить отзыв.

        button(type="button").button.button--fullw Закрыть


block append scripts
    script(src="../assets/js/main.min.js")