extends ../base

block append links
    link(href="../assets/css/main.min.css", rel="stylesheet")

block main

    +modal(true)

        div.u-mb-16px.u-only-desktop
            +svg-logo-wink-title(184, 48)

        p.modal__caption.u-mb-16px Не нашли товар?

        p.text.u-mb-32px Ничего страшного, вы можете воспользоваться формой ниже, мы соберем информацию о товаре и уведомим вас, когда он появиться у нас на сайте.

        +inputWithAppend('Название товара или скидка', 'Название товара или скидка', true)
        +textarea('Комментарий', "Комментарий", true)
        +input("Email", "Ваша почта", true)(type="email")

        button(type="button").button.button--fullw Отправить


block append scripts
    script(src="../assets/js/main.min.js")