extends ../base

block append links
    link(href="../assets/css/main.min.css", rel="stylesheet")

block main

    +modal(true)

        p.modal__caption.u-mb-16px Мы отправили ссылку на вашу почту

        p.text.u-mb-32px На вашу почту было отправлено письмо с подробными инструкциями по сбросу пароля
        
        button(type="button").button.button--fullw Готово



block append scripts
    script(src="../assets/js/main.min.js")