extends ../base

block append links
    link(href="../assets/css/main.min.css", rel="stylesheet")

block main

    +modal(true)

        p.modal__caption.u-mb-16px Регистрация

        p.text.u-mb-16px.u-mb-32px-desktop Зарегистрируйтесь, чтобы оставить отзыв

        +input('Имя', 'Имя', true)
        +input('email', 'E-mail', true)
        +input('Пароль', 'Пароль', true)
        +input('Повторить пароль', 'Повторить пароль', true)

        button(type="button").button.button--fullw.u-mb-32px.u-mt-32px-not-desktop Зарегистрироваться

        p.text Продолжая, Вы соглашаетесь с нашими
            |
            +link("#", "Условиями использования")(class="link--primary-theme link--lighter")
            |  и подтверждаете, что прочли нашу
            |
            + link("#", "Политику конфиденциальности")(class="link--primary-theme link--lighter")
            | .
        .modal__divider.u-mt-16px.u-mb-16px.u-mb-32px-desktop
        .u-center-text
            +link('#', 'Войти')(class="link--primary-theme")

block append scripts
    script(src="../assets/js/main.min.js")