extends ../base

block append links
    link(href="../assets/css/main.min.css", rel="stylesheet")

block main

    +modal(true)

        p.modal__caption.u-mb-32px Войти

        +input('email', 'E-mail', true)
        +input('Пароль', 'Пароль', true)

        .u-column-reverse-not-desktop
            .u-row-between-desktop.u-mb-32px
                div.u-mb-16px-not-desktop
                    +check('remember', 'Оставать в системе')
                div
                    +link('#', 'Забыли пароль?')(class="link--primary-theme")
            .u-row-between-desktop.u-mb-32px.u-column-reverse-not-desktop
                button(type=button).button.button--fullw Войти
                .signup-link-row.u-ml-32px-desktop.u-mb-16px-not-desktop
                    a(href="").signup-link.signup-link--vk
                        +svg-vk(18, 11)
                    a(href="").signup-link.signup-link--facebook
                        +svg-facebook(6.6, 18)
                    a(href="").signup-link.signup-link--yandex
                        +svg-yandex(6, 14.06)
                    a(href="").signup-link.signup-link--google
                        +svg-google(16, 16)
        p.text Продолжая, Вы соглашаетесь с нашими
            |
            |
            +link("#", "Условиями использования")(class="link--primary-theme link--lighter")
            |  и подтверждаете, что прочли нашу
            |
            |
            + link("#", "Политику конфиденциальности")(class="link--primary-theme link--lighter")
            | .
        .modal__divider.u-mt-32px.u-mb-16px.u-mb-32px-desktop
        .u-center-text
            +link("#", "Зарегистрироваться")(class="link--primary-theme")


block append scripts
    script(src="../assets/js/main.min.js")