extends ../base

block append links
    link(href="../assets/css/main.min.css", rel="stylesheet")

block main

    +modal(true)

        p.modal__caption Отлично!
        p.modal__caption.u-mb-32px Ваш пароль успешно изменен

        button(type="button").button.button--fullw Войти

block append scripts
    script(src="../assets/js/main.min.js")