extends ../base

block append links
    link(href="../assets/css/main.min.css", rel="stylesheet")

block main

    +modal(true)

        div.u-mb-16px
            .u-only-desktop
                +svg-logo-ok(42, 48)
            .u-not-desktop
                +svg-logo-min(29, 32)

        p.modal__caption.u-mb-16px Добро пожаловать на Elsolo!

        p.text.u-mb-32px Вы успешно зарагистрировались на сайте. Теперь вы можете оставлять отзывы на свои любимые (и не очень) товары и отслеживать информацию в
            |
            |
            +link('#', "личном кабинете")(class="link--primary-theme link--lighter")
            | .

        button(type="button").button.button--fullw На главную


block append scripts
    script(src="../assets/js/main.min.js")