extends ../base

block append links
    link(href="../assets/css/main.min.css", rel="stylesheet")

block main

    +modal(true)

        div.u-mb-16px
            +svg-logo-smile-title(183, 48)

        p.modal__caption.u-mb-16px Ваш вывод средств обрабатывается

        p.text.u-mb-32px Статус вывода средств вы можете отслеживать в личном кабинете в истории вывода. Мы уведомим вас по почте об окончании операции.

        button(type="button").button.button--fullw Готово


block append scripts
    script(src="../assets/js/main.min.js")