.jumbotron {
  padding: 32px;
  margin: $_ -16px;

  background: #FFFFFF;
  box-shadow: 0 0 15px rgba(55, 156, 183, 0.13);

  @include _media('>=tablet') {
    border-radius: 10px;
  }

  @include _media('>=desktop') {
    padding: 48px;
  }
}

.jumbotron--padding {
  @include _media('<desktop') {
    border-radius: 10px !important;
    margin: 0 !important;
    padding: 32px 16px !important;
  }
}

.jumbotron__footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
  margin: $_ -32px;
  margin-bottom: -16px;

  line-height: 20px;

  border-top: 1px solid #E6EEF7;

  @include _media('>=desktop') {
    display: none;
  }
}