.section {

  & + & {
    margin-top: 32px;

    @include _media(">=desktop") {
      margin-top: 64px;
    }
  }
}

.section {
  &--gray {
    background-color: #F5F6FB;
  }

  &--light {
    background-color: #FBFCFE;
  }

  &--p80 {
    padding: 48px $_;

    @include _media(">=desktop") {
      padding: 80px $_;
    }
  }

  &--p64 {
    padding: 32px $_;

    @include _media(">=desktop") {
      padding: 64px $_;
    }
  }

  &--p48 {
    padding: 48px $_ !important;
  }

  &--p32 {
    padding: 16px $_;

    @include _media('>=desktop') {
      padding: 32px $_;
    }
  }

}

.section__item + .section__item {
  margin-top: 32px;

  @include _media(">=desktop") {
    margin-top: 48px;
  }
}

.section__list {
  margin-bottom: 32px;
  font-size: 14px !important;
}