.image-card__text {
  position: absolute auto auto 8px 16px;
  z-index: 2;

  display: flex;
  flex-direction: column;

  size: calc(100% - 32px) auto;
  font-size: 14px;

  opacity: 0;

  transition: opacity $transition-duration;
}

.image-card--error {
  .image-card__text {
    position: absolute 50% auto auto 50%;

    align-items: center;
    text-align: center;

    transform: translate(-50%, -50%);
  }
}

.image-card--loading {
  .image-card__text {
    position: absolute auto auto 16px 16px;
  }
}