.footer__socials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 32px $_;

  @include _media('>=desktop') {
    flex-direction: column;
    justify-content: flex-start;
    flex: 1 0 calc(25% - 16px);
    margin-right: 16px;
  }
}