.footer__copyright {
  position: relative;

  width: 100%;
  padding: 32px $_;

  font-size: 16px / 1;
  color: #9FA4B9;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: -100vw;
    left: -100vw;

    border-bottom: 1px solid #E3E5ED;

    @include _media('>=desktop') {
      right: 0;
      left: 0;
    }
  }

  @include _media('>=desktop') {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.footer__copyright p:nth-child(1) {
  margin-bottom: 16px;

  @include _media('>=desktop') {
    margin-bottom: 0;
  }
}