.footer__list {
  flex: 1 0 0;

  & + & {
    margin-top: 32px;

    @include _media('>=desktop') {
        margin-top: 0;
    }
  }
}

.footer__list .list-title {
  justify-content: center;

  @include _media('>=desktop') {
    justify-content: flex-start;
  }
}
