.footer {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;

  text-align: center;

  background-color: #F5F6FB;

  overflow: hidden;

  @include _media('>=desktop') {
    align-items: stretch;
    text-align: left;
  }
}