-
    var lists = [
        {title : 'Elsolo', items : [{link : '', name : 'Написать отзыв'}, {link : '', name : 'Весь каталог'}, { link: 'about.html', name : 'О нас'}, {link : 'contacts.html', name : 'Контакты'}] },
        {title : 'Заработок', items: [{link : 'landing1.html', name : 'Реф. программа'}, {link : 'landing3.html', name : 'Заработать на отзыве'}]},
        {title : 'Правила', items : [{link : '', name : 'Политика конфеденциальности'}, {link : 'terms.html', name : 'Условия пользования'}]
    }];

.footer(role="contentinfo")
    .container.footer__container
        .footer__socials
            a.logo.footer__logo(href='/')
                +svg-logo(122, 32)
            +socials-list
        .footer__navigation
            each list in lists
                +list(list)(class='footer__list')
        .footer__copyright
            p.footer__createby Сделано в&nbsp;
                +link('https://new.cedro.agency/')
                    +svg-cedro(71, 13)
            p Elsolo (c) 2020