.footer__navigation {
  position: relative;

  display: flex;
  flex-direction: column;
  padding: 32px $_;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: -100vw;
    left: -100vw;

    border-bottom: 1px solid #E3E5ED;

    @include _media('>=desktop') {
      content: none;
    }
  }

  // MEDIA

  @include _media('>=desktop') {
    flex-direction: row;
    justify-content: space-between;
    flex: 1 0 75%;
  }
}