.select2 {
  margin-bottom: 16px;
}

.select2-container {
  width: 100% !important;
}

.select2-results__option--highlighted {
  background-color: #fff !important;

  &:hover {
    &:before {
      border-color: #7381FB;
    }
  }
}

.select2-results__option {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 20px;
  vertical-align: middle;
  color: #091032 !important;
}
.select2-results__option[aria-selected="true"] {
  color: #091032 !important;
}

.select2-results__option:before {
  content: "";
  position: relative;

  display: inline-block;
  size: 16px;
  margin-right: 6px;

  vertical-align: middle;

  border: 1px solid #E4E2E2;
  border-radius: 2px;
  background-color: #fff;
}

.select2-results__option--selected {
  background-color: #fff !important;
}

.select2-results__option--selected:before {
  content: "";

  background-color: #7381FB;
  border-color: #7381FB;

  display: inline-block;
  padding-left: 3px;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='7' viewBox='0 0 8 7' fill='none'%3E%3Cpath d='M1 3L3 5 7 1' style='stroke-width:2;stroke:white'/%3E%3C/svg%3E");
  background-size: 8px 7px;
  background-repeat: no-repeat;
  background-position: center center;
}


