mixin socials-list()
    ul.socials__list
        li.socials__item
            +socials-link-vk()
        li.socials__item
            +socials-link-facebook()
        li.socials__item
            +socials-link-insta()