mixin socials-link(href)
    a.socials-link(href=href)
        if(block)
            block

mixin socials-link-facebook()
    +socials-link('facebook.com')
        +icon-facebook(8, 16)

mixin socials-link-vk()
    +socials-link('vk.com')
        +icon-vk(16, 10)

mixin socials-link-insta()
    +socials-link('instagram.com')
        +icon-insta(16, 16)