.socials-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  size: 32px;

  color: #7381fb #e3e6fe;
  line-height: 0;

  border-radius: 5px;

  transition: $transition-duration;

  &:hover,
  &:focus {
    color: #fa8d50 #fee6d9;
  }
}

// MODIFIERS