mixin search(placeholder='Поиск')
    .search(class!=attributes.class)
        input.field.search__input(type="text", placeholder=placeholder)
        button.search__button(type="button")
            +svg-search(15,15)(class="search__icon")
            +svg-cross-thin(20, 20)(class="search__icon-cross u-hide")