.search__button {
  position: absolute;
  top: 50%;
  right: 16px;

  display: inline-flex;
  align-items: center;

  color: #7381FB;
  line-height: 0;

  transform: translateY(-50%);

  &:hover,
  &:focus {
    color: #5664DF;
  }
}