.page__body {
  position: relative;

  display: flex;
  flex-direction: column;
  height: 100%;

  color: #091032;
  line-height: 1.5;

  overflow-x: hidden;

  @include _media('>=tablet') {
    line-height: 1.25;
  }
}

.page__body.modal-open {
  overflow: hidden;
}

.page__body.overflowed {
  @include _media('<desktop') {
    overflow: hidden;
  }
}