.binder {
  position: relative;

  display: flex;
  align-items: center;
  height: 64px;
  margin-bottom: 16px;
  padding-left: 32px;

  border: 1px solid #D2DCE8;
  border-radius: 5px;

  cursor: pointer;

  &--binded {
    border-color: #7381FB;

    &:after {
      content: '';
      position: absolute;
      top: 4px;
      left: 4px;

      display: inline-block;
      size: 15px;
      padding: 0;

      line-height: 1;

      background-color: #7381FB;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='7' viewBox='0 0 8 7' fill='none'%3E%3Cpath d='M0.6 3L2.9 5.3 7.4 0.7' style='stroke-width:1.5;stroke:white'/%3E%3C/svg%3E");
      background-position: center center;
      background-repeat: no-repeat;
      border-radius: 50%;
    }
  }

  &:hover,
  &:focus {
    border-color: #7381FB;
  }
}

.binder--vk .binder__icon {
  color : #4f719b;
}

.binder--facebook .binder__icon {
  color : #32589c;
}

.binder--yandex .binder__icon {
  color : #d7143a;
}

.binder__icon {
  transform: translateX(-50%);
}

.binder__text {
  flex-grow: 1;

  font-weight: bold;
  font-size: 16px;
  color: #091032;
  text-align: center;
}

