.table-wrapper {
  //width: calc(100% + 32px);
  //max-width: calc(100% + 32px);

  width: 100% ;
  max-width: 100%;

  overflow-x: auto;

  @include _media("<desktop") {
    margin: $_ -16px;
  }
}

.table {
  width: 100%;
  margin-bottom: 16px;

  border-collapse: collapse;
  border: none;

  @include _media("<desktop") {
    table-layout: fixed;
    width: auto;
  }

}

.table__head {
  background: #F4F5F9;
}

.table__body {

}

.table__head{
  th {
    padding: 14px 8px;

    text-align: left;
    font-weight: bold;
    color: #9FA4B9;

    @include _media('<desktop') {
      width: 50%;
    }

    &:first-of-type {
      padding-left: 16px;

      @include _media(">=desktop") {
        padding-left: 32px;
      }
    }
  }
}

.table__body {
  tr {
    border-bottom: 2px solid #E6E6E6;
  }

  .tr--disabled {
    color: #9FA4B9 !important;

    td {
      color: inherit !important;
    }
  }

  td {
    padding: 16px 8px;

    @include _media('<desktop') {
      width: 50%;
      white-space: nowrap;
    }

    &:first-of-type {
      padding-left: 32px;
    }
  }
}