.breadcrumbs__link {
  position: relative;

  font-weight: 500;
  color: #EE9166;

  transition: $transition-duration;

  &:hover,
  &:focus {
    color: #FF6F5D;

    .breadcrumbs__link-inner:after {
      border-color: #FF6F5D;
    }
  }
}

// MODIFIERS

.breadcrumbs__link {
  &--active {
    color: #091032;

    pointer-events: none;

    .breadcrumbs__link-inner:after {
      border: none;
    }
  }
}