.breadcrumbs__item {
  position: relative;

  display: inline-flex;

  font-size: 14px;

  & + & {
    margin-left: 8px;

    &:before {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='6' viewBox='0 0 4 6' fill='none'%3E%3Cpath d='M2.5 3L0 0.7 0.7 0 4 3 0.7 6 0 5.3 2.5 3Z' fill='%23091032'/%3E%3C/svg%3E");

      transform: translateY(-1.5px);
      margin-right: 8px;
    }
  }

  @include _media('<desktop') {

    display: none;

    &:before {
      display: none;
    }

    &:nth-last-child(2) {
      display: inline-flex;

      &:before {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='6' viewBox='0 0 4 6' fill='none'%3E%3Cpath d='M2.5 3L0 0.7 0.7 0 4 3 0.7 6 0 5.3 2.5 3Z' fill='%23091032'/%3E%3C/svg%3E");

        display: inline-block;
        margin-right: 8px;

        transform: rotate(180deg) translateY(-1.5px);
      }
    }

    &:last-child {
      display: none;
      &:before {
        display: none;
      }
    }
  }


}