mixin breadcrumbs(...items)
    ul.breadcrumbs(class!=attributes.class)
        - let classes = ['breadcrumbs__link']
        each item, index in items
            li.breadcrumbs__item
                if index == (items.length - 1)
                    - classes.push('breadcrumbs__link--active')
                    a(href='#', class=classes)
                        span.breadcrumbs__link-inner= item
                else
                    a(href=item.link, class=classes)
                        span.breadcrumbs__link-inner= item.title