extends base

block main

    section.section.section--gray.section-404
        .container
            .row
                .columns.fill-columns.ten-columns-desktop.two-offset-desktop.u-order-1.u-order-0-desktop
                    strong.section-404__404.u-bold.u-fz-24px 404
                .columns.auto-columns.two-columns-desktop.u-order-0-desktop
                    +svg-logo-surprise(85, 96)(class="icon-404 section-404__icon")
                .columns.section-404__text.twelve-columns.ten-columns-desktop.u-order-1
                    h1.caption.u-mb-32px.u-mb-48px-desktop Запрашиваемая страница не найдена, возможно вы ошиблись адресом, либо данная страница устарела или не существует
                    +search('Поиск товара')(class="u-only-desktop")
                    a.button.button--fullw.u-not-desktops(href='index.html') На главную