extends base-account


block main

    .container
        section.section.account
            .row
                .columns.twelve-columns.ten-columns-desktop.two-offset-desktop
                    .account__top.u-mb-32px
                        img.account__photo(src="../assets/images/valov.png")
                        .account__info
                            p.account__name Валов
                            p.account__register-date
                                time(datetime="2020-12-08 05:40") 08.12.2020
                            p.account__actions
                                +link('#', 'Загрузить фото')(class="link--primary-theme link--bolder")
                                +link('#', 'Удалить фото')(class="link--reded link--bolder")
                        .account__badges
                            .account__badge.account__badge--comment
                                .account__badge-icon
                                    +svg-comment(18, 18)
                                .account__badge-info
                                    span.account__badge-amount 126
                                    span.account__badge-title Отзывов
                            .account__badge.account__badge--rating
                                .account__badge-icon
                                    +svg-like(18, 18)
                                .account__badge-info
                                    span.account__badge-amount 48
                                    span.account__badge-title Благодарностей

                    hr.lighter.u-mb-36px.u-mb-48px-desktop.full-phone
                    .row.u-mb-16px
                        .columns.twelve-columns.six-columns-desktop
                            +input('Имя', 'Имя', true)
                        .columns.twelve-columns.six-columns-desktop
                            +input('Фамилия', 'Фамилия', true)
                        .columns.twelve-columns.six-columns-desktop
                            +input('Дата рождения', 'Дата рождения', true)
                        .columns.twelve-columns.six-columns-desktop
                            +input('Место проживания', 'Место проживания', true)
                    hr.u-mb-32px.full-phone.lighter
                    h3.caption-5 Привязать социальные сети
                    .row.u-mb-16px
                        .columns.twelve-columns.six-columns-desktop
                            .binder.binder--vk
                                +svg-vk(25, 15)(class="binder__icon")
                                p.binder__text Привязать ВКонтакте
                        .columns.twelve-columns.six-columns-desktop
                            .binder.binder--facebook
                                +svg-facebook(11, 24)(class="binder__icon")
                                p.binder__text Привязать Facebook
                        .columns.twelve-columns.six-columns-desktop
                            .binder.binder--yandex.binder--binded
                                +svg-yandex(10, 18)(class="binder__icon")
                                p.binder__text Отвязать Яндекс
                        .columns.twelve-columns.six-columns-desktop
                            .binder
                                +svg-google(20, 20)(class="binder__icon")
                                p.binder__text Привязать Google
                    hr.u-mb-32px.full-phone.lighter
                    h3.caption-5 Изменить пароль/почту
                    .row.u-mb-16px-desktop
                        .columns.twelve-columns.six-columns-desktop
                            +input('Старый пароль', 'Старый пароль', true)(type="password")
                        .columns.six-columns-desktop.u-only-desktop
                        .columns.twelve-columns.six-columns-desktop
                            +input('Новый пароль', 'Новый пароль', true)(type="password")
                        .columns.twelve-columns.six-columns-desktop
                            +input('Повторить пароль', 'Повторить пароль', true)(type="password")
                        .columns.twelve-columns.six-columns-desktop
                            +input('Текущая почта', 'Текущая почта', true)(type="email", value='john_smith@gmail.com')
                        .columns.twelve-columns.six-columns-desktop
                            +input('Новая почта', 'Новая почта', true)(type="email")
                    button(type="button").button.button--fullw-phone.u-mb-32px Сохранить изменения
                    hr.u-mb-32px.full-phone.lighter
                    h3.caption-5 Двухэтапная аутентификация
                    p.text.u-mb-32px-desktop Привяжите свой номер телефона, чтобы обеспечить дополнительную безопасность вашего аккаунта
                    .row
                        .columns.twelve-columns.six-columns-desktop
                            +input('Номер телефона', '+7 (999) 999-99-99', true)
                        .columns.twelve-columns.six-columns-desktop
                            button(type="button").button.button--light.button--fullw-phone Отправить
                    h3.caption-5 Двухэтапная аутентификация
                    p.text.text--success.u-mb-32px-desktop Номер телефона привязан
                    .row
                        .columns.twelve-columns.six-columns-desktop
                            +input('Номер телефона', '+7 (999) 999-99-99', true)(class="field-wrapper--checked", value='+7 (999) 999-99-99', type='tel')
                        .columns.twelve-columns.six-columns-desktop
                            button(type="button").button.button--light.button--fullw-phone Отправить

