doctype html
html.page(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title El solo
        block links
            link(href="https://unpkg.com/swiper/swiper-bundle.min.css", rel="stylesheet")
            link(href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css", rel="stylesheet")
            link(href="assets/css/main.min.css", rel="stylesheet")
    body.page__body
        include pug/base/_includes

        block header
            include ../components/header/_header
            include ../components/category-section/_category-section

        main.main(role="main")

            block main

        include ../components/footer/_footer

    block scripts
        script(src="https://code.jquery.com/jquery-3.5.1.js", integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=", crossorigin="anonymous")
        script(src="https://unpkg.com/swiper/swiper-bundle.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js")
        script(src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js")
        //script(src="https://cdnjs.cloudflare.com/ajax/libs/smoothscroll/1.4.10/SmoothScroll.min.js", integrity="sha256-huW7yWl7tNfP7lGk46XE+Sp0nCotjzYodhVKlwaNeco=", crossorigin="anonymous")
        script(src="assets/js/main.min.js")

