doctype html
html.page(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title El solo
        block links
            link(href="https://unpkg.com/swiper/swiper-bundle.min.css", rel="stylesheet")
            link(href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css", rel="stylesheet")
            link(href="assets/css/main.min.css", rel="stylesheet")
    body.page__body
        include pug/base/_includes

        block vars
            - let nav = 'Профиль'

        block header
            header.account-header.container-only-desktop
                .row
                    .columns.twelve-columns.ten-columns-desktop.two-offset-desktop
                        .u-row-between
                            div.account-header__left
                                span.u-gray Баланс:&nbsp;
                                strong.u-bold.u-fz-20px 1 000 ₽
                                +link('#', 'Вывести средства')(class='link--primary-theme link--bolder u-ml-8px')
                            a.aside-link
                                span.burger.account__burger
                                    span.burger__inner
                            a.header__logo.logo(href='/')
                                +svg-logo(89, 24)
                            div.account-header__right
                                .profile
                                    .dropdown.profile__dropdown.header__dropdown
                                        button.profile__button(type='button', data-toggle="dropdown")
                                            img.profile__thumb(src="assets/images/valov.png")
                                        .dropdown__inner
                                            .dropdown__menu
                                                .dropdown__item.dropdown__head
                                                    span.u-gray.u-fz-16px Баланс:&nbsp;&nbsp;
                                                    span.u-bold.u-fz-20px.u-primary-dark 1 000 ₽
                                                .dropdown__divider
                                                .dropdown__item
                                                    +link('/account.html')(class='dropdown__link')
                                                        +svg-profile(14, 14)
                                                        | Профиль
                                                .dropdown__item
                                                    +link('/reviews.html')(class='dropdown__link')
                                                        +svg-comment-text(14, 14)
                                                        | Мои отзывы
                                                .dropdown__item
                                                    +link('/referrals.html')(class='dropdown__link')
                                                        +svg-referral(14, 14)
                                                        | Мои рефераллы
                                                .dropdown__item
                                                    +link('/withdrawals.html')(class='dropdown__link')
                                                        +svg-purse(14, 14)
                                                        | Вывод средств
                                                .dropdown__item
                                                    +link()(class='dropdown__link u-red')
                                                        +svg-exit(14, 14)
                                                        | Выход



        main.main(role="main").u-pt-32px

            aside.aside
                hr.lighter.full.u-not-desktop
                div.u-not-desktop.u-my-32px
                    span.u-gray Баланс:&nbsp;
                    strong.u-bold.u-fz-20px 1 000 ₽
                div.u-mb-16px.u-only-desktop
                    +svg-logo(99, 26)
                hr.lighter.full.u-mb-32px
                ul.aside__menu.menu.u-mb-32px
                    li.menu__item
                        - let classes1 = nav ==='Профиль'? ['menu__link', 'link', 'active'] : ['menu__link', 'link'];
                        a(href="/account.html", class=classes1)
                            +svg-profile(16, 16)
                            | Профиль
                    li.menu__item
                        - let classes2 = nav ==='Мои отзывы'? ['menu__link', 'link', 'active'] : ['menu__link', 'link'];
                        a(href="/reviews.html", class=classes2)
                            +svg-comment-text(16, 16)
                            | Мои отзывы
                    li.menu__item
                        - let classes3 = nav ==='Мои рефералы'? ['menu__link', 'link', 'active'] : ['menu__link', 'link'];
                        a(href="/referrals.html", class=classes3)
                            +svg-referral(16, 16)
                            | Мои рефералы
                    li.menu__item
                        - let classes4 = nav ==='Вывод средств'? ['menu__link', 'link', 'active'] : ['menu__link', 'link'];
                        a(href="/withdrawals.html", class=classes4)
                            +svg-purse(16, 16)
                            | Вывод средств
                    li.menu__item
                        a.menu__link.link.link--reded(href="/logout")
                            +svg-exit(16, 16)
                            | Выход
                hr.full.u-mb-32px

                .u-not-desktop.u-row-between.u-mb-32px
                    +link()(class='link--primary-theme')
                        +svg-comment-plus(14, 14)(class="u-mr-8px")
                        | Добавить товар
                    +link()(class='link--primary-theme')
                        +svg-comment-text(14, 14)(class="u-mr-8px")
                        | Написать отзыв

                .dropdown.dropdown--narrow.u-only-desktop
                    button.button--fullw.dropdown-toggle.dropdown__button.button--tiny(type='button', data-toggle="dropdown", aria-expanded="false") Опубликовать
                        +svg-arrow-down(10, 7)(class='dropdown__arrow')
                    .dropdown-menu.dropdown__inner
                        .dropdown__menu
                            .dropdown__item
                                +link()(class='dropdown__link')
                                    +svg-comment-text(14, 14)
                                    | Написать отзыв
                            .dropdown__item
                                +link()(class='dropdown__link')
                                    +svg-comment-plus(14, 14)
                                    | Добавить товар

            block main

        include ../components/footer/_footer
        div.overflow-mirror

    block scripts
        script(src="https://code.jquery.com/jquery-3.5.1.js", integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=", crossorigin="anonymous")
        script(src="https://unpkg.com/swiper/swiper-bundle.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js")
        script(src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js")
        //script(src="https://cdnjs.cloudflare.com/ajax/libs/smoothscroll/1.4.10/SmoothScroll.min.js", integrity="sha256-huW7yWl7tNfP7lGk46XE+Sp0nCotjzYodhVKlwaNeco=", crossorigin="anonymous")
        script(src="assets/js/main.min.js")

