extends base

block main

    section.section.section--gray.u-pt-16px.u-pb-32px.u-pt-32px-desktop.u-pb-48px-desktop
        .container
            +breadcrumbs({link: 'index.html', title: 'Главная'}, 'Весь каталог')
            h1.caption.u-mb-0 Весь каталог
    section.section.u-pb-48px.u-pb-80px-desktop.u-mt-48px
