extends base

block main

    section.section.section--gray.u-pt-16px.u-pb-32px.u-pt-32px-desktop.u-pb-48px-desktop
        .container
            +breadcrumbs({link: 'index.html', title: 'Главная'}, 'Контакты')
            h1.caption.u-mb-0 Контакты
    section.section.u-pb-48px.u-pb-80px-desktop.u-mt-48px
        .container
            .section__item
                h2.subcaption Email:
                    |
                    |
                    +link('#', 'info@Elsolo.ru')(class="link--primary-theme link--bolder")
                p.text Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum, quia dolor sit, amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt, ut labore et dolor

            .section__item
                h2.subcaption Использование сервиса
                p.text В качестве условия использования Сервиса Вы гарантируете, что:
                ol.ordered-list.ordered-list--not-padding
                    li Вся информация, предоставляемая с помощью Сервиса Компаниям ServiceRating.ru, является достоверной, точной, актуальной и полной;
                    li Если Вы являетесь Владельцем учетной записи, Вы будете обеспечивать защиту данных своей учетной записи, контролировать и нести полную ответственность за любое использование своей учетной записи другими лицами;
                    li Вы обладаете юридическими полномочиями для заключения настоящего Соглашения и использования Сервиса, в том числе нашего веб-сайта, в соответствии со всеми положениями и условиями настоящего Соглашения.
