extends base

block main
    - let filters = [{link: '#', title: 'Камере'}, {link: '#', title: 'Батарее'}, {link: '#', title: 'Корпусу'},{link: '#', title: 'Процессору'}, {link: '#', title: 'Процессору'}, {link: '#', title: 'Процессору'},{link: '#', title: 'Процессору'}, {link: '#', title: 'Процессору'}, {link: '#', title: 'Процессору'},{link: '#', title: 'Процессору'}, {link: '#', title: 'Процессору'}, {link: '#', title: 'Процессору'},{link: '#', title: 'Процессору'}, {link: '#', title: 'Процессору'}, {link: '#', title: 'Процессору'},{link: '#', title: 'Процессору'}, {link: '#', title: 'Процессору'}, {link: '#', title: 'Процессору'}]
    -
        let brands = [
            {link : '#', title : 'Apple'}, {link : '#', title : 'Bosch'}, {link : '#', title : 'Samsung'},
            {link : '#', title : 'Apple'}, {link : '#', title : 'Bosch'}, {link : '#', title : 'Samsung'},
            {link : '#', title : 'Apple'}, {link : '#', title : 'Bosch'}, {link : '#', title : 'Samsung'},
            {link : '#', title : 'Apple'}, {link : '#', title : 'Bosch'}, {link : '#', title : 'Samsung'},
            {link : '#', title : 'Apple'}, {link : '#', title : 'Bosch'}, {link : '#', title : 'Samsung'},
        ]

    section.section.section--gray.section--p32.u-pb-48px
        .container
            +breadcrumbs({link : 'index.html', title : 'Главная'}, 'Мобильные телефоны')

            h1.caption Рейтинг мобильных телефонов
            p.text Все сервисные центры в одном месте – с отзывами, рейтингом, ценами и фотографиями. Для более персонализированного поиска воспользуйтесь фильтрами по услугам и брендам техники. Связаться с любым сервисом просто: достаточно позвонить по указанному номеру телефона или оставить заявку через функцию «написать сообщение», после чего специалисты сервисного центра обязательно ответят на ваш запрос.
            hr.u-my-32px
            h2.subcaption Лучшие по:
            .filter
                ul.filter__list
                    each filter in filters
                       li.filter__item
                            a.filter__link(href=filter.link)= filter.title
                    button.filter__more(type="button")
                        +svg-plus(8,8)(class="filter__more-icon filter__more-icon--plus")
                        +svg-minus(8,1.45)(class="filter__more-icon filter__more-icon--minus")

    section.section.section--p48.u-mt-0
        .container
            .row
                .columns.twelve-columns.nine-columns-desktop.u-pr-32px-desktop

                    button.button.button--fullw.button--light.u-mb-48px.u-not-desktops(type="button",data-toggle="modal",data-target="#+mo") Фильтры

                    h2.subcaption Мобильных телефонов в рейтинге: #[strong 2467]
                    +sorting()(class="u-mb-32px")
                    each card in cards
                        +card(card)

                    +pagination()
                    +modal()
                        h2.subcaption Фильтры
                        div.list-wrapper
                            p.list-title Тип товара
                            ul.list
                                li.list__item
                                    a.link.list__link(href="#") Накладные, открытые
                                li.list__item
                                    a.link.list__link(href="#") Раскладушки
                                li.list__item
                                    a.link.list__link(href="#") Вкладыши
                        div.list-wrapper
                            p.list-title Бренды
                            ul.list
                                li.list__item
                                    a.link.list__link(href="#") Apple
                                li.list__item
                                    a.link.list__link(href="#") Bosch
                                li.list__item
                                    a.link.list__link(href="#") Samsung
                        div.list-wrapper
                            p.list-title Платформа
                            ul.list
                                li.list__item
                                    +check('platform[]', 'iOS')
                                li.list__item
                                    +check('platform[]', 'Android')
                        div.list-wrapper
                            p.list-title Количество основных камер
                            ul.list
                                li.list__item
                                    +check('amount[]', '1')
                                li.list__item
                                    +check('amount[]', '2')
                                li.list__item
                                    +check('amount[]', '3')
                                li.list__item
                                    +check('amount[]', '4')
                                li.list__item
                                    +check('amount[]', '5')
                        div.list-wrapper
                            p.list-title Количество основных камер
                            +color("#000000", "#808080", "#E73717", "#E83716", "#F5D933", "#2B01FA", "#8400FA", "#eeeeee", "#ff00ff")

                .columns.twelve-columns.three-columns-desktop.u-only-desktop
                    h2.subcaption Фильтры
                    div.list-wrapper
                        p.list-title Тип товара
                        ul.list
                            li.list__item
                                a.link.list__link(href="#") Накладные, открытые
                            li.list__item
                                a.link.list__link(href="#") Раскладушки
                            li.list__item
                                a.link.list__link(href="#") Вкладыши
                    div.list-wrapper
                        p.list-title Бренды
                        ul.list
                            li.list__item
                                a.link.list__link(href="#") Apple
                            li.list__item
                                a.link.list__link(href="#") Bosch
                            li.list__item
                                a.link.list__link(href="#") Samsung
                    div.list-wrapper
                        p.list-title Платформа
                        ul.list
                            li.list__item
                                +check('platform[]', 'iOS')
                            li.list__item
                                +check('platform[]', 'Android')
                    div.list-wrapper
                        p.list-title Количество основных камер
                        ul.list
                            li.list__item
                                +check('amount[]', '1')
                            li.list__item
                                +check('amount[]', '2')
                            li.list__item
                                +check('amount[]', '3')
                            li.list__item
                                +check('amount[]', '4')
                            li.list__item
                                +check('amount[]', '5')
                    div.list-wrapper
                        p.list-title Количество основных камер
                        +color("#000000", "#808080", "#E73717", "#E83716", "#F5D933", "#2B01FA", "#8400FA", "#eeeeee", "#ff00ff")


                    button.button.button--light.button--fullw.u-mt-32px(type="button") Больше фильтров
