extends base

block main
    section.section.section--gray.section--p80
        .container
            p.huge-text.u-mb-32px.u-mb-46px-desktop Сервис
                |
                |
                +text-link('рейтинга')
                |
                | и оценки техники для дома и ещё много-много кайфового текста на
                |
                +text-link('первом экране')
                | , чтобы было прям круто
            +search('Поиск товара')

    section.section.u-my-48px.u-my-80px-desktop
        .container
            h2.section__caption Лучшие товары по версии El&nbsp;Solo
            +tabs(tabs)(class='section__tabs u-only-desktop')
            +select('Категория', 'category', tabs)(class='section__tabs u-not-desktop')

            .cards.u-mb-32px
                .cards-wrapper
                    each val in [0,1,0,0,1,1,0]
                        .card-wrapper.columns.six-columns-tablet.four-columns-desktop
                            +card-collapsed(cards[val])
            button(type='button').button.button--light.button--fullw-phone Показать еще

    section.section.u-my-48px.u-my-80px-desktop
        .container
            h2.section__caption Похоже на то, что вы смотрели
            +tabs(tabs)(class='section__tabs u-only-desktop')
            +select('Категория', 'category', tabs)(class='section__tabs u-not-desktop')
            .cards.u-mb-32px
                .cards-wrapper
                    each val in [0,1,0,0,0,0,0]
                        .card-wrapper.columns.six-columns-tablet.four-columns-desktop
                            +card-collapsed(cards[val])
            button(type='button').button.button--light.button--fullw-phone Показать еще

    section.section.u-my-48px.u-my-80px-desktop
        .container
            h2.section__caption Категории товаров в рейтинге
            .row
                each list in lists
                    .columns.twelve-columns.six-columns-tablet.three-columns-desktop
                        +list(list)(class='section__list')