extends base

block main


    section.section.section--gray.section--p80
        .container
            p.huge-text
                | Регистрируйся и получай
                |
                +text-link('500 рублей')
                |
                | за каждый отзыв от друга
                +svg-logo-wink(42, 48)(class="u-vertical-middle u-ml-16px")
            div.button-group.u-mt-32px.u-mt-48px-desktop
                button(type="button").button.button--fullw-phone Зарегистрироваться
                button(type="button").button.button--white.button--fullw-phone Войти
    section.section.section--p80.u-mt-0
        .container
            .row.u-row-center-y
                .columns.twelve-columns.five-columns-desktop.u-mb-16px-not-desktop
                    img(src="assets/images/three-men.svg", class="u-image-fluid")
                .columns.twelve-columns.six-columns-desktop.one-offset-desktop
                    p.huge-text.huge-text--smaller.u-mb-32px-desktop
                        | Поделись ссылкой и получи
                        |
                        +text-link('500 рублей')
                        |
                        | за 1 отзыв от друга!
                    button(type="button").button.button--light.button--fullw Поделиться ссылкой
    section.section.section--light.section--p80.u-mt-0
        .container
            div.u-mb-32px.u-mb-48px-desktop
                h2.caption-2.u-center-text Все просто и все в плюсе!
                p.text.u-center-text
                    strong  Бонус!
                    |
                    | Вы можете сами зарабатывать с отзывов,
                    |
                    +link('#', 'подробнее')(class="link--lighter link--primary-theme")
            .stepper-wrapper
                .row
                    .stepper.columns.twelve-columns.four-columns-desktop
                        .stepper__count
                        .stepper__content
                            .stepper__title Зарегистрируйтесь на сайте
                            .stepper__text Просто воспользуйтесь формой ниже или войдите в уже существующий аккаунт
                    .stepper.columns.twelve-columns.four-columns-desktop
                        .stepper__count
                        .stepper__content
                            .stepper__title Отправьте друзьям ссылку
                            .stepper__text После регистрации у вас появится реферальная ссылка, которой вы сможете поделиться с друзьями
                    .stepper.columns.twelve-columns.four-columns-desktop
                        .stepper__count
                        .stepper__content
                            .stepper__title Получите средства на ваш счет
                            .stepper__text Ваши рефералы смогут зарабатывать по 1 000 ₽ за отзыв, а вы — 500 ₽ за каждого, кто напишет отзыв
            .jumbotron.u-mb-32px.u-mb-48px-desktop.u-pb-16px-desktop
                h2.caption-3 Регистрация
                p.text.u-mb-32px-desktop Зарегистрируйтесь, чтобы оставить отзыв

                .row
                    .columns.twelve-columns.six-columns-desktop
                        +input('Имя', 'Имя', true)(type="text")
                    .columns.twelve-columns.six-columns-desktop
                        +input('Email', 'Email', true)(type="email")
                    .columns.twelve-columns.six-columns-desktop
                        +input('Пароль', 'Пароль', true)(type="password")
                    .columns.twelve-columns.six-columns-desktop
                        +input('Повторить пароль', 'Повторить пароль', true)(type="password")
                div.u-mb-32px
                    button(type="button").button.landing-register Зарегистрироваться
                    button(type="button").link.link--primary-theme.u-ml-32px.u-only-desktop Войти
                p.text
                    | Продолжая, Вы соглашаетесь с нашими
                    |
                    +link("#", "Условиями использования")(class="link--primary-theme link--lighter")
                    |
                    | и подтверждаете, что прочли нашу
                    | 
                    +link("#", "Политику конфиденциальности")(class="link--primary-theme link--lighter")
                    | .
                .jumbotron__footer-btn
                    +link('#', 'Войти')(class="link link--primary-theme link--bolder")
            p.text.u-center-text.u-mb-0
                | С подробными правилами вы можете ознакомится -
                |
                +link("#", "тут")(class="link--primary-theme link--lighter")