extends base

block main


    section.section.section--gray.section--p80
        .container
            p.huge-text
                | Оставьте отзыв на Elsolo и получите
                |
                +text-link('1000 рублей')
                |
                | на ваш счет
                +svg-logo-smile(42, 48)(class="u-vertical-middle u-ml-16px")

            p.text.u-mb-32px.u-mb-48px-desktop Хотите заработать? Зарабатывайте на отзывах с Elsolo, напишите отзывы про пылесос, холодильник, утюг, телефон и получите 1 000 рублей

            button(type="button").button.button--wide.button--fullw-phone Написать отзыв

    section.section.section--p80.u-mt-0
        .container
            div.u-mb-32px.u-mb-48px-desktop
                h2.caption-2.u-center-text Зарабатывайте средства в 3 этапа
                p.text.u-center-text
                    strong  Бонус!
                    |
                    | Вы можете заработать на отзывах друзей,
                    |
                    +link('#', 'подробнее')(class="link--lighter link--primary-theme")
            .stepper-wrapper.u-mb-0
                .row
                    .stepper.columns.twelve-columns.four-columns-desktop
                        .stepper__count
                        .stepper__content
                            .stepper__title Выберите товар
                            .stepper__text Выберите товар в каталоге Elsolo, которым пользовались
                    .stepper.columns.twelve-columns.four-columns-desktop
                        .stepper__count
                        .stepper__content
                            .stepper__title Напишите отзыв
                            .stepper__text Напишите честный отзыв, разместите фотографии
                    .stepper.columns.twelve-columns.four-columns-desktop
                        .stepper__count
                        .stepper__content
                            .stepper__title Получите деньги
                            .stepper__text Вы сможете вывести деньги из личного кабинета, любым удобным способом

    section.section.section--light.section--p80.u-mt-0
        .container
            .row.u-mb-32px.u-mb-48px-desktop
                .columns.twelve-columns.eight-columns-desktop.two-offset-desktop.u-center-text
                    h2.caption-2 Примеры отзывов, за которые вы можете получить деньги
                    button(type="button").button.button--light.button--wide.button--fullw-phone Хочу попробовать

            div.landing-images
                .landing-images-wrapper
                    each image in [1,2,3,4,5,6]
                        .landing-image(data-toggle="modal", data-target="#exampleModal")
                            img(src="assets/images/example.png").landing-image__image
    hr.full-screen


    section.section.section--p80.u-mt-0
        .container
            h2.caption-2 О нас
            .row
                .columns.twelve-columns.six-columns-desktop.u-mb-48px-not-desktop
                    p.caption-4 Зачем это нужно нам?
                    p.text.u-mb-0 На Elsolo люди находят, какой товар им купить. За сообщество отвечают пользователи, которые предоставляют покупателям объективную информацию о товарах.
                .columns.twelve-columns.six-columns-desktop
                    p.caption-4 Как это - зарабатывать на отзывах?
                    p.text.u-mb-0 В каждом доме есть: холодильник, стиральная машина, телевизор, смартфон, утюг, плита и др. товары. Вы можете делиться своими знаниями и получать доход.

    section.section.section--light.section--p80.u-mt-0
        .container
            h2.caption-2.u-center-text.u-mb-32px Часто задаваемые вопросы

            -
                let questions = [
                    {title: 'Заголовок вопроса', content: 'Какой-то ответ. На Elsolo люди находят, какой товар им купить. За сообщество отвечают пользователи, которые предоставляют покупателям объективную информацию о товарах.'},
                    {title: 'Заголовок вопроса', content: 'Какой-то ответ. На Elsolo люди находят, какой товар им купить. За сообщество отвечают пользователи, которые предоставляют покупателям объективную информацию о товарах.'},
                    {title: 'Заголовок вопроса', content: 'Какой-то ответ. На Elsolo люди находят, какой товар им купить. За сообщество отвечают пользователи, которые предоставляют покупателям объективную информацию о товарах.'},
                    {title: 'Заголовок вопроса', content: 'Какой-то ответ. На Elsolo люди находят, какой товар им купить. За сообщество отвечают пользователи, которые предоставляют покупателям объективную информацию о товарах.'},
                    {title: 'Заголовок вопроса', content: 'Какой-то ответ. На Elsolo люди находят, какой товар им купить. За сообщество отвечают пользователи, которые предоставляют покупателям объективную информацию о товарах.'},
                ]

            each question, index in questions

                .collapse-wrapper

                    button(type="button", class="collapse__trigger", data-toggle="collapse", data-target=`#collapse-${index}`, aria-expanded="false")= question.title
                    .collapse(id=`collapse-${index}`)
                        .collapse__content= question.content

    section.section.section--p80.u-mt-0
        .container.u-center-text
            h2.caption-2 Вы готовы зарабатывать?
            button(type="button").button.button--light.button--wide.button--fullw-phone Хочу попробовать


    +modal()(class="modal--wide")
        img(src="assets/images/example.png")

