extends base

block main


    section.section.section--gray.section--p80
        .container
            p.huge-text.u-mb-32px.u-mb-48px-desktop
                | Регистрируйся и получай
                |
                +text-link('500 рублей')
                |
                | за каждый отзыв от друга
                +svg-logo-wink(42, 48)(class="u-vertical-middle u-ml-16px")

            .jumbotron
                .row.u-mb-16px-desktop
                    .columns.twelve-columns.six-columns-desktop
                        p.text Отправить приглашение на почту
                        .row.u-pr-16px-desktop
                            .columns.fill-columns
                                +input('E-mail друга', 'E-mail друга', true)(type="email")
                            .columns.auto-columns
                                button(type="button").button.button--iconed
                                    +svg-arrow-right-smooth(16,16)
                    .columns.twelve-columns.six-columns-desktop
                        p.text Ваша реферальная ссылка
                        .row
                            .columns.fill-columns
                                +input('Реферальная ссылка', 'Реферальная ссылка', true)(type="text", disabled, value="elsolo.ru/referral2056871")
                            .columns.auto-columns
                                button(type="button").button.button--iconed.button--gray
                                    +svg-copy(20,20)
                div.u-row-center-y
                    a.referral-social.referral-social--vk(href="#")
                        +svg-vk-thin(13, 9)
                    a.referral-social.referral-social--facebook(href="#")
                        +svg-facebook(7, 14)
                    a.referral-social.referral-social--twitter(href="#")
                        +svg-twitter(14, 12)
                    a.referral-social.referral-social--ok(href="#")
                        +svg-ok(10, 14)
                    a.referral-social.referral-social--whatsapp(href="#")
                        +svg-whatsapp(14, 14)
                    a.referral-social.referral-social--telegram(href="#")
                        +svg-telegram(14, 12)


    section.section.section--p80.u-mt-0
        .container
            .row.u-row-center-y
                .columns.twelve-columns.five-columns-desktop.u-mb-16px-not-desktop
                    img(src="assets/images/three-men.svg", class="u-image-fluid")
                .columns.twelve-columns.six-columns-desktop.one-offset-desktop
                    p.huge-text.huge-text--smaller.u-mb-32px-desktop
                        | Поделись ссылкой и получи
                        |
                        +text-link('500 рублей')
                        |
                        | за 1 отзыв от друга!
                    .flat
                        p.via-icon.u-greeny.u-bold
                            span Ссылка скопирована
                            +svg-check-circled(14, 14)

    section.section.section--light.section--p80.u-mt-0
        .container
            div.u-mb-32px.u-mb-48px-desktop
                h2.caption-2.u-center-text Все просто и все в плюсе!
                p.text.u-center-text
                    strong  Бонус!
                    |
                    | Вы можете сами зарабатывать с отзывов,
                    |
                    +link('#', 'подробнее')(class="link--lighter link--primary-theme")
            .stepper-wrapper.u-mb-48px-not-phone
                .row
                    .stepper.columns.twelve-columns.four-columns-desktop
                        .stepper__count
                        .stepper__content
                            .stepper__title Зарегистрируйтесь на сайте
                            .stepper__text Просто воспользуйтесь формой ниже или войдите в уже существующий аккаунт
                    .stepper.columns.twelve-columns.four-columns-desktop
                        .stepper__count
                        .stepper__content
                            .stepper__title Отправьте друзьям ссылку
                            .stepper__text После регистрации у вас появится реферальная ссылка, которой вы сможете поделиться с друзьями
                    .stepper.columns.twelve-columns.four-columns-desktop
                        .stepper__count
                        .stepper__content
                            .stepper__title Получите средства на ваш счет
                            .stepper__text Ваши рефералы смогут зарабатывать по 1 000 ₽ за отзыв, а вы — 500 ₽ за каждого, кто напишет отзыв
            hr.full-screen.u-mb-32px.u-mb-48px
            p.text.u-center-text.u-mb-0
                | С подробными правилами вы можете ознакомится -
                |
                +link("#", "тут")(class="link--primary-theme link--lighter")