extends base

block main
    section.section.section--gray
        .container
            +breadcrumbs({link: 'index.html', title: 'Главная'}, 'Оставить отзыв')

            h1.caption Предпросмотр

    section.section
        .container
            .row
                .columns.eight-columns

                    div
                        img(src="assets/images/valov.png")
                        p.text <strong>Veronika A</strong> написал(а) отзыв нояб. 2019 г.
                        div
                            span 126 отзывов
                            span 12 благодарностей

                    div.u-mt-32px
                        h3.subcaption Крайне годный смартфон!
                        p.text Пользуюсь флагманами Самсунга начиная с S6 edge. Были S6 edge, S8, S10+ ceramic.<br/> Вопросы начались на этапе переноса данных с S10+. Не перенеслось процентов 60 программ, темы, обои, настройки. Такого не было даже при переходе с Iphone на S6! И S8 и S10 копировали полностью всё с предыдущих аппаратов, включая расположение иконок, здесь нет! Всё ручками!! В итоге чтобы перенести полностью все данные, убил день!!! Реально бесит дебильный тренд Самсунга - если хочешь получить максимальные характеристики бери ЛОПАТУ! До сих пор идеальным по размеру считаю S8 (не плюс, обычный). Также очень не хватает сканера радужки, на восьмерке он работал нужно ловить положение относительно уха!
                    div.u-mt-32px
                        h3.subcaption Достоинства
                        p.text.u-mb-0 Даже не сомневайтесь, это сбалансированный топ-смартфон от А-бренда.
                        ul.unordered-list.unordered-list--flat.unordered-list--not-padding.unordered-list--not-margin
                            li Полный фарш, в нем есть все!
                            li Выделяющийся дизайн(не чувствуется удешевленным как S10e)
                            li Хорошая эргономика, небольшой вырез под камеру(в отличии от S10 +)
                            li Лучшая новая оболочка OneUI(сейчас ПО - самое главное в смартфоне)
                            li Сканер отпечатка в экране уже работает быстро и стабильно.В середине апреля исправили обновлением!
                            li Samsung Dex(можно даже Ubuntu запустить без танцев с бубном, просто подключив по hdmi, станция уже не нужна!)
                            li "Эко-система" (часы, наушники, шлем вирт.реальности, умный дом)
                            li Отличная камера(не ведитесь на P30 Pro, смотрите реальные сравнения на ютюбе и поймете, что в S10 камера более сбалансированная).
                            li Крутая комплектация(хорошие наушники, быстренькая зарядка, OTG переходник, чехол на первое время)
                            li Приемлемая автономность(на полный день хватает, а больше и не нужно)
                            li Быстрая беспроводная зарядка(провод даже не доставал из коробки)
                    div.u-mt-32px
                        h3.subcaption Недостатки
                        p.text Exynos в версии для европейского рынка.<br/> Если хотите лучше качество связи и фотосъемки(можно поставить гугл камеру), автономность и производительность в играх, то берите версию на Snapdgagon 855 из Гонконга, в России их продают по аналогичной цене и они не имеют никаких минусов, русский язык есть, обновляются нормально, бесконтактная оплата работает!


                    div.u-mt-32px
                        h3.subcaption Камера
                        .rating.rating--inverse
                            +stars-big(4)
                            .rating-value 4
                        p.text Мне был нужен телефон с отличной камерой и от galaxy s 10 я это получила. Ранее камеры самсунг не нравились тем, что делали кадры сильно насыщенными, цветопередача была не совсем корректной. В GALAXY S 10 эту проблему убрали, снимки действительно стали более естественные. Качество изображений намного выше, чем на iphone x, особенно если фото приближать, рассматривать более детально. Далее, среди нововведений камеры самсунг, это возможность фотографировать в очень ярком освещении, напротив солнца, и кадры выходят вполне норм, в айфон это было ужасно(. И еще один пример. У меня комната с оранжевыми стенами, и когда я фотографировала в ней людей на айфон, кожа приобретала красноватый оттенок, а окружающие предметы тоже на себя перенимали какой-то новый оттенок красноты, а вот на самсунге такого косяка не наблюдаю. Прикрепила фото-пример. Также портретный режим. В айфон постоянно мне «замазывало» серьги (особенно висячие) или какую-то часть волос, думаю многие эту проблему отмечали, в самсунг портретный режим прям крутой, намного лучше.

                    div.u-mt-32px
                        h3.subcaption Процессор
                        .rating.rating--inverse
                            +stars-big(3)
                            .rating-value 3
                        p.text Даже не сомневайтесь, это сбалансированный топ-смартфон от А-бренда.<br>
                            | - Полный фарш, в нем есть все!<br>
                            | - Выделяющийся дизайн(не чувствуется удешевленным как S10e)<br>
                            | - Хорошая эргономика, небольшой вырез под камеру(в отличии от S10 +)

                    div.u-mt-32px
                        h3.subcaption Защита
                        .rating.rating--inverse
                            +stars-big(5)
                            .rating-value 5
                        p.text Есть влагозащита стандарта IP68, уронил в туалет, норм в принципе, просушил, все работает, правда теперь не знаю как избавиться от запаха)

                    p.text.u-gray Не допускаются к размещению фотографии с водяными знаками, чужих объектов и рекламные баннеры. JPG, PNG. Максимальный размер файла 10 мб

                    div.u-row-between
                        button(type="button", class="button button--light") Назад
                        button(type="button", class="button") Опубликовать отзыв

                .columns.three-columns.one-offset

