extends base

block main
    - let filters = [{link: '#', title: 'Камере'}, {link: '#', title: 'Батарее'}, {link: '#', title: 'Корпусу'},{link: '#', title: 'Процессору'}, {link: '#', title: 'Процессору'}, {link: '#', title: 'Процессору'},{link: '#', title: 'Процессору'}, {link: '#', title: 'Процессору'}, {link: '#', title: 'Процессору'},{link: '#', title: 'Процессору'}, {link: '#', title: 'Процессору'}, {link: '#', title: 'Процессору'},{link: '#', title: 'Процессору'}, {link: '#', title: 'Процессору'}, {link: '#', title: 'Процессору'},{link: '#', title: 'Процессору'}, {link: '#', title: 'Процессору'}, {link: '#', title: 'Процессору'}]
    -
        let brands = [
            {link : '#', title : 'Apple'}, {link : '#', title : 'Bosch'}, {link : '#', title : 'Samsung'},
            {link : '#', title : 'Apple'}, {link : '#', title : 'Bosch'}, {link : '#', title : 'Samsung'},
            {link : '#', title : 'Apple'}, {link : '#', title : 'Bosch'}, {link : '#', title : 'Samsung'},
            {link : '#', title : 'Apple'}, {link : '#', title : 'Bosch'}, {link : '#', title : 'Samsung'},
            {link : '#', title : 'Apple'}, {link : '#', title : 'Bosch'}, {link : '#', title : 'Samsung'},
        ]
    -
        let  characteristics2 = [
            {name: 'Камера', rating: '5.0'},
            {name: 'Процессор', rating: '4.3'},
            {name: 'Аккумулятор', rating: '4.3'},
            {name: 'Вес', rating: '1.3'},
            {name: 'Экран', rating: '3.2'},
        ]

    section.section.section--gray.section--p32
        .container
            +breadcrumbs({link : 'index.html', title : 'Главная'}, {link : 'index.html', title : 'Рейтинг товаров'}, {link : 'index.html', title : 'Электроника'}, {link : 'index.html', title : 'Смартфоны и умные часы'}, {link : 'index.html', title : 'Мобильные телефоны'}, {link : 'index.html', title : 'Samsung'}, 'Samsung S10')

            .informer
                +svg-logo-wink(42, 48)
                .informer__divider
                p.informer__text Регистрируйся и получай <strong>500 рублей</strong> за каждый отзыв от друга.
                button(type="button").informer__button.button.button--light Подробнее

    section.section
        .container
            .row.align-items-baseline
                .columns.twelve-columns.eight-columns-desktop
                    h1.caption.product__caption Смартфон Samsung Galaxy S10e 6/128GB
                .columns.twelve-columns.four-columns-desktop.u-align-children-right
                    button(type="button").button.u-only-desktop Оставить отзыв


            .topper-container
                .topper-wrapper
                    .topper <strong>№1</strong> из <strong>2467</strong> товаров в рейтинге.
                    .topper <strong>№1</strong> из <strong>2467</strong> товаров в рейтинге.
                    .topper <strong>№1</strong> из <strong>2467</strong> товаров в рейтинге.
                    .topper <strong>№1</strong> из <strong>2467</strong> товаров в рейтинге.
                    .topper <strong>№1</strong> из <strong>2467</strong> товаров в рейтинге.

            .row
                .columns.twelve-columns.seven-columns-desktop
                    .product__media-wrapper
                        .product__gallery.swiper-container
                            .product__gallery-slider.swiper-wrapper
                                each val in [1,2,3,4]
                                    .product__gallery-slide.swiper-slide
                                        picture
                                            source(srcset=`assets/images/product-photo-1.webp`, type='image/webp')
                                            source(srcset=`assets/images/product-photo-1.jpg`, type='image/jpeg')
                                            img(src=`assets/images/product-photo-1.png`, alt='image')
                            .product__gallery-pagination
                            .product__gallery-button-prev
                            .product__gallery-button-next
                        .product__media
                            img.product__media-img(src="assets/images/user-photo-bg.webp")
                            p
                                span.u-icon-span
                                    +svg-camera-bold(13,13)
                                    | 124
                            p Фото пользователей
                        .product__media
                            img(src="assets/images/user-video-bg.webp")
                            p
                                span.u-icon-span
                                    +svg-youtube(13, 9)
                                    | 113
                            p Видео пользователей

                .columns.twelve-columns.four-columns-desktop.one-offset-desktop
                    .product__review
                        h2.caption-2 Обзор
                        .product__rating
                            span(class="rating-value rating-value--4.3") 4,3
                            +stars(4)
                            a.link.rating-reviews 256 отзывов
                        +characteristics(characteristics2)(class="characteristics--column characteristics--bolder")
                        a.link.link--primary-theme.u-mt-16px.u-lh-40px(href="#") Подробный обзор

    section.section.u-mt-80px
        .container
            h2.caption-2 Подробные характеристики
            h3.subcaption Общие характеристики

            -
                let features = [
                    {name: 'Тип', value: 'смартфон'}, {name: 'Тип SIM-карты ', value: 'nano SIM'},
                    {name: 'Операционная система', value: 'Android'}, {name: 'Режим работы нескольких SIM-карт', value: 'попеременный'},
                    {name: 'Версия ОС на начало продаж', value: 'Android 9/0'}, {name: 'Бесконтактная оплата (NFC)', value: 'есть'},
                    {name: 'Тип корпуса', value: 'классический'}, {name: 'Вес', value: '150 г'},
                    {name: 'Конструкция', value: 'водозащита'}, {name: 'Размеры (ШхВхЕ)', value: '69.9х142.2х7.9мм'},
                    {name: 'Количество SIM-карт', value: '2'}, {name: 'Режим работы нескольких SIM-карт', value: 'попеременный'},
                ]

            .row.u-mb-16px
                each feature, index in features
                    if ((index + 1) % 2 == 0)
                        .columns.twelve-columns.six-columns-desktop.u-pl-16px-desktop
                            .feature
                                dt.feature__name
                                    span= feature.name
                                    div.feature__dots
                                dd.feature__value= feature.value
                    else
                        .columns.twelve-columns.six-columns-desktop
                            .feature
                                dt.feature__name
                                    span= feature.name
                                    div.feature__dots
                                dd.feature__value= feature.value

            a(href="#").link.link--primary-theme Показать все характеристики&nbsp;
                +svg-plus(8,8)

    section.section.section--gray.section--p80
        .container
            .row
                .columns.twelve-columns.five-columns-desktop
                    h2.caption-2.u-mb-32px-only-desktop Подробный обзор
                        h3.subcaption Общая оценка
                        .product__rating.u-my-16px
                            span(class="rating-value.rating-value--4.3") 4,3
                            +stars(4)
                            a.link.rating-reviews 256 отзывов

                        -
                            let bars = [
                                {title: 'Отлично', amount: '112 отзывов', percent: 52},
                                {title: 'Очень хорошо', amount: '51 отзыв', percent: 26},
                                {title: 'Неплохо', amount: '11 отзыв', percent: 12},
                                {title: 'Плохо', amount: '10 отзывов', percent: 10},
                                {title: 'Ужасно', amount: '2 отзыва', percent: 1},
                            ]
                        each bar in bars
                            .progressbar
                                .progressbar__prepend
                                    span #{bar.title} (#{bar.percent}%)
                                    span #{bar.amount}
                                .progressbar__bar(class=`progressbar__bar--${bar.percent}`)


                .columns.twelve-columns.five-columns-desktop.one-offset-desktop
                    -
                        bars = [
                            {title: 'Камера', amount: '5,0'},
                            {title: 'Процессор', amount: '3,0'},
                            {title: 'Аккумулятор', amount: '2,1'},
                            {title: 'Вес', amount: '4,0'},
                            {title: 'Корпус', amount: '4,1'},
                            {title: 'Диагональ', amount: '4,0'},
                            {title: 'Защита', amount: '5,0'},
                            {title: 'Связь', amount: '4,0'},
                            {title: 'Корпус', amount: '4,1'},
                            {title: 'Диагональ', amount: '4,0'},
                            {title: 'Защита', amount: '5,0'},
                            {title: 'Связь', amount: '4,0'},
                        ]

                    each bar in bars
                        .progressbar
                            .progressbar__prepend
                                span #{bar.title}
                                span.progressbar__rating(class=`progressbar__rating--${bar.amount.replace(",", ".")}`) #{bar.amount}
                            .progressbar__bar(class=`progressbar__bar--${bar.amount.replace(",", ".")}`)


    section.section
        .container
            h2.caption-2 Похожие товары
            .cards.u-mb-32px
                .swiper-container.swiper-container--visibility
                    .swiper-wrapper
                        each val in [0,1,0,1,0,0,0]
                            .card-wrapper.columns.six-columns-tablet.four-columns-desktop.swiper-slide.u-ml-0
                                +card-mini(cards[val])

    .container.u-mb-80px
        .review-product.review-product--bigger
            img.review-product__image(src="assets/images/s10.png")
            p.review-product__name
                | Закончите
                |
                +text-link('ваш отзыв', '#')
                |
                | о Samsung Galaxy S10e 6/128GB
            span.review-product__remove
                +svg-cross-bold(16, 16)


    section.section
        .container
            .row.align-items-baseline.u-mb-32px
                .columns.twelve-columns.eight-columns-desktop
                    h2.caption2
                        | Отзывы
                        |
                        strong.u-fz-16px.u-gray 22 542
                .columns.twelve-columns.four-columns-desktop.u-align-children-right
                    button(type="button").button.button--fullw-phone.u-mt-24px-only-phone Оставить отзыв
            +sortingProduct()
            hr.lighter.u-mb-48px
            .review
                .row
                    .columns.twelve-columns.one-columns-desktop
                        .review__author-image-wrapper
                            img(src="assets/images/valov.png", class="review__author-image")
                    .columns.twelve-columns.eight-columns-desktop
                        .review__header.u-mb-32px
                            .review__actions
                                +svg-three-dots(20, 5.71)

                            p.review__info
                                strong.review__author-name Veronika A
                                |
                                | написал(а) отзыв о Samsung Galaxy S10e 6/128GB (нояб. 2019 г).
                            .review__author-statistics.u-mb-24px
                                em 126 отзывов
                                em 12 благодарностей

                            .review__extra
                                .rating.rating--inverse
                                    + stars(4.3)
                                    span.rating-value 4,3
                                span.u-greeny.u-fw-500.u-ml-16px-desktop.u-mt-8px-not-desktop Рекомендует данный товар

                        .review__body
                            p.caption-4.review__title
                                a(href="#").link.u-bold Крайне годный смартфон!
                            div.review__text.u-mb-16px
                                | Пользуюсь флагманами Самсунга начиная с S6 edge. Были S6 edge, S8, S10+ ceramic.
                                | Вопросы начались на этапе переноса данных с S10+. Не перенеслось процентов 60 программ, темы, обои, настройки. Такого не было даже при переходе с Iphone на S6! И S8 и S10 копировали полностью всё с предыдущих аппаратов, включая...
                            .u-mb-32px
                                a(href="").link.link--primary-theme Читать весь отзыв
                                    +svg-plus(8,8)
                            p.text.u-bold Фото
                                .row.review__photos
                                    each val in [1, 2, 3, 4, 5, 6, 7]
                                        .columns.fill-columns
                                            .review__photo-wrapper
                                                img(src="assets/images/photo.png", class="review__photo")
                                    .columns.fill-columns
                                        .review__photo-wrapper.review__photo-wrapper--more
                                            span.review__photo-amount + 12
                                            img(src="assets/images/photo.png", class="review__photo")

                            p.text.u-bold Видео
                                .row.review__videos
                                    each val in [1, 2, 3]
                                        .columns.fill-columns
                                            .review__video-wrapper
                                                img(src="assets/images/video.png", class="review__video")
                                    .columns.fill-columns
                                        .review__video-wrapper.review__video-wrapper--more
                                            span.review__photo-amount + 12
                                            img(src="assets/images/video.png", class="review__video")
                            -
                                let items2 = [
                                    {title: 'Камера', value : 4.0},
                                    {title: 'Вес', value : 4.0},
                                    {title: 'Защита', value : 4.0},
                                    {title: 'Защита', value : 4.0},
                                    {title: 'Процесор', value : 3.0},
                                    {title: 'Корпус', value : 2.0},
                                    {title: 'Свзяь', value : 5.0},
                                    {title: 'Аккумулятор', value : 4.0},
                                    {title: 'Диагональ', value : 4.0},
                                ]
                            .row.review__characteristics
                                each item in items2
                                    .columns.six-columns.three-columns-desktop
                                        .review__characteristic
                                            p.text.u-semi-bold= item.title
                                            .rating.rating--inverse
                                                + stars(item.value)
                                                span(class=`rating-value rating-value--thin rating-value--${item.value.toFixed(1)}`)= item.value

                        .review__footer
                            a(href="").link.link--primary-theme Ответить
                            .useful
                                .useful__prepend Полезно?
                                button(type="button").useful__plus
                                    +svg-plus-small(8, 8)
                                .useful__value 12
                                button(type="button").useful__minus
                                    +svg-minus-small(8, 2)
                        hr.dashed.lighter
                        .review__comments
                            .review__comment
                                .row
                                    .columns.twelve-columns.one-columns-desktop.one-offset-desktop
                                        .review__comment-author-image-wrapper
                                            img(src="assets/images/valov.png", class="review__comment-author-image")
                                    .columns.twelve-columns.fill-columns-desktop
                                        .review__comment-header
                                            .useful
                                                button(type="button").useful__plus
                                                    +svg-plus-small(8, 8)
                                                .useful__value 12
                                                button(type="button").useful__minus
                                                    +svg-minus-small(8, 2)
                                            p.review__comment-info

                                                strong.review__comment-author-name Konstantin V.
                                                |
                                                | ответил(а) Veronika A
                                                span.review__comment-actions
                                                    +svg-three-dots(20, 5.71)
                                            div
                                                time.review__comment-time 12.16.2020
                                        .review__comment-body
                                            .review__comment-text
                                                | нет карт памяти пока которые 8к тянут..в сосунг видимо корона вирус раньше всех пришел
                                        a(href="#").link.link--primary-theme Ответить

                            .review__comment
                                .row
                                    .columns.twelve-columns.one-columns-desktop.one-offset-desktop
                                        .review__comment-author-image-wrapper
                                            img(src="assets/images/valov.png", class="review__comment-author-image")
                                    .columns.twelve-columns.fill-columns-desktop
                                        .review__comment-header
                                            .useful.useful--bad
                                                button(type="button").useful__plus
                                                    +svg-plus-small(8, 8)
                                                .useful__value -3
                                                button(type="button").useful__minus
                                                    +svg-minus-small(8, 2)
                                            p.review__comment-info

                                                strong.review__comment-author-name Konstantin V.
                                                |
                                                | ответил(а) Veronika A
                                                span.review__comment-actions
                                                    +svg-three-dots(20, 5.71)
                                            div
                                                time.review__comment-time 12.16.2020
                                        .review__comment-body
                                            .review__comment-text
                                                | нет карт памяти пока которые 8к тянут..в сосунг видимо корона вирус раньше всех пришел
                                        a(href="#").link.link--primary-theme Ответить


                            .row.u-mt-32px
                                .fill-columns.two-offset-desktop
                                    hr.dashed.lighter.u-mb-32px
                                    +link('#')(class="link link--primary-theme link--iconed")
                                        | Все комментарии
                                        +svg-plus-flat(8,8)
            hr.full-screen.u-mb-32px
            .u-row-between
                +pagination-desktop()
                button(type="button").button.button--light.button--fullw-phone Показать еще

    section.section.u-mb-32px.u-mb-80px-desktop
        .container
            h2.caption-2 Часто ищут
            -
                let items = [
                    [{title : 'Смартфоны и умные часы', link : '#'}, {title : 'Фото и видео камеры', link : '#'}, {title : 'Портативная камера', link : '#'}, {title : 'Умный дом', link : '#'}, {title : 'Аудио техника', link : '#'}],
                    [{title : 'Смартфоны и умные часы', link : '#'}, {title : 'Фото и видео камеры', link : '#'}, {title : 'Портативная камера', link : '#'}, {title : 'Умный дом', link : '#'}, {title : 'Аудио техника', link : '#'}],
                    [{title : 'Смартфоны и умные часы', link : '#'}, {title : 'Фото и видео камеры', link : '#'}, {title : 'Портативная камера', link : '#'}, {title : 'Умный дом', link : '#'}, {title : 'Аудио техника', link : '#'}],
                    [{title : 'Смартфоны и умные часы', link : '#'}, {title : 'Фото и видео камеры', link : '#'}, {title : 'Портативная камера', link : '#'}, {title : 'Умный дом', link : '#'}, {title : 'Аудио техника', link : '#'}],
                ]
            .row
                each item, index in items
                    .columns.twelve-columns.six-columns-tablet.three-columns-desktop.u-mb-16px-not-desktop
                        .list-wrapper
                            .list
                                each subitem in item
                                    .list__item
                                        +link(subitem.link, subitem.title)(class="list__link")




