extends base-account

block vars
    - let nav = 'Мои рефералы'

block main

    .container
        section.section.u-pb-48px.u-pb-80px-desktop
            .row
                .columns.twelve-columns.ten-columns-desktop.two-offset-desktop

                    h2.caption-2 Мои рефералы

                    .u-row-between-desktop.u-mb-16px
                        p
                            strong Всего рефералов:#[span.u-primary.u-ml-8px 12]
                        p
                            strong Общая сумма:#[span.u-primary.u-ml-8px 1 000 ₽]
                    .table-wrapper
                        table.table.u-mb-32px
                            thead.table__head
                                tr
                                    th ID пользователя
                                    th Имя
                                    th Отзывов
                                    th Сумма
                            tbody.table__body
                                tr
                                    td 40506896656
                                    td Иванов Иван
                                    td 46
                                    td.u-greeny 3 000 ₽
                                tr.tr--disabled
                                    td 40506896656
                                    td Петров Петр
                                    td 12
                                    td.u-greeny 500 ₽
                                tr
                                    td 40506896656
                                    td Козлов Козел
                                    td 0
                                    td.u-greeny 24 000 ₽

                    button(type="button").button.button--light.button--fullw-phone Показать еще

                    .referral.u-mt-48px.u-mt-64px-desktop
                        .row
                            .columns.twelve-columns.six-columns-desktop.u-order-1-desktop.u-full-center
                                img(src="assets/images/three-men.svg")
                            .columns.twelve-columns.six-columns-desktop
                                h2.caption-2.u-mb-32px
                                    span.help-container Пригласи друга и получай бонусы!
                                        a.help-link
                                p.text Отправить приглашение на почту
                                .row.u-mb-16px
                                    .columns.fill-columns
                                        +input('E-mail друга', 'E-mail друга', true)(type="tel")
                                    .columns.auto-columns
                                        button(type="button").button.button--iconed
                                            +svg-arrow-right-smooth(16,16)
                                p.text Ваша реферальная ссылка
                                .row
                                    .columns.fill-columns
                                        +input('Реферальная ссылка', 'Реферальная ссылка', true)(type="text", disabled, value="elsolo.ru/referral2056871")
                                    .columns.auto-columns
                                        button(type="button").button.button--iconed.button--gray
                                            +svg-copy(20,20)
                                div.u-row-center-y
                                    a.referral-social.referral-social--vk(href="#")
                                        +svg-vk-thin(13, 9)
                                    a.referral-social.referral-social--facebook(href="#")
                                        +svg-facebook(7, 14)
                                    a.referral-social.referral-social--twitter(href="#")
                                        +svg-twitter(14, 12)
                                    a.referral-social.referral-social--ok(href="#")
                                        +svg-ok(10, 14)
                                    a.referral-social.referral-social--whatsapp(href="#")
                                        +svg-whatsapp(14, 14)
                                    a.referral-social.referral-social--telegram(href="#")
                                        +svg-telegram(14, 12)
