extends base-account

block vars
    - let nav = 'Мои отзывы'

block main

    .container
        section.section.u-pb-48px.u-pb-80px-desktop
            .row
                .columns.twelve-columns.ten-columns-desktop.two-offset-desktop

                    h2.caption-2 Мои отзывы

                    ul.list.list--thin.u-mb-32px.u-not-desktop(role="tablist").nav
                        li.list__item
                            a(href="#tab-1", data-toggle="tab", role="tab")
                                span.u-semi-bold.u-primary Опубликованные (12)
                        li.list__item
                            a(href="#tab-2", data-toggle="tab", role="tab")
                                span.u-semi-bold.u-gray На модерации (0)
                        li.list__item
                            a(href="#tab-3", data-toggle="tab", role="tab")
                                span.u-semi-bold.u-red Отклонено (1)
                        li.list__item
                            a(href="#tab-4", data-toggle="tab", role="tab")
                                span.u-semi-bold.u-gray Черновик (2)

                    +tabs([
                        {name: 'Опубликованные (12)', link: 'tab-1', active: true},
                        {name: 'На модерации (0)', link: 'tab-2'},
                        {name: 'Отклонено (1)', link: 'tab-3'},
                        {name: 'Черновик (2)', link: 'tab-4'}
                    ])(class="u-mb-48px u-only-desktop")

                    .tab-content
                        div.tab-pane.fade.show.active#tab-1
                            .account-card
                                .account-card__info.u-row-center-y.row
                                    .columns.two-columns
                                        img.account-card__img(src="assets/images/s10.png")
                                    .columns.twelve-columns.fill-columns-tablet.u-ml-32px-desktop.u-mt-16px-only-phone
                                        div.account-card__info-block
                                            p.account-card__title
                                                | Отзыв о #[strong.u-mr-8px.u-mr-16px-tablet Samsung Galaxy S10e 6/128GB]
                                                span(class="rating-value rating-value--4.7") 4,7
                                        div.account-card__info-block.account-card__info-block--second
                                            time.account-card__time(datetime="2020-02-25 09:45:00") 25 февраля в 9:45
                                            em.account-card__id ID 251563
                                        div.account-card__info-block.account-card__info-block--third
                                            strong.account-card__recommendations.u-success Вы рекомендуете этот товар
                                            strong.account-card__answers.u-primary Ответов: 126
                                            span.account-card__useful Полезно: #[strong.u-success 12]
                                hr.dashed.u-my-16px
                                .account-card__review
                                    p.subcaption Крайне годный смартфон!
                                    p.text Вопросы начались на этапе переноса данных с S10+. Не перенеслось процентов 60 программ, темы, обои, настройки. Такого не было даже при переходе Iphone...
                                    +link('#', 'Весь отзыв')(class="link--primary-theme link--iconed")
                                        | Весь отзыв
                                        +svg-plus(8, 8)(class="u-ml-8px")
                            .account-card
                                .account-card__info.u-row-center-y.row
                                    .columns.two-columns
                                        img.account-card__img(src="assets/images/s10.png")
                                    .columns.twelve-columns.fill-columns-tablet.u-ml-32px-desktop.u-mt-16px-only-phone
                                        div.account-card__info-block
                                            p.account-card__title
                                                | Отзыв о #[strong.u-mr-8px.u-mr-16px-tablet Samsung Galaxy S10e 6/128GB]
                                                span(class="rating-value rating-value--1.3") 1,3
                                        div.account-card__info-block.account-card__info-block--second
                                            time.account-card__time(datetime="2020-02-25 09:45:00") 25 февраля в 9:45
                                            em.account-card__id ID 251563
                                        div.account-card__info-block.account-card__info-block--third
                                            strong.account-card__recommendations.u-bad Вы не рекомендуете этот товар
                                            strong.account-card__answers.u-primary Ответов: 126
                                            span.account-card__useful Полезно: #[strong.u-worst -3]
                                hr.dashed.u-my-16px
                                .account-card__review
                                    p.subcaption Крайне годный смартфон!
                                    p.text Вопросы начались на этапе переноса данных с S10+. Не перенеслось процентов 60 программ, темы, обои, настройки. Такого не было даже при переходе Iphone...
                                    +link('#', 'Весь отзыв')(class="link--primary-theme link--iconed")
                                        | Весь отзыв
                                        +svg-plus(8, 8)(class="u-ml-8px")
                            button(type="button").button.button--light Показать еще
                        div.tab-pane.fade#tab-2
                            p.subcaption.u-fz-24px.u-mb-16px Вы еще не оставили ни одного отзыва
                            p.text.u-mb-32px Вводный текст, мол оставляя честный и подробный отзыв на нашем сервисе вы помогаете другим пользователям определиться с выбором и вносите большой вклад в развитии рейтинговой системы
                            button(type="button").button.button--fullw-phone Оставить отзыв
                            button(type="button").button.button--light.button--fullw-phone.u-ml-16px-tablet.u-mt-16px-not-tablet Добавить товар
                        div.tab-pane.fade#tab-3
                            .account-card
                                .account-card__info.u-row-center-y.row
                                    .columns.two-columns
                                        img.account-card__img(src="assets/images/s10.png")
                                    .columns.twelve-columns.fill-columns-tablet.u-ml-32px-desktop.u-mt-16px-only-phone
                                        div.account-card__info-block
                                            p.account-card__title
                                                | Отзыв о #[strong.u-mr-8px.u-mr-16px-tablet Samsung Galaxy S10e 6/128GB]
                                                span(class="rating-value rating-value--1.3") 1,3
                                        div.account-card__info-block.account-card__info-block--second
                                            time.account-card__time(datetime="2020-02-25 09:45:00") 25 февраля в 9:45
                                            em.account-card__id ID 251563
                                        div.account-card__info-block.account-card__info-block--third
                                            strong.account-card__recommendations.u-bad Вы не рекомендуете этот товар
                                            strong.account-card__answers.u-primary Ответов: 126
                                            span.account-card__useful Полезно: #[strong.u-worst -3]
                                hr.dashed.u-my-16px
                                .account-card__review
                                    p.subcaption Крайне годный смартфон!
                                    p.text Вопросы начались на этапе переноса данных с S10+. Не перенеслось процентов 60 программ, темы, обои, настройки. Такого не было даже при переходе Iphone...
                                    +link('#', 'Весь отзыв')(class="link--primary-theme link--iconed")
                                        | Весь отзыв
                                        +svg-plus(8, 8)(class="u-ml-8px")
                                .account-card__extra.u-worst.u-mt-48px.u-mt-32px-tablet
                                    p.text.u-m-0 В вашем отзыве присутствует нецензурная лексика, подробнее с правилами оформления отзыва можно ознакомится по
                                        |
                                        |
                                        +link('#', 'ссылке')(class="link--primary-theme")
                                        | .
                        div.tab-pane.fade#tab-4
                            .account-card.account-card--editable
                                .account-card__edit.dropdown
                                    button(type="button", data-toggle="dropdown", aria-expanded="false").account-cart__edit-button.dropdown-toggle
                                        +svg-three-dots(20, 6)
                                    .dropdown-menu.dropdown__inner
                                        .dropdown__menu
                                            .dropdown__item
                                                +link()(class='dropdown__link')
                                                    +svg-comment-edit(16, 16)
                                                    | Редактировать
                                            .dropdown__item
                                                +link()(class='dropdown__link')
                                                    +svg-comment-remove(16, 16)
                                                    | Удалить

                                .account-card__info.u-row-center-y.row
                                    .columns.two-columns
                                        img.account-card__img(src="assets/images/s10.png")
                                    .columns.twelve-columns.fill-columns-tablet.u-ml-32px-desktop.u-mt-16px-only-phone
                                        div.account-card__info-block
                                            p.account-card__title
                                                | Отзыв о #[strong.u-mr-8px.u-mr-16px-tablet Samsung Galaxy S10e 6/128GB]
                                                span(class="rating-value rating-value--4.7") 4,7
                                        div.account-card__info-block.account-card__info-block--second
                                            time.account-card__time(datetime="2020-02-25 09:45:00") 25 февраля в 9:45
                                            em.account-card__id ID 251563
                                        div.account-card__info-block.account-card__info-block--third
                                            strong.account-card__recommendations.u-success Вы рекомендуете этот товар
                                            strong.account-card__answers.u-primary Ответов: 126
                                            span.account-card__useful Полезно: #[strong.u-success 12]
                                hr.dashed.u-my-16px
                                .account-card__review
                                    p.subcaption Крайне годный смартфон!
                                    p.text Вопросы начались на этапе переноса данных с S10+. Не перенеслось процентов 60 программ, темы, обои, настройки. Такого не было даже при переходе Iphone...
                                    +link('#', 'Весь отзыв')(class="link--primary-theme link--iconed")
                                        | Весь отзыв
                                        +svg-plus(8, 8)(class="u-ml-8px")



