extends base

block main
    .blind
        .blind__visible
            .u-row-between.u-bold
                strong Уровень заполненности отзыва
                storng 80%
            .progressbar.u-mb-0
                .progressbar__bar.progressbar__bar--green.progressbar__bar--80
        .blind__hidden
            p.text.u-gray Какой-то текст обьясняющий в чем выгода фулл заполненного отзыва
            p.text.u-bold Общая оценка
            p.text.u-gray (Формируется автоматически)

            .rating.rating--inverse.u-mb-32px.u-mt-8px
                + stars-big(4.3)
                span.rating-value 4,3

        button(type="button").blind__button
            +svg-arrow-down(10, 6)
    section.section.section--gray.u-pt-16px.u-pb-48px.u-pt-32px-desktop
        .container
            +breadcrumbs({link: 'index.html', title: 'Главная'}, 'Оставить отзыв')

            h1.caption Шаг 4: добавьте фотографии и видео

            .review-product
                img.review-product__image(src="assets/images/s10.png")
                p.review-product__name Смартфон Samsung Galaxy S10e 6/128GB
                span.review-product__remove
                    +svg-cross-bold(16, 16)
    section.section.u-my-48px.u-mb-80px-desktop
        .container
            .row
                .columns.twelve-columns.eight-columns-desktop
                    h3.subcaption Добавить фотографии
                    p.text.u-gray Не допускаются к размещению фотографии с водяными знаками, чужих объектов и рекламные баннеры. JPG, PNG. Максимальный размер файла 10 мб


                    .drag-drop.u-mb-32px
                        +svg-drag-drop(44, 44)(class="drag-drop__image")
                        p.text Перетащите сюда ваши фотографии или выберите файлы с компьютера

                    .row.image-cards
                        .columns.six-columns.four-columns-tablet.three-columns-desktop
                            .image-card
                                img(src="assets/images/vacuum.png", class="image-card__image")
                                div.image-card__text
                                    span 135 кб.
                                    span ImageName....png
                                button(type="button").image-card__remove
                                    +svg-cross(11,11)
                        .columns.six-columns.four-columns-tablet.three-columns-desktop
                            .image-card.image-card--error
                                img(src="assets/images/vacuum.png", class="image-card__image")
                                div.image-card__text
                                    p.u-mb-8px
                                        +svg-warning(20, 17)
                                    | Неправильный формат данных
                                button(type="button").image-card__remove
                                    +svg-cross(11,11)
                        .columns.six-columns.four-columns-tablet.three-columns-desktop
                            .image-card.image-card--loading
                                img(src="assets/images/vacuum.png", class="image-card__image")
                                div.image-card__text
                                    p.u-mb-8px загрузка 58%
                                    .progressbar__bar.progressbar__bar--58
                                button(type="button").image-card__remove
                                    +svg-cross(11,11)
                        .columns.six-columns.four-columns-tablet.three-columns-desktop
                            .image-card.image-card--removed
                                +svg-trash(16, 17)
                                div.u-center-text
                                    p Удалено
                                    a(href="").image-card-removed__restore Восстановить

                                    
                    h3.subcaption Добавить видео
                    +inputWithAppend('Ссылка на Youtube', 'Ссылка на Youtube', true)
                    +inputWithAppend('Ссылка на Youtube', 'Ссылка на Youtube', true)

                    p.text.u-not-phone
                        | Нажимая на кнопку «Опубликовать отзыв» я подтверждаю, что этот отзыв основан на моих собственных впечатлениях и является моим мнением в этом продукте и согласен с 
                        |
                        +link('#', 'политикой конфиденциальности')(class="link--primary-theme link--lighter")
                        | .

                    div.u-row-between-not-phone.u-mt-32px-only-phone
                        button(type="button").button.button--light.button--fullw-phone Назад
                        button(type="button").button.button--fullw-phone.u-mt-16px-only-phone Опубликовать отзыв

                .columns.twelve-columns.three-columns-desktop.one-offset-desktop.u-only-desktop
                    p.text.u-bold.u-mb-8px Общая оценка
                    p.text.u-gray (Формируется автоматически)

                    .rating.rating--inverse.u-mb-32px.u-mt-8px
                        + stars-big(4.3)
                        span.rating-value 4,3

                    p.text.u-bold Уровень заполненности отзыва
                    p.text.u-gray Какой-то текст обьясняющий в чем выгода фулл заполненного отзыва

                    .progressbar
                        .progressbar__prepend
                            span 80
                        .progressbar__bar.progressbar__bar--green(class=`progressbar__bar--80`)

                    button(type="button").button.button--sm.button--fullw.u-mb-16px Предпросмотр
                    button(type="button").button.button--sm.button--light.button--fullw Сохранить как черновик

