extends base

block main
    .blind
        .blind__visible
            .u-row-between.u-bold
                strong Уровень заполненности отзыва
                storng 50%
            .progressbar.u-mb-0
                .progressbar__bar.progressbar__bar.progressbar__bar--50
        .blind__hidden
            p.text.u-gray Какой-то текст обьясняющий в чем выгода фулл заполненного отзыва
            p.text.u-bold Общая оценка
            p.text.u-gray (Формируется автоматически)

            .rating.rating--inverse.u-mb-32px.u-mt-8px
                + stars-big(4.3)
                span.rating-value 4,3
        button(type="button").blind__button
            +svg-arrow-down(10, 6)
    section.section.section--gray.u-pt-16px.u-pb-48px.u-pt-32px-desktop
        .container
            +breadcrumbs({link: 'index.html', title: 'Главная'}, 'Оставить отзыв')

            h1.caption Шаг 3: напишите подробный отзыв

            .review-product
                img.review-product__image(src="assets/images/s10.png")
                p.review-product__name Смартфон Samsung Galaxy S10e 6/128GB
                span.review-product__remove
                    +svg-cross-bold(16, 16)
    section.section.u-my-48px.u-mb-80px-desktop
        .container
            .row
                .columns.twelve-columns.eight-columns-desktop
                    h3.subcaption Заголовок отзыва
                    +input('Заголовок', 'Отображает в целом ваше мнение', true)

                    h3.subcaption Подробный отзыв
                    +textarea('Заголовок', "Сосредоточьтесь на фактах и объективности. Не используйте агрессивные выражения и не публикуйте личные данные.",true)

                    p.text Минимальное количество символов: 200

                    h3.subcaption Достоинства
                    select.js-example-basic-single(multiple="multiple").u-mb-16px
                        option(value="0") Отличный дизайн
                        option(value="1") Эргономика
                        option(value="2") Долго держит зарядку
                        option(value="3") Быстрая зарядка
                        option(value="4") Хорошо ловит сеть
                        option(value="5") Эко-система
                        option(value="6") 100-кратный зум, отличная камера

                    +textarea('Достоинства', "Или напишите достоинства", true)


                    h3.subcaption Недостатки
                    +textarea('Недостатки', "Или напишите недостатки", true)

                    div.u-row-between
                        a(href="step2.html", class = "button button--light button--sm") Назад
                        a(href="step4.html", class = "button button--sm") Вперед

                .columns.twelve-columns.three-columns-desktop.one-offset-desktop.u-only-desktop
                    p.text.u-bold.u-mb-8px Общая оценка
                    p.text.u-gray (Формируется автоматически)

                    .rating.rating--inverse.u-mb-32px.u-mt-8px
                        + stars-big(4.3)
                        span.rating-value 4,3

                    p.text.u-bold Уровень заполненности отзыва
                    p.text.u-gray Какой-то текст обьясняющий в чем выгода фулл заполненного отзыва

                    .progressbar
                        .progressbar__prepend
                            span 50
                        .progressbar__bar(class=`progressbar__bar--50`)

                    button(type="button").button.button--light.button--fullw Сохранить как черновик

