extends base

block main
    section.section.section--gray.u-pt-16px.u-pb-48px.u-pt-32px-desktop
        .container
            +breadcrumbs({link: 'index.html', title: 'Главная'}, 'Оставить отзыв')

            h1.caption.u-mb-32px-desktop Шаг 1: выберите товар

            p.text Найдите товар на который хотите оставить отзыв
            +search('Поиск товара')
    section.section.u-my-48px
        .container
            p.text.u-gray Здесь будут отображаться результаты поиска
            div.u-mb-32px
                p.subcaption 12 результатов
            .row
                .columns.twelve-columns.nine-columns-desktop.u-pr-32px-desktop
                    +card2(cards[1])
                .columns.twelve-columns.three-columns-desktop
                    p.text.u-bold Не нашли товар в списке? Вы можете добавить свой товар в нашу базу.
                    p.text.u-gray Через какое-то время он обновиться в списке и вы сможете оставить свой отзыв.

                    button(type="button").button.button--light.button--fullw Добавить товар