extends base

block main
    section.section.section--gray.u-pt-16px.u-pb-48px.u-pt-32px-desktop
        .container
            +breadcrumbs({link: 'index.html', title: 'Главная'}, 'Оставить отзыв')

            h1.caption.u-mb-32px-desktop Шаг 1: выберите товар

            p.text Найдите товар на который хотите оставить отзыв
            +search('Поиск товара')
    section.section.u-my-48px
        .container
            div.u-mb-32px
                p.subcaption 0 результатов
                p.text.u-mb-0 По вашему запросу ничего не найдено, попробуйте изменить запрос
            .row
                .columns.twelve-columns.nine-columns-desktop.u-pr-32px-desktop

                    .jumbotron.jumbotron--padding.u-pt-16px-only-phone
                        p.caption-3 Не нашли товар?
                        p.text Ничего страшного, вы можете воспользоваться формой ниже, мы соберем информацию о товаре и уведомим вас, когда он появиться у нас на сайте.

                        +inputWithAppend('Название товара или ссылка', 'Название товара или ссылка', true)
                        +textarea('Комментарий', 'Комментарий', true)
                        +input('Ваша почта', 'Ваша почта', true)(type="email")
                        button(type="submit").button.button--fullw-phone Отправить

                .columns.twelve-columns.three-columns-desktop
