extends base

block main
    .blind
        .blind__visible
            .u-row-between.u-bold
                strong Уровень заполненности отзыва
                storng 25%
            .progressbar.u-mb-0
                .progressbar__bar.progressbar__bar--gray.progressbar__bar--25
        .blind__hidden
            p.text.u-gray Какой-то текст обьясняющий в чем выгода фулл заполненного отзыва
            p.text.u-bold Общая оценка
            p.text.u-gray (Формируется автоматически)

            .rating.rating--inverse.u-mb-32px.u-mt-8px
                + stars-big(4.3)
                span.rating-value 4,3

        button(type="button").blind__button
            +svg-arrow-down(10, 6)
    section.section.section--gray.u-pt-16px.u-pb-48px.u-pt-32px-desktop
        .container
            +breadcrumbs({link: 'index.html', title: 'Главная'}, 'Оставить отзыв')

            h1.caption Шаг 2: оцените параметры

            .review-product
                img.review-product__image(src="assets/images/s10.png")
                p.review-product__name Смартфон Samsung Galaxy S10e 6/128GB
                span.review-product__remove
                    +svg-cross-bold(16, 16)
    section.section.u-my-48px.u-mb-80px-desktop
        .container
            .row
                .columns.twelve-columns.eight-columns-desktop
                    -
                        let params = [
                            {title: 'Соотношение цена/качество', value: 4},
                            {title: 'Камера', value: 4},
                            {title: 'Процессор'},
                            {title: 'Аккумулятор'},
                            {title: 'Вес'},
                            {title: 'Корпус'},
                            {title: 'Диагональ'},
                            {title: 'Защита'},
                            {title: 'Связь'}
                        ];

                    p.subcaption Вы рекомендуете этот товар к покупке ?
                    div.u-mb-32px
                        label
                            button(type = "button").button.button--tiny.button--rounded.button--w-auto Да
                            input(type="radio", name="recommend", value="1", class="visually-hidden")
                        label.u-ml-16px
                            button(type = "button").button.button--tiny.button--rounded.button--w-auto Нет
                            input(type="radio", name="recommend", value="2", class="visually-hidden")
                        label.u-ml-16px
                            button(type = "button").button.button--tiny.button--rounded.button--w-auto Не знаю
                            input(type="radio", name="recommend", value="3", class="visually-hidden")

                    div
                        each param in params
                            div.u-mb-32px
                                h3.subcaption= param.title
                                if param.value
                                    .rating.rating--22
                                        + stars-selectable(param.value)
                                        span.rating-value= param.value
                                else
                                    .rating.rating--22
                                        +stars-selectable()

                                + textarea('Напишите ваше мнение о параметре', "Напишите ваше мнение о параметре", true)

                    div.u-row-between
                        a(href="#", class = "button disabled button--light button--sm", disabled) Назад
                        a(href="step3.html", class = "button button--sm") Вперед

                .columns.twelve-columns.three-columns-desktop.one-offset-desktop.u-only-desktop
                    p.text.u-bold.u-mb-8px Общая оценка
                    p.text.u-gray (Формируется автоматически)

                    .rating.rating--inverse.u-mb-32px.u-mt-8px
                        + stars-big(4.3)
                        span.rating-value 4,3

                    p.text.u-bold Уровень заполненности отзыва
                    p.text.u-gray Какой-то текст обьясняющий в чем выгода фулл заполненного отзыва

                    .progressbar
                        .progressbar__prepend
                            span 25
                        .progressbar__bar.progressbar__bar--gray.progressbar__bar--25

                    button(type="button").button.button--light.button--fullw Сохранить как черновик



