extends base

block main
    section.section.section--gray.u-pt-16px.u-pb-48px.u-pt-32px-desktop
        .container
            +breadcrumbs({link: 'index.html', title: 'Главная'}, 'Оставить отзыв')

            h1.caption.u-mb-32px-desktop Шаг 1: выберите товар

            p.text Найдите товар на который хотите оставить отзыв
            +search('Поиск товара')
    section.section.u-my-48px
        .container
            div.u-mb-32px
                p.subcaption 0 результатов
                p.text.u-mb-0 По вашему запросу ничего не найдено, попробуйте изменить запрос
            .row
                .columns.twelve-columns.nine-columns-desktop.u-pr-32px-desktop

                    .jumbotron.jumbotron--padding.u-pb-16px-only-phone

                        div.u-mb-16px
                           +svg-logo(183, 48)

                        p.caption-3 Спасибо! <br> Ваша заявка отправлена
                        p.text.u-mb-32px Наши модераторы уже собирают информацию о товаре, мы уведомим вас о том, когда можно будет оставить отзыв.

                        button(type="submit").button.button--fullw-phone Добавить еще товар

                .columns.twelve-columns.three-columns-desktop
