extends base

block main

    section.section.section--gray.u-pt-16px.u-pb-32px.u-pt-32px-desktop.u-pb-48px-desktop
        .container
            +breadcrumbs({link: 'index.html', title: 'Главная'}, 'Условия использования')
            h1.caption.u-mb-0 Условия использования
    section.section.u-pb-48px.u-pb-80px-desktop.u-mt-48px
        .container
            .section__item
                h2.subcaption Использование сервиса
                p.text Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum, quia dolor sit, amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt, ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit, qui in ea voluptate velit esse, quam nihil molestiae consequatur, vel illum, qui dolorem eum fugiat, quo voluptas nulla pariatur? At vero eos et accusamus et iusto odio dignissimos ducimus, qui blanditiis praesentium voluptatum deleniti atque corrupti, quos dolores et quas molestias excepturi sint, obcaecati cupiditate non provident, similique sunt in culpa, qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, quo minus id, quod maxime placeat, facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet, ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
            .section__item
                h2.subcaption Использование сервиса
                p.text В качестве условия использования Сервиса Вы гарантируете, что:
                ol.ordered-list
                    li Вся информация, предоставляемая с помощью Сервиса Компаниям ServiceRating.ru, является достоверной, точной, актуальной и полной;
                    li Если Вы являетесь Владельцем учетной записи, Вы будете обеспечивать защиту данных своей учетной записи, контролировать и нести полную ответственность за любое использование своей учетной записи другими лицами;
                    li Вы обладаете юридическими полномочиями для заключения настоящего Соглашения и использования Сервиса, в том числе нашего веб-сайта, в соответствии со всеми положениями и условиями настоящего Соглашения.

            .section__item
                h2.subcaption Запрещенная деятельность
                p.text Мы собираем и храним любую информацию, которую Вы вводите на нашем Веб-сайте или передаете нам каким-либо иным образом. К таким сведениям относятся данные, позволяющие идентифицировать Вас или связываться с Вами напрямую (персональные данные).
                p.text К персональным данным относится информация, которую Вы предоставляете нам, включая Ваши имя, фамилию, номер телефона, почтовый и электронный адреса, имя пользователя и пароль.
                p.text Вы можете не предоставлять нам такую информацию, однако некоторые из этих сведений необходимы для того, чтобы Вы могли получать соответствующие предложения от компании ServiceRating.ru, а также пользоваться другими преимуществами в качестве зарегистрированного пользователя. Например, только зарегистрированные пользователи могут оставлять отзывы о сервисном центре, задавать вопросы, выставлять оценки, передавать содержимое ServiceRating.ru по электронной почте себе и другим пользователям, просматривать рассылки и материалы, доступные только зарегистрированным пользователям. Кроме того, некоторая информация необходима нам для того, чтобы Вы могли задавать нам вопросы или взаимодействовать с нами на нашем сайте каким-либо иным образом.
                p.text.u-mb-0 Мы можем также собирать другие сведения, например IP-адрес, информацию, идентифицирующую Ваше устройство, а также историю просмотра веб-сайтов, в той степени, в какой такая информация касается Вас.
