extends base-account

block vars
    - let nav = 'Вывод средств'

block main

    .container
        section.section.u-pb-48px.u-pb-80px-desktop
            .row
                .columns.twelve-columns.ten-columns-desktop.two-offset-desktop

                    h2.caption-2 Вывести средства

                    .u-row-between-desktop.u-mb-16px
                        div
                            strong.u-d-block-not-desktop.u-mb-8px-not-desktop Всего средств:#[span.u-primary.u-ml-8px 1 000 ₽]
                            strong.u-d-block-not-desktop.u-mb-8px-not-desktop.u-ml-32px-desktop На модерации:#[span.u-primary.u-ml-8px 500 ₽]
                        div
                            +link('#', 'История выводов и зачислений')(class="link--primary-theme link--bolder")

                    hr.u-my-32px.lighter
                    p.text.text--bigger Перед выводом средств ознакомьтесь с нашими правилами
                    ul.unordered-list.unordered-list--not-padding
                        li Вывод средств с разных аккаунтов на одинаковые реквизиты невозможен
                        li Указывайте только реальные, зарегистрированные данные
                        li Ваша заявка будет обработана в течение 1-3 рабочих дней
                        li Если заявка находится «В ожидании» более 2 дней — проверьте почту
                    hr.u-my-32px.lighter
                    p.text Выберите способ вывода:

                    .payments.u-mb-32px
                        -
                            let payments = [
                                {value : 'maestro', checked : false},
                                {value : 'mastercard', checked : true},
                                {value : 'visa', checked : false},
                                {value : 'qiwi', checked : false},
                                {value : 'yandex-money', checked : false},
                                {value : 'webmoney', checked : false},
                                {value : 'mir', checked : false},
                                {value : 'paypal', checked : false},
                            ]
                        .payments-wrapper.row
                            each payment, index in payments
                                .columns.three-columns-desktop.u-mb-16px-desktop.payment-slide
                                    label(for=`payment-${index}`).payment
                                        input(id=`payment-${index}`, type="radio", class="visually-hidden payment__radio", name='payment', value=`${payment.value}`, checked=payment.checked)
                                        .payment__check
                                        img(src=`assets/images/${payment.value}.png`)

                    p.text.u-mb-16px
                        strong.text.text--bigger.u-d-block-not-desktop Способ вывода:
                        |
                        | Банк. карта, MasterCard (Россия)
                    .row
                        .columns.twelve-columns.six-columns-desktop
                            +input('Номер карты', 'Номер карты', true)
                        .columns.twelve-columns.six-columns-desktop
                            +input('Имя владельца карты', 'Имя владельца карты', true)
                        .columns.twelve-columns.six-columns-desktop
                            +input('Сумма вывода', 'Сумма вывода', true)
                                .input__append.input__append--not-border
                                    +svg-rub(13, 14)(class="u-gray")
                        .columns.twelve-columns.six-columns-desktop
                            div.u-icon-span.u-greeny.u-mb-16px-not-desktop
                                +svg-lock(12, 16)(class="u-mr-8px")
                                div
                                    p Защищенное соединение.
                                    p Ваши данные в безопасности.
                    button(type="button").button.u-mb-32px.button--fullw-phone Вывести средства

                    p.text.u-mb-48px Продолжая, Вы соглашаетесь с нашими
                        |
                        |
                        +link('#', 'условиями использования')(class="link--primary-theme")
                        |
                        | и подтверждаете, что прочли нашу
                        |
                        +link('', 'Политику конфиденциальности')(class="link--primary-theme")
                        | .
                    +tabs([{name: 'История выводов', link: 'tab-1', active: true}, {name: 'История зачислений', link: 'tab-2'}])(class="u-mb-32px u-only-desktop")

                    .select.u-not-desktop.u-mb-32px
                        .select__box
                            +svg-arrow-down(10, 7)(class='select__arrow')
                            .select__value(tabindex="0", aria-label=label)
                                .select__value-inner История выводов
                            ul.select__list.nav(role="tablist")
                                li.select__option
                                    a(href="#tab-1", data-toggle="tab", role="tab") История выводов
                                li.select__option
                                    a(href="#tab-2", data-toggle="tab", role="tab") История зачислений

                    .tab-content
                        div.tab-pane.fade.show.active#tab-1(role="tabpanel")
                            .table-wrapper
                                table.table
                                    thead.table__head
                                        tr
                                            th Дата
                                            th Способ
                                            th Сумма
                                            th Статус
                                    tbody.table__body
                                        -
                                            let rows = [
                                                {datetime: '2019-02-12 19:44:59', date : '12.02.2019', time: '19:44:59', option: 'MasterCard', sum: '500.00 ₽', status: 'В ожидании'},
                                                {datetime: '2019-02-12 19:44:59', date : '12.02.2019', time: '19:44:59', option: 'MasterCard', sum: '500.00 ₽', status: 'Отклонено'},
                                                {datetime: '2019-02-12 19:44:59', date : '12.02.2019', time: '19:44:59', option: 'MasterCard', sum: '500.00 ₽', status: 'Успешно'},
                                                {datetime: '2019-02-12 19:44:59', date : '12.02.2019', time: '19:44:59', option: 'MasterCard', sum: '500.00 ₽', status: 'Успешно'},
                                                {datetime: '2019-02-12 19:44:59', date : '12.02.2019', time: '19:44:59', option: 'MasterCard', sum: '500.00 ₽', status: 'Успешно'},
                                                {datetime: '2019-02-12 19:44:59', date : '12.02.2019', time: '19:44:59', option: 'MasterCard', sum: '500.00 ₽', status: 'Отклонено'},
                                                {datetime: '2019-02-12 19:44:59', date : '12.02.2019', time: '19:44:59', option: 'MasterCard', sum: '500.00 ₽', status: 'Успешно'},
                                                {datetime: '2019-02-12 19:44:59', date : '12.02.2019', time: '19:44:59', option: 'MasterCard', sum: '500.00 ₽', status: 'Отклонено'},
                                                {datetime: '2019-02-12 19:44:59', date : '12.02.2019', time: '19:44:59', option: 'MasterCard', sum: '500.00 ₽', status: 'Отклонено'},
                                                {datetime: '2019-02-12 19:44:59', date : '12.02.2019', time: '19:44:59', option: 'MasterCard', sum: '500.00 ₽', status: 'Успешно'},
                                                {datetime: '2019-02-12 19:44:59', date : '12.02.2019', time: '19:44:59', option: 'MasterCard', sum: '500.00 ₽', status: 'Успешно'},
                                            ]
                                        each row in rows
                                            tr
                                                td
                                                    time.datetime(datetime=row.datetime)
                                                        span.datetime__date= row.date
                                                        span.datetime__time= row.time
                                                td= row.option
                                                td= row.sum
                                                td
                                                    .u-icon-span
                                                        if (row.status == 'Успешно')
                                                            +svg-success(14, 14)
                                                        else if (row.status == 'Отклонено')
                                                            +svg-error(14, 14)
                                                        else
                                                            +svg-refresh(14 ,14)
                                                        span= row.status
                        div.tab-pane.fade#tab-2(role="tabpanel")
                            .table-wrapper
                                table.table
                                    thead.table__head
                                        tr
                                            th Дата
                                            th Причина
                                            th Сумма
                                            th Статус
                                    tbody.table__body
                                        -
                                            rows = [
                                                {datetime: '2019-02-12 19:44:59', date: '12.02.2019', time: '19:44:59', name: 'Иванов И.И.', type: 'Реферал',  sum: '500.00 ₽', status: 'В ожидании'},
                                                {datetime: '2019-02-12 19:44:59', date: '12.02.2019', time: '19:44:59', name: 'Иванов И.И.', type: 'Реферал',  sum: '500.00 ₽', status: 'В ожидании'},
                                                {datetime: '2019-02-12 19:44:59', date: '12.02.2019', time: '19:44:59', name: '/2565464653', type: 'Отзыв',  sum: '500.00 ₽', status: 'В ожидании'},
                                                {datetime: '2019-02-12 19:44:59', date: '12.02.2019', time: '19:44:59', name: 'Иванов И.И.', type: 'Реферал',  sum: '500.00 ₽', status: 'В ожидании'},
                                                {datetime: '2019-02-12 19:44:59', date: '12.02.2019', time: '19:44:59', name: '/2565464653', type: 'Отзыв',  sum: '500.00 ₽', status: 'В ожидании'},
                                                {datetime: '2019-02-12 19:44:59', date: '12.02.2019', time: '19:44:59', name: '/2565464653', type: 'Отзыв',  sum: '500.00 ₽', status: 'В ожидании'},
                                                {datetime: '2019-02-12 19:44:59', date: '12.02.2019', time: '19:44:59', name: 'Иванов И.И.', type: 'Реферал',  sum: '500.00 ₽', status: 'В ожидании'},
                                            ]
                                        each row in rows
                                            tr
                                                td
                                                    time.datetime(datetime=row.datetime)
                                                        span.datetime__date= row.date
                                                        span.datetime__time= row.time
                                                td
                                                    if (row.type == 'Реферал')
                                                        p.text.u-mb-8px= row.name
                                                    else
                                                        p.text.u-mb-8px
                                                            +link(row.name, row.name)(class="link--primary-theme")
                                                    p.subtext= row.status

                                                td= row.sum
                                                td
                                                    .u-icon-span
                                                        if (row.status == 'Успешно')
                                                            +svg-success(14, 14)
                                                        else if (row.status == 'Отклонено')
                                                            +svg-error(14, 14)
                                                        else
                                                            +svg-refresh(14 ,14)
                                                        span= row.status

                    button(type="button").button.button--light.u-not-desktop.button--fullw Показать еще
