.progressbar__bar {
  position: relative;

  display: block;
  size: 100% 5px;

  background: #E3E4EA;
  border-radius: 10px;

  overflow: hidden;

  &:after {
    content: '';
    position: absolute 0 100% 0 0;
    z-index: 1;

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    background: #7381FB;
  }

  &--gray {
    background-color: #F4F5F9;
    &:after {
      background: #C6CBE1;
    }
  }

  &--green {
    background-color: #F4F5F9;
    &:after {
      background: #52B69E;
    }
  }
}

// MODIFIERS
$j : 0.0;
@while $j < 5.0 {
  $tmp : $j;

  @if (str_length(quote($j)) == 1) {
    $tmp : $tmp + '.0';
  }
  $selector : str-replace(quote($tmp), '\.', '\\.');

  .progressbar__rating--#{$selector} {
    @if ($j < 3.0) {
      background: #FF6F5D;
    } @else if ($j < 4.0) {
      background: #FA8D50;
    } @else {
      background: #52B65C;
    }
  }

  .progressbar__bar--#{$selector} {
    &:after {
      right: calc(100% - 100% * #{$j} / 5);

      @if ($j < 3.0) {
        background: #FF6F5D;
      } @else if ($j < 4.0) {
        background: #FA8D50;
      } @else {
        background: #52B65C;
      }
    }
  }
  $j: $j + 0.1;
}

@for $i from 0 through 100 {
  .progressbar__bar--#{$i} {
    &:after {
      right: calc(100% - #{$i} * 1%);
    }
  }
}