.progressbar__rating {
  display: inline-block;
  size: 31px 16px;

  font-weight: 500;
  font-size: 14px / 16px;
  color: #ffffff;
  text-align: center;

  background-color: #5AA95B;
  border-radius: 2px;
}

$j : 0.0;
@while $j < 5.0 {
  $tmp : $j;

  @if (str_length(quote($j)) == 1) {
    $tmp : $tmp + '.0';
  }
  $selector : str-replace(quote($tmp), '\.', '\\.');

  .progressbar__rating--#{$selector} {
    @if ($j < 3.0) {
      background: #FF6F5D;
    } @else if ($j < 4.0) {
      background: #FA8D50;
    } @else {
      background: #5AA95B;
    }
  }

  $j: $j + 0.1;
}