.progressbar__prepend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;

  font-weight: 500;

  @include _media('<desktop') {
    font-size: 14px;
  }
}