.images {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fill, calc(50% - 16px));

  @include _media(">=tablet") {
    grid-template-columns: repeat(auto-fill, calc(33.3333% - 16px));
  }

  @include _media('>=desktop') {
    grid-template-columns: repeat(auto-fill, calc(20% - 16px));
  }


}

.image-wrapper {
  position: relative;

  width: 100%;
  min-width: calc(100% / 5);

  border-radius: 10px;
  overflow: hidden;

  &:after {
    content: '';
    display: block;
    padding-bottom: 78.57%;
  }
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  display: block;
  size: 100%;
  object-fit: cover;
  object-position: center;
}