.rating-link {
  position: absolute;
  top: 50%;
  right: 16px;

  transform: translateY(-50%);

  display: inline-flex;
  align-items: center;
  flex-shrink: 0;

  @include _media('>=desktop') {
    position: static;

    transform: translateY(0);
  }
}

.rating-link {
  white-space: nowrap;
}