.circled-icon {
  display: inline-block;
  size: 14px;
  padding: 0;

  line-height: 14px;

  background-color: #9FA4B9;
  background-position: 50% calc(50% + 0.5px);
  background-repeat: no-repeat;
  border-radius: 50%;

}

// MODIFIERS

.circled-icon {
  &--success {
    background-color: #52B65C;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='7' viewBox='0 0 8 7' fill='none'%3E%3Cpath d='M0.6 3L2.9 5.3 7.4 0.7' style='stroke-width:1.5;stroke:white'/%3E%3C/svg%3E");
  }

  &--error {
    background-color: #EB5757;
  }
}