.button-group {
  font-size: 0;

  & > button {
    font-size: 16px;
  }

  & > button + button{

    margin-top: 16px;

    @include _media('>=tablet') {
      margin-top: 0;
      margin-left: 24px;
    }

  }
}