.link {
  font-weight: 500;
  font-size: inherit;

  color: #091032;

  transition: color $transition-duration;

  outline: none;

  &:hover,
  &:focus {
    color: #7381FB;
  }

  &:active {
    color: #5664DF;
  }
}

.link__icon {
  margin-right: 8px;
}

// Modifiers

.link {

  &--iconed {
    display: inline-flex;
    align-items: center;
    line-height: 1;

    svg {
      margin-left: 8px;
    }
  }

  &--orangy {
    color: #EE9166;

    &:hover,
    &:focus {
      color: #E67738;
    }
  }

  &--active {
    color: #7381FB;
  }

  &--bolder {
    font-weight: bold;
  }

  &--lighter {
    font-weight: 400;
  }

  &--smaller {
    font-size: 14px;
  }

  &--primary-theme {
    color: #7381FB;

    &:hover,
    &:focus {
      color: #FA8D50;
    }

    &:active {
      color: #E67738;
    }
  }

  &--reded {
    color: #EB5757;

    &:hover,
    &:focus,
    &:active {
      color: #FA8D50;
    }
  }

  &--disabled {
    pointer-events: none;
    color: #9FA4B9;

    &:hover,
    &:focus {
      color: #9FA4B9;
    }
  }
}