.message {
  display: none;

  & > * + * {
    margin-top: 8px;
  }

  &.show {
    display: block;
  }
}

.message__text {
  font-weight: bold;
  font-size: 16px;
  color: #EB5757;
}

.message__extra {
  font-weight: normal;
  font-size: 14px;
  color: #525252;
}