.payment {
  position: relative;

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 32px;

  line-height: 0;

  background: #FFFFFF;
  box-shadow: 0px 4px 30px rgba(83, 95, 148, 0.1);
  border-radius: 10px;

  cursor: pointer;

  transition: 0.5s;

  &:hover,
  &:focus {
    box-shadow: 0px 4px 30px rgba(83, 95, 148, 0.25);
  }

  @include _media(">=desktop") {
    padding: 42px 48px;
  }
}

.payment__check {
  position: absolute;
  top: 8px;
  left: 8px;

  display: block;
  size: 14px;

  border: 1px solid #C6CBE1;
  border-radius: 100%;
}

.payment__radio:checked ~ .payment__check{
  border-color: $primary-color;
  background-color: $primary-color;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='7' viewBox='0 0 8 7' fill='none'%3E%3Cpath d='M0.6 3L2.9 5.3 7.4 0.7' style='stroke-width:1.5;stroke:white'/%3E%3C/svg%3E");
  background-position: center center;
  background-repeat: no-repeat;
}

.payments-wrapper {
  position: relative;
  z-index: 1;

  display: flex;
  size: 100%;
  flex-wrap: nowrap;
  transition-property: transform;

  transform: translate3d(0px,0,0);

  @include _media(">=desktop") {
    flex-wrap: wrap;
  }
}

.payment-slide {
  flex-shrink: 0;
}
